Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

.lintstagedrc.json:

{
  "*.{ts,js}": "eslint --cache",
  "*.{scss,css}": "stylelint",
  "*.{ts,scss,html,md,js,css}": "prettier --check"
}

feat: 14.0.9 improve toast styling if no message
  src/framework/theme/components/toastr/toast.component.html
  src/framework/theme/package.json
Due: prettier --check

feat: 14.0.11 replaceUrl in menu
  src/framework/theme/components/button-group/button-toggle.directive.ts
  src/framework/theme/components/menu/menu-item.component.html
  src/framework/theme/components/menu/menu.service.ts
  src/framework/theme/package.json
Due: eslint --cache, prettier --check

feat: 14.0.12 revert replaceUrl
  src/framework/theme/components/menu/menu-item.component.html
  src/framework/theme/components/menu/menu.service.ts
  src/framework/theme/package.json
Due: eslint --cache, prettier --check

feat: 14.0.13 menu: also check for navigation skipped events
  src/framework/theme/components/menu/menu.component.ts
  src/framework/theme/package.json
Due: eslint --cache, prettier --check

feat: 14.0.14 nb-tabset: type tabChange
  src/framework/theme/components/tabset/tabset.component.ts
  src/framework/theme/package.json
Due: eslint --cache, prettier --check

feat: 14.0.17 remove logs
  package.json
  src/framework/theme/package.json
Due: none

feat: 14.0.18 chat files overhaul
  src/app/playground-components.ts
  src/framework/theme/components/chat/_chat.component.theme.scss
  src/framework/theme/components/chat/chat-form.component.ts
  src/framework/theme/components/chat/chat-message-file.component.ts
  src/framework/theme/components/chat/chat-message-map.component.ts
  src/framework/theme/package.json
  src/playground/playground-routing.module.ts
  src/playground/with-layout/chat/bot-replies.ts
  src/playground/with-layout/chat/chat-conversation-showcase.component.html
  src/playground/with-layout/chat/chat-drop-with-button.component.html
  src/playground/with-layout/chat/chat-drop-with-button.component.ts
  src/playground/with-layout/chat/chat-message-types-showcase.component.ts
  src/playground/with-layout/chat/chat-routing.module.ts
  src/playground/with-layout/chat/chat-showcase.component.ts
  src/playground/with-layout/chat/chat-showcase.service.ts
  src/playground/with-layout/chat/chat.module.ts
  src/playground/with-layout/chat/messages.ts
Due: eslint --cache, stylelint, prettier --check

feat: 14.0.19 debounce navigation events to prevent needlessly updating the active menu item + fix build
  src/framework/theme/components/menu/menu.component.ts
  src/framework/theme/package.json
  src/tsconfig.wp.json
Due: eslint --cache, prettier --check

feat: 14.0.20 fix mimeTypes in chat
  package.json
  src/framework/theme/components/chat/chat-form.component.ts
  src/framework/theme/components/chat/chat-mime-to-icon.pipe.ts
  src/framework/theme/components/chat/chat.module.ts
  src/framework/theme/package.json
  src/playground/with-layout/chat/chat-drop-with-button.component.html
  src/playground/with-layout/chat/chat-drop-with-button.component.ts
Due: eslint --cache, prettier --check

feat: 14.0.20 export pipe
  src/framework/theme/public_api.ts
Due: eslint --cache, prettier --check

feat: 14.0.21 convert pipe to use regex
  src/framework/theme/components/chat/chat-mime-to-icon.pipe.ts
  src/framework/theme/package.json
  src/playground/with-layout/chat/chat-drop-with-button.component.ts
Due: eslint --cache, prettier --check

feat(theme): support for closing dialog on navigation
  src/framework/theme/components/dialog/dialog-config.ts
  src/framework/theme/components/dialog/dialog.service.ts
Due: eslint --cache, prettier --check

fix: readme + date check
  README.md
  src/framework/theme/components/chat/chat-message-text.component.ts
  src/framework/theme/package.json
Due: eslint --cache, prettier --check

DOCS: changing to Quicksand
  docs/index.html
Due: prettier --check

fix: scrollbar styling for firefox
  src/framework/theme/package.json
  src/framework/theme/styles/core/_mixins.scss
Due: stylelint, prettier --check

remove wrong mit license
  LICENSE.txt
Due: none

feat: update angular to v20
  eslint.config.mjs
  package-lock.json
  package.json
  src/app/playground-components.ts
  src/framework/theme/components/calendar-kit/components/calendar-picker/calendar-picker-row.component.ts
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay-handler.spec.ts
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay.spec.ts
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay.ts
  src/framework/theme/components/cdk/overlay/mapping.ts
  src/framework/theme/components/cdk/overlay/overlay-container.ts
  src/framework/theme/components/cdk/overlay/overlay-service.ts
  src/framework/theme/components/cdk/table/table.module.ts
  src/framework/theme/components/datepicker/date-timepicker.component.ts
  src/framework/theme/components/datepicker/datepicker.component.ts
  src/framework/theme/components/dialog/dialog.service.ts
  src/framework/theme/components/popover/popover.component.ts
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.spec.ts
  src/framework/theme/components/spinner/spinner.directive.ts
  src/framework/theme/components/toastr/toastr.service.spec.ts
  src/framework/theme/components/toastr/toastr.service.ts
  src/framework/theme/components/tree-grid/tree-grid.component.ts
  src/framework/theme/components/window/window.component.ts
  src/framework/theme/components/window/window.service.ts
  src/playground/playground-routing.module.ts
  src/playground/playground.module.ts
  src/playground/without-layout/firebase/identity-proders-auth-showcase/identity-providers-auth-showcase.component.html
  src/playground/without-layout/firebase/password-auth-showcase/password-auth-showcase.component.html
Due: eslint --cache, prettier --check

fix: sonar error fix
  src/framework/theme/components/cdk/overlay/overlay-container.ts
  src/framework/theme/components/dialog/dialog.service.ts
  src/framework/theme/components/spinner/spinner.directive.ts
  src/framework/theme/components/tree-grid/tree-grid.component.ts
Due: eslint --cache, prettier --check

fix: datepicker import for root
  src/app/app.module.ts
  src/app/playground-components.ts
  src/playground/playground-routing.module.ts
Due: eslint --cache, prettier --check

feat(tag): allow customizing remove icon
  src/framework/theme/components/tag/tag.component.html
  src/framework/theme/components/tag/tag.component.ts
  src/framework/theme/components/tag/tag.spec.ts
Due: eslint --cache, prettier --check

feat(tag) small fix to not break the current implementation
  src/framework/theme/components/tag/tag.component.ts
Due: eslint --cache, prettier --check

remove postinstall
  package.json
Due: none

disable husky
  .husky/.gitignore
  .husky/pre-commit
Due: none

perform base migration to angular 20
  angular.json
  package-lock.json
  package.json
  src/framework/theme/components/cdk/overlay/overlay-trigger.spec.ts
  src/framework/theme/theme.module.ts
  tsconfig.json
Due: eslint --cache, prettier --check

update and enable husky
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

update @schematics/angular
  package-lock.json
  package.json
Due: none

revert postinstall
  package-lock.json
  package.json
Due: none

remove usage of ComponentFactory and ComponentFactoryResolver
  src/framework/theme/components/calendar-kit/components/calendar-picker/calendar-picker-row.component.ts
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay-handler.spec.ts
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay.spec.ts
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay.ts
  src/framework/theme/components/cdk/overlay/overlay-container.ts
  src/framework/theme/components/cdk/overlay/overlay-service.ts
  src/framework/theme/components/datepicker/date-timepicker.component.ts
  src/framework/theme/components/datepicker/datepicker.component.ts
  src/framework/theme/components/dialog/dialog.service.ts
  src/framework/theme/components/popover/popover.component.ts
  src/framework/theme/components/spinner/spinner.directive.ts
  src/framework/theme/components/toastr/toastr.service.spec.ts
  src/framework/theme/components/toastr/toastr.service.ts
  src/framework/theme/components/window/window.component.ts
  src/framework/theme/components/window/window.service.ts
Due: eslint --cache, prettier --check

remove usage of PortalInjector
  src/framework/theme/components/cdk/overlay/mapping.ts
  src/framework/theme/components/cdk/overlay/overlay-container.ts
  src/framework/theme/components/dialog/dialog.service.ts
Due: eslint --cache, prettier --check

remove usage of _COALESCED_STYLE_SCHEDULER and _CoalescedStyleScheduler
  src/framework/theme/components/cdk/table/table.module.ts
  src/framework/theme/components/tree-grid/tree-grid.component.ts
Due: eslint --cache, prettier --check

fix eslint usage
  angular.json
  eslint.config.mjs
  package-lock.json
  package.json
  src/playground/without-layout/firebase/identity-proders-auth-showcase/identity-providers-auth-showcase.component.html
  src/playground/without-layout/firebase/password-auth-showcase/password-auth-showcase.component.html
Due: prettier --check

fix pre-commit
  .husky/pre-commit
Due: none

update moment import
  src/framework/moment/services/moment-date.service.ts
Due: eslint --cache, prettier --check

update peerDependencies
  src/framework/auth/package.json
  src/framework/firebase-auth/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: none

ng update for packages-smoke
  packages-smoke/angular.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  packages-smoke/server.ts
  packages-smoke/src/server.ts
  packages-smoke/tsconfig.app.json
  packages-smoke/tsconfig.json
  packages-smoke/tsconfig.server.json
Due: eslint --cache, prettier --check

update angular-eslint
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

dedupe
  package-lock.json
Due: none

update @types/node, bump angular and nebular for packages-smoke
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
Due: none

fix main.server.ts
  packages-smoke/src/main.server.ts
Due: eslint --cache, prettier --check

fix server.ts
  packages-smoke/src/server.ts
Due: eslint --cache, prettier --check
