Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

.lintstagedrc.json:

{
  "*.{ts,js}": "eslint --cache",
  "*.{scss,css}": "stylelint",
  "*.{ts,scss,html,md,js,css}": "prettier --check"
}

ci-deploy
  .github/workflows/deploy-docs.yml
  package.json
  tools/deploy-docs/build-docs.ts
Due: eslint --cache, prettier --check

ci-deploy
  .github/workflows/deploy-docs.yml
  package.json
  tools/deploy-docs/config.ts
Due: eslint --cache, prettier --check

ci-deploy
  .github/workflows/deploy-docs.yml
Due: none

ci-deploy
  docs/versions.json
Due: none

ci-deploy
  docs/app/@theme/services/version.service.ts
  tools/deploy-docs/build-docs.ts
Due: eslint --cache, prettier --check

ci-deploy
  tools/deploy-docs/build-docs.ts
Due: eslint --cache, prettier --check

ci-deploy
  docs/app/@theme/services/version.service.ts
  docs/environments/environment.prod.ts
Due: eslint --cache, prettier --check

ci-deploy
  .github/workflows/deploy-docs.yml
  package.json
Due: none

ci-deploy
  .github/workflows/deploy-docs.yml
  package.json
  tools/deploy-docs/build-docs.ts
  tools/deploy-docs/config.ts
Due: eslint --cache, prettier --check

ci-deploy
  docs/app/@theme/components/header/header.component.ts
  docs/app/@theme/services/version.service.ts
  docs/environments/environment.prod.ts
Due: eslint --cache, prettier --check

ci-deploy
  docs/app/@theme/services/version.service.ts
Due: eslint --cache, prettier --check

fix(autocomplete): show overlay after options change
  src/framework/theme/components/autocomplete/autocomplete.directive.ts
Due: eslint --cache, prettier --check

ci-deploy
  .github/workflows/deploy-docs.yml
  docs/app/@theme/services/version.service.ts
  docs/versions.json
  tools/deploy-docs/build-docs.ts
  tools/deploy-docs/config.ts
Due: eslint --cache, prettier --check

ci-deploy
  docs/app/@theme/services/version.service.ts
  tools/deploy-docs/config.ts
Due: eslint --cache, prettier --check

ci-deploy
  docs/version.ts
Due: eslint --cache, prettier --check

chore(lint): bump Angular ESLint to 13 stable (#2981)
  package-lock.json
  package.json
Due: none

Revert "release: 9.0.0 (#2975)"
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

feat: update button text transform
  src/framework/theme/styles/themes/_mapping.scss
Due: stylelint, prettier --check

docs: update install
  docs/articles/guides/install.md
Due: prettier --check

feat(accordion): allow remove expansion indicator button and disable toggleable item header
  src/framework/theme/components/accordion/accordion-item-header.component.scss
  src/framework/theme/components/accordion/accordion-item-header.component.ts
Due: eslint --cache, stylelint, prettier --check

feat(date-time picker): add dateTimeChange output
  docs/structure.ts
  src/framework/theme/components/datepicker/date-timepicker.component.ts
Due: eslint --cache, prettier --check

fix(menu): accessibility fix
  src/framework/theme/components/menu/menu-item.component.html
Due: prettier --check

fix(timepicker): change position adjustment to "counterclockwise"
  src/framework/theme/components/timepicker/timepicker.directive.ts
Due: eslint --cache, prettier --check

fix format - to ' - '
  src/framework/theme/components/datepicker/datepicker-adapter.ts
Due: eslint --cache, prettier --check

fix: add support of hidden attribute in form field
  src/framework/theme/components/form-field/form-field.component.scss
Due: stylelint, prettier --check

feat: add initial select search
  src/framework/theme/components/select/select.component.html
  src/framework/theme/components/select/select.component.scss
  src/framework/theme/components/select/select.component.ts
  src/framework/theme/components/select/select.module.ts
Due: eslint --cache, stylelint, prettier --check

feat: add temp demo
  src/app/playground-components.ts
  src/playground/with-layout/select/select-routing.module.ts
  src/playground/with-layout/select/select-search-showcase.component.html
  src/playground/with-layout/select/select-search-showcase.component.ts
  src/playground/with-layout/select/select.module.ts
Due: eslint --cache, prettier --check

feat: update real icon
  src/framework/eva-icons/customIcons.ts
Due: eslint --cache, prettier --check

fix: remove key handler if search input is active
  src/framework/theme/components/select/select.component.ts
Due: eslint --cache, prettier --check

feat: add support of hidden attribute in nb-option
  src/framework/theme/components/option/option.component.scss
Due: stylelint, prettier --check

fix: replace ngIf with hidden in demo
  src/playground/with-layout/select/select-search-showcase.component.html
Due: prettier --check
