Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

chore(playground): add search for component list (#2939)
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components-link.directive.ts
  src/app/components-list.service.ts
  src/app/components-list/components-list.component.scss
  src/app/components-list/components-list.component.ts
  src/app/components-list/components-overlay.component.scss
  src/app/components-list/components-overlay.component.ts
  src/app/layout-direction-toggle/layout-direction-toggle.component.ts
  src/app/playground-components.ts
  tools/dev-schematics/playground-components/index.ts
Due: eslint --cache, stylelint, prettier --check

fix(scroll service): listen position requests right after layout created (#2949)
  src/framework/theme/components/layout/layout.component.ts
Due: eslint --cache, prettier --check

refactor(toolbar): put hide list button next to search input
  src/app/app.component.ts
Due: eslint --cache, prettier --check

refactor(playground toolbar): separate tools via divider
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/layout-direction-toggle/layout-direction-toggle.component.scss
  src/app/layout-theme-toggle/layout-theme-toggle.component.scss
Due: eslint --cache, stylelint, prettier --check

refactor(playground toolbar): separate tools via divider (#2953)
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/layout-direction-toggle/layout-direction-toggle.component.scss
  src/app/layout-theme-toggle/layout-theme-toggle.component.scss
Due: eslint --cache, stylelint, prettier --check

refactor(playground toolbar): add hide list button margin
  src/app/app.component.scss
  src/app/app.component.ts
Due: eslint --cache, stylelint, prettier --check

refactor: remove lts mentions
  docs/articles/migration/350-400.md
  docs/articles/migration/instructions.md
Due: prettier --check

chore: fix release validate script
  package.json
Due: none

chore: fix bump versions script
  tools/gulp/bump-versions.ts
  tools/gulp/gulpfile.ts
Due: eslint --cache, prettier --check

chore: remove ci lint step from release validate
  package.json
Due: none

fix(select): select does not display the option if data is dynamic
  src/framework/theme/components/select/select.component.ts
Due: eslint --cache, prettier --check

refactor: remove DEV_DOCS.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  DEV_DOCS.md
Due: prettier --check

chore: remove dev docs (#2957)
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  DEV_DOCS.md
  docs/articles/migration/350-400.md
  docs/articles/migration/instructions.md
  package.json
  src/app/app.component.scss
  src/app/app.component.ts
  tools/gulp/bump-versions.ts
  tools/gulp/gulpfile.ts
Due: eslint --cache, stylelint, prettier --check

refactor: remove unused import
  src/framework/theme/components/datepicker/datepicker.component.ts
Due: eslint --cache, prettier --check

fix(datapicker): input update issue with reactive forms (#2945)
  src/framework/theme/components/datepicker/datepicker.component.ts
  src/framework/theme/components/datepicker/datepicker.directive.ts
Due: eslint --cache, prettier --check

refactor: make close property required
  src/framework/theme/components/window/window.options.ts
Due: eslint --cache, prettier --check

test(window): allow partial buttons config
  src/framework/theme/components/window/window.service.spec.ts
Due: eslint --cache, prettier --check

test(window): check close button config
  src/framework/theme/components/window/window.service.spec.ts
Due: eslint --cache, prettier --check

feat(window): ability to hide close button (#2952)
  src/framework/theme/components/window/window.component.ts
  src/framework/theme/components/window/window.options.ts
  src/framework/theme/components/window/window.service.spec.ts
  src/playground/with-layout/window/window-controls.component.html
  src/playground/with-layout/window/window-controls.component.ts
Due: eslint --cache, prettier --check

fix(infinite-list): add throttleTime property
  src/framework/theme/components/list/infinite-list.directive.spec.ts
  src/framework/theme/components/list/infinite-list.directive.ts
Due: eslint --cache, prettier --check

docs(layout direction directives): remove base class from docs
  docs/structure.ts
  src/framework/theme/components/layout/direction.directive.ts
Due: eslint --cache, prettier --check

style(dynamic-overlay-handler): move 3rd-party imports above
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay-handler.ts
Due: eslint --cache, prettier --check

docs(layout direction directives): mention directives in rtl article
  docs/articles/usability/rtl.md
Due: prettier --check

refactor(layout direction directives): don't export base class
  src/framework/theme/components/layout/direction.directive.ts
Due: eslint --cache, prettier --check

refactor(layout direction directives): rename directives
  docs/structure.ts
  src/framework/theme/components/layout/layout-direction.directive.ts
  src/framework/theme/components/layout/layout.module.ts
  src/framework/theme/public_api.ts
Due: eslint --cache, prettier --check

refactor(layout direction directives): call update only when shouldShow change
  src/framework/theme/components/layout/layout-direction.directive.ts
Due: eslint --cache, prettier --check

chore: add prettier as default formatter for vs code settings
  .vscode/settings.json
  angular.json
Due: none

style(overlay-position): remove NbLayoutDirection
  src/framework/theme/components/cdk/overlay/mapping.ts
  src/framework/theme/components/cdk/overlay/overlay-position.ts
  src/framework/theme/components/cdk/overlay/position-helper.ts
Due: eslint --cache, prettier --check

feat(layout): add nbLtr and nbRtl directives (#2927)
  docs/articles/usability/rtl.md
  docs/structure.ts
  src/framework/theme/components/layout/layout-direction.directive.ts
  src/framework/theme/components/layout/layout.module.ts
  src/framework/theme/public_api.ts
Due: eslint --cache, prettier --check

chore: add prettier as default formatter for vs code settings (#2958)
  .vscode/settings.json
  angular.json
Due: none

style(overlay-position): use Nebular entities
  src/framework/theme/components/cdk/overlay/mapping.ts
  src/framework/theme/components/cdk/overlay/overlay-position.ts
  src/framework/theme/components/cdk/overlay/position-helper.ts
Due: eslint --cache, prettier --check

style(position-helper): rename methods
  src/framework/theme/components/cdk/overlay/overlay-position.ts
  src/framework/theme/components/cdk/overlay/position-helper.ts
Due: eslint --cache, prettier --check

fix(icon): ligature based icon are not supported
  docs/articles/guides/custom-icons.md
  src/framework/theme/components/icon/icon-libraries.ts
  src/framework/theme/components/icon/icons-libraries.spec.ts
Due: eslint --cache, prettier --check

style: remove redundant linter comment
  src/framework/theme/components/cdk/overlay/overlay-position.ts
Due: eslint --cache, prettier --check

style: remove unused import
  src/framework/theme/components/cdk/overlay/position-helper.ts
Due: eslint --cache, prettier --check

ref(overlay-position): rtl positions - remove getConnectedPosition method
  src/framework/theme/components/cdk/overlay/overlay-position.ts
Due: eslint --cache, prettier --check

ref(overlay-position): remove position-helper usage
  src/framework/theme/components/cdk/overlay/mapping.ts
  src/framework/theme/components/cdk/overlay/overlay-position.ts
  src/framework/theme/components/cdk/overlay/position-helper.ts
Due: eslint --cache, prettier --check

ref(overlay-position): remove position-helper property
  src/framework/theme/components/cdk/overlay/overlay-position.ts
Due: eslint --cache, prettier --check

fix(infinite-list): add default throttling
  src/framework/theme/components/list/infinite-list.directive.spec.ts
  src/framework/theme/components/list/infinite-list.directive.ts
Due: eslint --cache, prettier --check

style: remove unused import
  src/framework/theme/components/cdk/overlay/overlay-position.ts
Due: eslint --cache, prettier --check

Path conditions:
  eslint --cache: any of: *.{ts,js}
  stylelint: any of: *.{scss,css}
  prettier --check: any of: *.{ts,scss,html,md,js,css}
