Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

deps: move jasmine-fail-fast to dev deps
  package-lock.json
  package.json
Due: none

deps: remove unnecessary dev deps
  package-lock.json
  package.json
Due: none

deps: up tslib
  package-lock.json
  package.json
Due: none

deps: dedupe dependencies
  package-lock.json
Due: none

lint: ban fit and fdescribe
  .eslintrc.json
Due: none

fix(docs): build errors
  docs/app/@theme/services/visibility.service.ts
  src/framework/auth/services/interceptors/simple-interceptor.ts
  src/playground/with-layout/oauth2/oauth2-login.component.ts
  src/playground/without-layout/auth/role.provider.ts
  src/playground/without-layout/azure/azure-login.component.ts
  src/playground/without-layout/search/search-customized-test.component.ts
  src/playground/without-layout/search/search-test.component.ts
  src/playground/without-layout/search/search-with-input-event.component.ts
Due: eslint --cache, prettier --check

deps: remove unused dependencies
  package-lock.json
  package.json
  src/framework/theme/styles/global/_overrides.scss
  src/framework/theme/styles/global/maps/_leaflet.theme.scss
Due: stylelint, prettier --check

refactor(workspace): add firebase-auth project
  angular.json
  src/framework/firebase-auth/.eslintrc.json
  src/framework/firebase-auth/ng-package.json
  src/framework/firebase-auth/test.ts
  src/framework/firebase-auth/tsconfig.lib.json
  src/framework/firebase-auth/tsconfig.lib.prod.json
  src/framework/firebase-auth/tsconfig.spec.json
Due: eslint --cache, prettier --check

refactor(playground): remove unnecessary typings file
  src/typings.d.ts
Due: eslint --cache, prettier --check

fix(playground): build errors
  src/app/app.component.ts
  src/index.html
Due: eslint --cache, prettier --check

test: update global configuration
  .eslintrc.json
  karma.conf.js
  package-lock.json
  package.json
  src/test.ts
Due: eslint --cache, prettier --check

refactor(auth): add project to workspace
  angular.json
  src/framework/auth/.eslintrc.json
  src/framework/auth/ng-package.json
  src/framework/auth/test.ts
  src/framework/auth/tsconfig.lib.json
  src/framework/auth/tsconfig.lib.prod.json
  src/framework/auth/tsconfig.spec.json
Due: eslint --cache, prettier --check

refactor(workspace): add security project
  angular.json
  src/framework/security/.eslintrc.json
  src/framework/security/ng-package.json
  src/framework/security/test.ts
  src/framework/security/tsconfig.lib.json
  src/framework/security/tsconfig.lib.prod.json
  src/framework/security/tsconfig.spec.json
Due: eslint --cache, prettier --check

config(playground): correct path
  src/tsconfig.app.json
Due: none

config(theme): add own eslint config
  .eslintrc.json
  src/framework/theme/.eslintrc.json
Due: none

config: correct paths
  src/framework/auth/tsconfig.lib.json
  src/framework/auth/tsconfig.spec.json
  src/framework/theme/tsconfig.lib.json
  src/framework/theme/tsconfig.spec.json
Due: none

feat(playground): add linter config
  src/.eslintrc.json
Due: none

refactor(workspace): add eva-icons project
  angular.json
  src/framework/eva-icons/.eslintrc.json
  src/framework/eva-icons/ng-package.json
  src/framework/eva-icons/test.ts
  src/framework/eva-icons/tsconfig.lib.json
  src/framework/eva-icons/tsconfig.lib.prod.json
  src/framework/eva-icons/tsconfig.spec.json
Due: eslint --cache, prettier --check

config(packages): move build deps path into prod config
  src/framework/auth/tsconfig.lib.prod.json
  src/framework/date-fns/tsconfig.lib.prod.json
  src/framework/eva-icons/tsconfig.lib.prod.json
  src/framework/firebase-auth/tsconfig.lib.prod.json
  src/framework/moment/tsconfig.lib.prod.json
  tsconfig.json
Due: none

refactor(workspace): add date-fns project
  angular.json
  src/framework/date-fns/.eslintrc.json
  src/framework/date-fns/ng-package.json
  src/framework/date-fns/test.ts
  src/framework/date-fns/tsconfig.lib.json
  src/framework/date-fns/tsconfig.lib.prod.json
  src/framework/date-fns/tsconfig.spec.json
Due: eslint --cache, prettier --check

config(packages): update UMD config
  src/framework/auth/ng-package.json
  src/framework/auth/package.json
  src/framework/date-fns/ng-package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/ng-package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/ng-package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/ng-package.json
  src/framework/moment/package.json
  src/framework/security/ng-package.json
  src/framework/security/package.json
  src/framework/theme/package.json
  tsconfig.json
Due: none

test(auth): fix failing tests
  src/framework/auth/services/auth.spec.ts
  src/framework/auth/services/token/token.spec.ts
Due: eslint --cache, prettier --check

config(theme): exclude schematics from build
  src/framework/theme/tsconfig.lib.json
Due: none

refactor(playground): remove style loader usages
  package-lock.json
  package.json
  src/playground/with-layout/playground-layout.component.ts
  src/playground/without-layout/playground-base.component.ts
  src/playground/without-styles/bootstrap/bootstrap-test.component.scss
  src/playground/without-styles/bootstrap/bootstrap-test.component.ts
Due: eslint --cache, stylelint, prettier --check

refactor(workspace): add moment project
  angular.json
  src/framework/moment/.eslintrc.json
  src/framework/moment/ng-package.json
  src/framework/moment/test.ts
  src/framework/moment/tsconfig.lib.json
  src/framework/moment/tsconfig.lib.prod.json
  src/framework/moment/tsconfig.spec.json
Due: eslint --cache, prettier --check

refactor(playground): correct paths in tsconfigs
  src/tsconfig.app.json
  src/tsconfig.spec-wp.json
  src/tsconfig.spec.json
  src/tsconfig.wp.json
Due: none

test(theme): fix test errors and warnings
  angular.json
  src/framework/theme/components/button-group/button-group.spec.ts
  src/framework/theme/components/calendar-kit/components/calendar-day-picker/calendar-day-cell.component.spec.ts
  src/framework/theme/components/calendar-kit/components/calendar-day-picker/calendar-day-picker.component.spec.ts
  src/framework/theme/components/calendar-kit/components/calendar-days-names/calendar-days-names.component.spec.ts
  src/framework/theme/components/calendar-kit/components/calendar-month-picker/calendar-month-picker.component.spec.ts
  src/framework/theme/components/calendar-kit/components/calendar-navigation/calendar-pageable-navigation.component.spec.ts
  src/framework/theme/components/calendar-kit/components/calendar-navigation/calendar-view-mode.component.spec.ts
  src/framework/theme/components/calendar-kit/components/calendar-picker/calendar-picker-row.component.spec.ts
  src/framework/theme/components/calendar-kit/components/calendar-picker/calendar-picker.component.spec.ts
  src/framework/theme/components/calendar-kit/components/calendar-year-picker/calendar-year-picker.component.spec.ts
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay-handler.spec.ts
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay.spec.ts
  src/framework/theme/components/cdk/overlay/overlay-position.spec.ts
  src/framework/theme/components/cdk/overlay/overlay-trigger.spec.ts
  src/framework/theme/components/context-menu/context-menu.spec.ts
  src/framework/theme/components/datepicker/datepicker.spec.ts
  src/framework/theme/components/radio/radio.spec.ts
  src/framework/theme/components/select/select.spec.ts
  src/framework/theme/components/toastr/toastr.service.spec.ts
  src/framework/theme/components/toggle/toggle.spec.ts
  src/framework/theme/components/tooltip/tooltip.spec.ts
  src/framework/theme/components/tree-grid/tree-grid.component.spec.ts
  src/framework/theme/test.ts
  src/framework/theme/tsconfig.spec.json
Due: eslint --cache, prettier --check

build: add missing resources to build artifacts
  .nvmrc
  DEV_DOCS.md
  package-lock.json
  package.json
  src/framework/auth/ng-package.json
  src/framework/date-fns/ng-package.json
  src/framework/eva-icons/ng-package.json
  src/framework/firebase-auth/ng-package.json
  src/framework/moment/ng-package.json
  src/framework/security/ng-package.json
  src/framework/theme/ng-package.json
  src/framework/theme/schematics/util/file.ts
  src/framework/theme/schematics/util/package.ts
  src/framework/theme/tsconfig.schematics.json
  tools/build-packages/sass-import.ts
Due: eslint --cache, prettier --check

refactor(docs): remove require usages
  docs/app/@theme/services/version.service.ts
  docs/app/app.module.ts
  docs/tsconfig.app.json
  docs/version.ts
  tools/deploy-docs/build-docs.ts
Due: eslint --cache, prettier --check

chore: remove ngh script
  package.json
Due: none

refactor(theme): remove empty mixin
  src/framework/theme/styles/global/_overrides.scss
  src/framework/theme/styles/global/components/_tree.theme.scss
Due: stylelint, prettier --check

refactor(e2e): update config files
  e2e/.eslintrc.json
Due: none

chore(gulp): correct docs dist path
  tools/gulp/config.ts
Due: eslint --cache, prettier --check

chore: npm dedupe
  package-lock.json
Due: none

chore(docs): build to dist directory
  angular.json
Due: none

refactor(docs): include examples into build
  angular.json
  package.json
  tools/gulp/docs/example.ts
Due: eslint --cache, prettier --check

refactor(docs): update config files
  .eslintrc.json
  docs/.browserslistrc
  docs/.eslintrc.json
  docs/test.ts
  docs/tsconfig.app.json
  docs/tsconfig.spec.json
  docs/typings.d.ts
Due: eslint --cache, prettier --check

refactor(docs): up highligh.js and marked version
  angular.json
  package-lock.json
  package.json
Due: none

chore(docs scripts): remove duplicate script
  package.json
Due: none

Path conditions:
  eslint --cache: any of: *.{ts,js}
  stylelint: any of: *.{scss,css}
  prettier --check: any of: *.{ts,scss,html,md,js,css}
