Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

.lintstagedrc.json:

{
  "*.{ts,js}": "eslint --cache",
  "*.{scss,css}": "stylelint",
  "*.{ts,scss,html,md,js,css}": "prettier --check"
}

Update package.json
  src/framework/security/package.json
Due: none

Update select-with-autocomplete.spec.ts
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.spec.ts
Due: eslint --cache, prettier --check

Update package.json
  src/framework/theme/package.json
Due: none

Update tsconfig.spec.json
  src/framework/theme/tsconfig.spec.json
Due: none

Update angular.json
  angular.json
Due: none

Update package.json
  package.json
Due: none

Update playground-routing.module.ts
  src/playground/playground-routing.module.ts
Due: eslint --cache, prettier --check

feat: update angular to v21 (#3306)
  angular.json
  package-lock.json
  package.json
  packages-smoke/package.json
  src/app/components-list/components-list.component.ts
  src/framework/auth/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/services/moment-date.service.spec.ts
  src/framework/security/package.json
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.spec.ts
  src/framework/theme/package.json
  src/framework/theme/tsconfig.spec.json
Due: eslint --cache, prettier --check

chore: update publish.sh for 16 version
  tools/publish.sh
Due: none

release: 17.0.0
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

release: 17.0.0 (#3309)
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

Upgrade to Angular v21.1.0
  package-lock.json
  package.json
  src/framework/theme/components/cdk/table/table.module.ts
  src/framework/theme/components/tree-grid/tree-grid.component.ts
Due: eslint --cache, prettier --check

Upgrade to Angular v21.1.0
  src/framework/theme/components/cdk/table/table.module.ts
Due: eslint --cache, prettier --check

Upgrade to Angular v21.1.0
  src/framework/theme/components/cdk/table/table.module.ts
  src/framework/theme/components/tree-grid/tree-grid.component.ts
Due: eslint --cache, prettier --check

Upgrade to Angular v21.1.0
  src/framework/theme/components/tree-grid/tree-grid.component.ts
Due: eslint --cache, prettier --check

Upgrade to Angular v21.1.0
  package-lock.json
  package.json
Due: none

Angular v21.1.0
  src/framework/theme/styles/_theming.scss
  tools/gulp/docs/copy-index.ts
  tools/gulp/docs/sitemap.ts
Due: eslint --cache, stylelint, prettier --check

Angular v21.1
  packages-smoke/angular.json
  packages-smoke/package.json
  src/framework/theme/schematics/ng-add/index.spec.ts
  src/framework/theme/tsconfig.schematics.spec.json
Due: eslint --cache, prettier --check

Angular v21.1
  .github/workflows/pr-check.yml
  package-lock.json
  package.json
Due: none

fix: remove obsolete vendor-prefixed and IE-specific CSS
  docs/app/@theme/styles/_common.scss
  docs/app/@theme/styles/styles.scss
  docs/app/blocks/components/live-example-block/live-example-block.component.scss
  src/framework/bootstrap/styles/_modals.scss
  src/framework/theme/components/accordion/_accordion.component.theme.scss
  src/framework/theme/components/card/_card.component.theme.scss
  src/framework/theme/components/layout/_layout.component.theme.scss
  src/framework/theme/components/layout/layout.component.scss
  src/framework/theme/components/search/_search.component.theme.scss
  src/framework/theme/components/sidebar/_sidebar.component.theme.scss
  src/framework/theme/components/tabset/tabset.component.scss
  src/framework/theme/styles/core/_mixins.scss
  src/framework/theme/styles/global/_styles.scss
  src/playground/styles/styles.scss
Due: stylelint, prettier --check

feat(NbDialogService): support passing values to input/model signals
  src/framework/theme/components/dialog/dialog-config.ts
  src/framework/theme/components/dialog/dialog.service.spec.ts
  src/framework/theme/components/dialog/dialog.service.ts
Due: eslint --cache, prettier --check

ci: add the ThreatCrush security scan workflow
  .github/scripts/threatcrush-to-sarif.py
  .github/workflows/threatcrush-scan.yml
Due: none

ci: update the ThreatCrush scan workflow to the reviewed pack
  .github/workflows/threatcrush-scan.yml
Due: none

ci: drop the ThreatCrush SARIF converter, no longer installed by the pack
  .github/scripts/threatcrush-to-sarif.py
Due: none
