Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

.lintstagedrc.json:

{
  "*.{ts,js}": "eslint --cache",
  "*.{scss,css}": "stylelint",
  "*.{ts,scss,html,md,js,css}": "prettier --check"
}

ci-deploy-docs
  .github/workflows/deploy-docs.yml
  tools/deploy-docs/build-docs.ts
Due: eslint --cache, prettier --check

style: apply prettier to eva-icons module
  src/framework/eva-icons/.eslintrc.json
  src/framework/eva-icons/eva-icons.module.ts
  src/framework/eva-icons/tsconfig.lib.json
  src/framework/eva-icons/tsconfig.lib.prod.json
  src/framework/eva-icons/tsconfig.spec.json
Due: eslint --cache, prettier --check

style: apply prettier to date-fns module
  src/framework/date-fns/.eslintrc.json
  src/framework/date-fns/date-fns.module.ts
  src/framework/date-fns/services/date-fns-date.service.ts
  src/framework/date-fns/tsconfig.lib.json
  src/framework/date-fns/tsconfig.lib.prod.json
  src/framework/date-fns/tsconfig.spec.json
Due: eslint --cache, prettier --check

style(auth): apply prettier rules to auth module
  src/framework/auth/.eslintrc.json
  src/framework/auth/UPGRADE.md
  src/framework/auth/auth.module.ts
  src/framework/auth/auth.options.ts
  src/framework/auth/components/auth-block/auth-block.component.ts
  src/framework/auth/components/auth.component.ts
  src/framework/auth/components/login/login.component.html
  src/framework/auth/components/login/login.component.ts
  src/framework/auth/components/logout/logout.component.ts
  src/framework/auth/components/register/register.component.html
  src/framework/auth/components/register/register.component.ts
  src/framework/auth/components/request-password/request-password.component.html
  src/framework/auth/components/request-password/request-password.component.ts
  src/framework/auth/components/reset-password/reset-password.component.html
  src/framework/auth/components/reset-password/reset-password.component.ts
  src/framework/auth/helpers.ts
  src/framework/auth/models/user.ts
  src/framework/auth/services/auth-result.ts
  src/framework/auth/services/auth.service.ts
  src/framework/auth/services/interceptors/jwt-interceptor.spec.ts
  src/framework/auth/services/interceptors/jwt-interceptor.ts
  src/framework/auth/services/token/token-parceler.ts
  src/framework/auth/services/token/token-service.spec.ts
  src/framework/auth/services/token/token-storage.spec.ts
  src/framework/auth/services/token/token-storage.ts
  src/framework/auth/services/token/token.service.ts
  src/framework/auth/services/token/token.ts
  src/framework/auth/strategies/auth-strategy-options.ts
  src/framework/auth/strategies/oauth2/oauth2-strategy.options.ts
  src/framework/auth/strategies/password/password-strategy-options.ts
  src/framework/auth/tsconfig.lib.json
  src/framework/auth/tsconfig.lib.prod.json
  src/framework/auth/tsconfig.spec.json
Due: eslint --cache, prettier --check

style: apply prettier to firebase-auth module
  src/framework/firebase-auth/.eslintrc.json
  src/framework/firebase-auth/firebase-auth.module.ts
  src/framework/firebase-auth/public_api.ts
  src/framework/firebase-auth/strategies/base/firebase-identity-provider-strategy.options.ts
  src/framework/firebase-auth/strategies/password/firebase-password-strategy.options.ts
  src/framework/firebase-auth/tsconfig.lib.json
  src/framework/firebase-auth/tsconfig.lib.prod.json
  src/framework/firebase-auth/tsconfig.spec.json
Due: eslint --cache, prettier --check

style: apply prettier to moment module
  src/framework/moment/.eslintrc.json
  src/framework/moment/moment.module.ts
  src/framework/moment/services/moment-date.service.ts
  src/framework/moment/tsconfig.lib.json
  src/framework/moment/tsconfig.lib.prod.json
  src/framework/moment/tsconfig.spec.json
Due: eslint --cache, prettier --check

build: add prettier and linter run to ci
  .github/workflows/pr-check.yml
  package.json
Due: none

feractor: fix eslint errors for auth module
  src/framework/auth/components/register/register.component.html
  src/framework/auth/components/reset-password/reset-password.component.html
Due: prettier --check

build: add lint and prettier scripts
  package.json
Due: none

refactor: lint theme module
  .eslintrc.json
  package.json
  src/framework/theme/components/alert/alert.component.ts
  src/framework/theme/components/button/button.component.ts
  src/framework/theme/components/calendar-kit/components/calendar-day-picker/calendar-day-cell.component.ts
  src/framework/theme/components/calendar-kit/components/calendar-month-picker/calendar-month-cell.component.ts
  src/framework/theme/components/calendar-kit/components/calendar-picker/calendar-picker.component.ts
  src/framework/theme/components/calendar-kit/components/calendar-year-picker/calendar-year-cell.component.ts
  src/framework/theme/components/calendar/calendar-range-day-cell.component.ts
  src/framework/theme/components/calendar/calendar-range-month-cell.component.ts
  src/framework/theme/components/calendar/calendar-range-year-cell.component.ts
  src/framework/theme/components/cdk/table/cell.ts
  src/framework/theme/components/cdk/table/row.ts
  src/framework/theme/components/input/input.directive.ts
  src/framework/theme/components/menu/menu.component.ts
  src/framework/theme/components/radio/radio.component.ts
  src/framework/theme/components/search/search.component.ts
  src/framework/theme/components/spinner/spinner.directive.ts
  src/framework/theme/components/timepicker/timepicker-cell.component.ts
  src/framework/theme/components/timepicker/timepicker.component.ts
  src/framework/theme/components/tree-grid/tree-grid-cell.component.ts
  src/framework/theme/components/tree-grid/tree-grid-def.component.ts
  src/framework/theme/components/tree-grid/tree-grid-sort.component.ts
  src/framework/theme/components/tree-grid/tree-grid.component.ts
  src/framework/theme/services/spinner.service.ts
Due: eslint --cache, prettier --check

style: apply prettier to security module
  src/framework/security/.eslintrc.json
  src/framework/security/directives/is-granted.directive.ts
  src/framework/security/security.module.ts
  src/framework/security/security.options.ts
  src/framework/security/services/access-checker.service.ts
  src/framework/security/services/acl.service.ts
  src/framework/security/services/role.provider.ts
  src/framework/security/tsconfig.lib.json
  src/framework/security/tsconfig.spec.json
Due: eslint --cache, prettier --check

ci-deploy-docs
  .github/workflows/deploy-docs.yml
  package.json
  tools/deploy-docs/config.ts
Due: eslint --cache, prettier --check

feat: remove bootstrap from packages to release
  package.json
Due: none

ci-deploy-docs
  package.json
Due: none

comment "Cleaning up working directory"
  tools/deploy-docs/build-docs.ts
Due: eslint --cache, prettier --check

GITHUB_TOKEN to deploy-docs.yml
  .github/workflows/deploy-docs.yml
  package.json
  tools/deploy-docs/build-docs.ts
Due: eslint --cache, prettier --check

secrets.GITHUB_TOKEN
  .github/workflows/deploy-docs.yml
Due: none

without GITHUB_TOKEN
  .github/workflows/deploy-docs.yml
Due: none

deploy docs
  .github/workflows/deploy-docs.yml
  package.json
Due: none

docs(date picker) add datepicker value definition
  src/framework/theme/components/datepicker/datepicker.directive.ts
Due: eslint --cache, prettier --check

ci-deploy-docs: --trace-warnings option
  package.json
Due: none

ci-deploy-docs: comment "Cleaning up working directory"
  tools/deploy-docs/build-docs.ts
Due: eslint --cache, prettier --check

ci-deploy-docs: transfer to deploy-docs.yml
  .github/workflows/deploy-docs.yml
  package.json
Due: none

feat(autocomplete): scroll options-list with arrow keys
  src/framework/theme/components/autocomplete/autocomplete.component.ts
  src/framework/theme/components/autocomplete/autocomplete.directive.ts
  src/framework/theme/components/option/option-list.component.ts
  src/framework/theme/components/option/option.component.ts
Due: eslint --cache, prettier --check

fix: memory leaks
  src/framework/theme/components/context-menu/context-menu.directive.ts
  src/framework/theme/components/layout/layout.component.ts
  src/framework/theme/components/sidebar/sidebar.component.ts
  src/framework/theme/components/tabset/tabset.component.ts
Due: eslint --cache, prettier --check

fix: memory leaks
  src/framework/theme/components/layout/layout.component.ts
  src/framework/theme/components/tabset/tabset.component.ts
Due: eslint --cache, prettier --check

fix: memory leaks (#2999)
  src/framework/theme/components/context-menu/context-menu.directive.ts
  src/framework/theme/components/layout/layout.component.ts
  src/framework/theme/components/sidebar/sidebar.component.ts
  src/framework/theme/components/tabset/tabset.component.ts
Due: eslint --cache, prettier --check

fix: memory leaks (#3000)
  src/framework/theme/components/layout/layout.component.ts
  src/framework/theme/components/tabset/tabset.component.ts
Due: eslint --cache, prettier --check

release: 7.0.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

release: 7.0.3 (#3001)
  CHANGELOG.md
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

feat(autocomplete): scroll options-list with arrow keys
  src/framework/theme/components/autocomplete/autocomplete.directive.ts
Due: eslint --cache, prettier --check
