Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

feat(icon): add more icons
  src/framework/eva-icons/customIcons.ts
Due: eslint --cache, prettier --check

feat(icon): remove layers icons
  src/framework/eva-icons/customIcons.ts
Due: eslint --cache, prettier --check

feat(menu component): improve accessibility
  src/framework/theme/components/menu/menu-item.component.html
  src/framework/theme/components/menu/menu.component.scss
  src/framework/theme/components/menu/menu.service.ts
  src/playground/with-layout/menu/menu-autocollapse.component.ts
Due: eslint --cache, stylelint, prettier --check

fix(menu component): refactor property name
  src/framework/theme/components/menu/menu-item.component.html
  src/framework/theme/components/menu/menu.service.ts
  src/playground/with-layout/menu/menu-autocollapse.component.ts
Due: eslint --cache, prettier --check

feat(menu component): improve accessibility (#3136)
  src/framework/theme/components/menu/menu-item.component.html
  src/framework/theme/components/menu/menu.component.scss
  src/framework/theme/components/menu/menu.service.ts
  src/playground/with-layout/menu/menu-autocollapse.component.ts
Due: eslint --cache, stylelint, prettier --check

release: 9.1.0-rc.8
  CHANGELOG.md
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

release: 9.1.0-rc.8 (#3138)
  CHANGELOG.md
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

add input customNavigationTemplate in NbBaseCalendarComponent
  src/framework/theme/components/calendar/base-calendar.component.html
  src/framework/theme/components/calendar/base-calendar.component.ts
  src/framework/theme/components/calendar/calendar.component.ts
Due: eslint --cache, prettier --check

feat: update to Angular 14
  package-lock.json
  package.json
  packages-smoke/package.json
  src/app/playground-components.ts
  src/framework/security/services/acl.service.ts
  tools/dev-schematics/utils/ast.ts
Due: eslint --cache, prettier --check

fix(bootstrap): remove bootstrap, ng-bootstrap doesn't support Angular v14.2.x and more
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/app/playground-components.ts
  src/framework/bootstrap/styles/_globals.scss
  src/framework/theme/schematics/util/project.ts
  src/playground/playground-routing.module.ts
  src/playground/without-styles/bootstrap/bootstrap-routing.module.ts
  src/playground/without-styles/bootstrap/bootstrap-test.component.html
  src/playground/without-styles/bootstrap/bootstrap-test.component.scss
  src/playground/without-styles/bootstrap/bootstrap-test.component.ts
  src/playground/without-styles/bootstrap/bootstrap.module.ts
  src/playground/without-styles/bootstrap/styles.scss
  src/playground/without-styles/without-styles-routing.module.ts
  src/playground/without-styles/without-styles.component.ts
  src/playground/without-styles/without-styles.module.ts
Due: eslint --cache, stylelint, prettier --check

feat: update to Angular 14.2.x (#3143)
  e2e/sidebar-two.e2e-spec.ts
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/app/playground-components.ts
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/bootstrap/styles/_globals.scss
  src/framework/firebase-auth/package.json
  src/framework/security/package.json
  src/framework/security/services/acl.service.ts
  src/framework/theme/package.json
  src/framework/theme/schematics/ng-add/register-theme/index.ts
  src/framework/theme/schematics/ng-add/setup.ts
  src/framework/theme/schematics/util/project.ts
  tools/dev-schematics/utils/ast.ts
Due: eslint --cache, stylelint, prettier --check

fix(bootstrap): remove bootstrap, ng-bootstrap doesn't support Angular v14.2.x and more
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  src/app/playground-components.ts
  src/framework/bootstrap/styles/_globals.scss
  src/playground/playground-routing.module.ts
  src/playground/without-styles/bootstrap/bootstrap-routing.module.ts
  src/playground/without-styles/bootstrap/bootstrap-test.component.html
  src/playground/without-styles/bootstrap/bootstrap-test.component.scss
  src/playground/without-styles/bootstrap/bootstrap-test.component.ts
  src/playground/without-styles/bootstrap/bootstrap.module.ts
  src/playground/without-styles/bootstrap/styles.scss
  src/playground/without-styles/without-styles-routing.module.ts
  src/playground/without-styles/without-styles.component.ts
  src/playground/without-styles/without-styles.module.ts
Due: eslint --cache, stylelint, prettier --check

fix(bootstrap): remove bootstrap, ng-bootstrap doesn't support Angular v14.2.x and more (#3146)
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  src/app/playground-components.ts
  src/framework/bootstrap/styles/_globals.scss
  src/playground/playground-routing.module.ts
  src/playground/without-styles/bootstrap/bootstrap-routing.module.ts
  src/playground/without-styles/bootstrap/bootstrap-test.component.html
  src/playground/without-styles/bootstrap/bootstrap-test.component.scss
  src/playground/without-styles/bootstrap/bootstrap-test.component.ts
  src/playground/without-styles/bootstrap/bootstrap.module.ts
  src/playground/without-styles/bootstrap/styles.scss
  src/playground/without-styles/without-styles-routing.module.ts
  src/playground/without-styles/without-styles.component.ts
  src/playground/without-styles/without-styles.module.ts
Due: eslint --cache, stylelint, prettier --check

chore(publish): add lts tag
  tools/publish.sh
Due: none

release: 10.0.0
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/components/tabset/tabset.component.ts
  src/framework/theme/package.json
Due: eslint --cache, prettier --check

release: 10.0.0 (#3147)
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/components/tabset/tabset.component.ts
  src/framework/theme/package.json
Due: eslint --cache, prettier --check

feat(theme): add theme property calendar-navigation-display
  src/framework/theme/components/calendar/_calendar.component.theme.scss
  src/framework/theme/styles/themes/_mapping.scss
Due: stylelint, prettier --check

update name in package.json file
  package.json
Due: none

set private to false in package.json as scoped packages have their access property set to restricted by default
  package.json
Due: none

add npmrc file
  .npmrc
Due: none

remove publish script
  package.json
Due: none

update version 9.1.0
  package.json
Due: none

add script for publish and increment version
  package.json
Due: none

feat(package.json): replace @nebular with our organization @areyoufreebusy
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: none

feat(menu component): improve accessibility (#3149)
  src/framework/theme/components/menu/menu-item.component.html
  src/framework/theme/components/menu/menu.component.scss
  src/framework/theme/components/menu/menu.service.ts
  src/playground/with-layout/menu/menu-autocollapse.component.ts
Due: eslint --cache, stylelint, prettier --check

release: 6.2.3
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

release: 6.2.3 (#3150)
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

feat(icon): add magic icon
  src/framework/eva-icons/customIcons.ts
Due: eslint --cache, prettier --check

Fix/2991 autocomplete show options
  src/framework/theme/components/autocomplete/autocomplete.directive.ts
Due: eslint --cache, prettier --check

fix(autocomplete): fix show options for the autocomplete (#3152)
  src/framework/theme/components/autocomplete/autocomplete.directive.ts
Due: eslint --cache, prettier --check

FEAT: add left margin to menu item lock icon
  src/framework/theme/components/menu/menu-item.component.html
  src/framework/theme/components/menu/menu.component.scss
Due: stylelint, prettier --check

FEAT: add embed_analytics icon
  src/framework/eva-icons/customIcons.ts
Due: eslint --cache, prettier --check

FEAT: add lock menu item opacity
  src/framework/theme/components/menu/menu-item.component.html
  src/framework/theme/components/menu/menu.component.scss
Due: stylelint, prettier --check

removed padding in layout header
  src/framework/theme/styles/themes/_mapping.scss
Due: stylelint, prettier --check

changed header height to auto
  src/framework/theme/styles/themes/_mapping.scss
Due: stylelint, prettier --check

FIX: change custom icon svg
  src/framework/eva-icons/customIcons.ts
Due: eslint --cache, prettier --check

Path conditions:
  eslint --cache: any of: *.{ts,js}
  stylelint: any of: *.{scss,css}
  prettier --check: any of: *.{ts,scss,html,md,js,css}
