Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

.lintstagedrc.json:

{
  "*.{ts,js}": "eslint --cache",
  "*.{scss,css}": "stylelint",
  "*.{ts,scss,html,md,js,css}": "prettier --check"
}

feat: add dynamic multiple showcase
  src/playground/with-layout/select/select-autocomplete-showcase.component.html
  src/playground/with-layout/select/select-autocomplete-showcase.component.ts
Due: eslint --cache, prettier --check

fix: remove extra spaces in autocomplete input
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.component.ts
Due: eslint --cache, prettier --check

fix(select-with-autocomplete): improve select open after input changed (#3110)
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.component.html
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.component.ts
  src/playground/with-layout/select/select-autocomplete-showcase.component.html
  src/playground/with-layout/select/select-autocomplete-showcase.component.ts
Due: eslint --cache, prettier --check

9.1.0-rc.5
  CHANGELOG.md
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

9.1.0-rc.5 (#3112)
  CHANGELOG.md
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

fix: fix input width
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.component.html
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.component.ts
Due: eslint --cache, prettier --check

fix: fix paddings
  src/framework/theme/components/select-with-autocomplete/_select-with-autocomplete-filled.scss
  src/framework/theme/components/select-with-autocomplete/_select-with-autocomplete-hero.scss
  src/framework/theme/components/select-with-autocomplete/_select-with-autocomplete-outline.scss
Due: stylelint, prettier --check

fix(select-with-autocomplete): fix select autocomplete width (#3113)
  src/framework/theme/components/select-with-autocomplete/_select-with-autocomplete-filled.scss
  src/framework/theme/components/select-with-autocomplete/_select-with-autocomplete-hero.scss
  src/framework/theme/components/select-with-autocomplete/_select-with-autocomplete-outline.scss
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.component.html
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.component.ts
Due: eslint --cache, stylelint, prettier --check

release: 9.1.0-rc.6
  CHANGELOG.md
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

release: 9.1.0-rc.6 (#3114)
  CHANGELOG.md
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

style: fix fomatting
  src/framework/theme/components/datepicker/date-timepicker.component.ts
Due: eslint --cache, prettier --check

Update _layout.component.theme.scss
  src/framework/theme/components/layout/_layout.component.theme.scss
Due: stylelint, prettier --check

test: fix select with autocomplete tests
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.spec.ts
Due: eslint --cache, prettier --check

fix: update datepicker modal after input changed
  src/framework/theme/components/datepicker/datepicker.component.ts
  src/framework/theme/components/datepicker/datepicker.directive.ts
Due: eslint --cache, prettier --check

styles: apply prettier
  src/framework/theme/components/timepicker/timepicker.component.html
  src/framework/theme/components/timepicker/timepicker.component.ts
  src/framework/theme/components/timepicker/timepicker.directive.ts
Due: eslint --cache, prettier --check

fix: fix timepicker dynamic update
  src/framework/theme/components/timepicker/timepicker.component.ts
  src/framework/theme/components/timepicker/timepicker.directive.ts
Due: eslint --cache, prettier --check

fix: add checks is input has value
  src/framework/theme/components/datepicker/datepicker.directive.ts
  src/framework/theme/components/timepicker/timepicker.directive.ts
Due: eslint --cache, prettier --check

style: apply prettier
  src/framework/theme/components/datepicker/calendar-with-time.component.ts
Due: eslint --cache, prettier --check

feat: add seconds to 12 hours format
  src/framework/theme/components/datepicker/calendar-with-time.component.ts
Due: eslint --cache, prettier --check

fix(themes): fix typo in layout component style (#3098)
  src/framework/theme/components/layout/_layout.component.theme.scss
Due: stylelint, prettier --check

feat: add possibility to hide am pm label
  src/framework/theme/components/datepicker/calendar-with-time.component.ts
  src/framework/theme/components/datepicker/date-timepicker.component.ts
  src/framework/theme/components/timepicker/timepicker.component.html
  src/framework/theme/components/timepicker/timepicker.component.ts
Due: eslint --cache, prettier --check

fix: fix seconds rendering with single column
  src/framework/theme/components/datepicker/calendar-with-time.component.ts
  src/framework/theme/components/datepicker/date-timepicker.component.ts
  src/framework/theme/components/timepicker/timepicker.component.ts
Due: eslint --cache, prettier --check

fix: remove redundant comments
  src/framework/theme/components/timepicker/timepicker.component.ts
Due: eslint --cache, prettier --check

fix: fix format update if picker comes before input
  src/framework/theme/components/datepicker/datepicker.directive.ts
  src/framework/theme/components/timepicker/timepicker.directive.ts
Due: eslint --cache, prettier --check

feat: add dynamic examples
  src/app/playground-components.ts
  src/playground/with-layout/datepicker/date-timepicker-dynamic-inputs-showcase.component.html
  src/playground/with-layout/datepicker/date-timepicker-dynamic-inputs-showcase.component.ts
  src/playground/with-layout/datepicker/datepicker-dynamic-inputs-showcase.component.html
  src/playground/with-layout/datepicker/datepicker-dynamic-inputs-showcase.component.ts
  src/playground/with-layout/datepicker/datepicker-routing.module.ts
  src/playground/with-layout/datepicker/datepicker.module.ts
  src/playground/with-layout/datepicker/rangepicker-dynamic-inputs-showcase.component.html
  src/playground/with-layout/datepicker/rangepicker-dynamic-inputs-showcase.component.ts
  src/playground/with-layout/timepicker/timepicker-dynamic-inputs-showcase.component.html
  src/playground/with-layout/timepicker/timepicker-dynamic-inputs-showcase.component.ts
  src/playground/with-layout/timepicker/timepicker-routing.module.ts
  src/playground/with-layout/timepicker/timepicker.module.ts
Due: eslint --cache, prettier --check

feat(datepicker): improve date and time inputs combination (#3117)
  src/app/playground-components.ts
  src/framework/theme/components/datepicker/calendar-with-time.component.ts
  src/framework/theme/components/datepicker/date-timepicker.component.ts
  src/framework/theme/components/datepicker/datepicker.component.ts
  src/framework/theme/components/datepicker/datepicker.directive.ts
  src/framework/theme/components/timepicker/timepicker.component.html
  src/framework/theme/components/timepicker/timepicker.component.ts
  src/framework/theme/components/timepicker/timepicker.directive.ts
  src/playground/with-layout/datepicker/date-timepicker-dynamic-inputs-showcase.component.html
  src/playground/with-layout/datepicker/date-timepicker-dynamic-inputs-showcase.component.ts
  src/playground/with-layout/datepicker/datepicker-dynamic-inputs-showcase.component.html
  src/playground/with-layout/datepicker/datepicker-dynamic-inputs-showcase.component.ts
  src/playground/with-layout/datepicker/datepicker-routing.module.ts
  src/playground/with-layout/datepicker/datepicker.module.ts
  src/playground/with-layout/datepicker/rangepicker-dynamic-inputs-showcase.component.html
  src/playground/with-layout/datepicker/rangepicker-dynamic-inputs-showcase.component.ts
  src/playground/with-layout/timepicker/timepicker-dynamic-inputs-showcase.component.html
  src/playground/with-layout/timepicker/timepicker-dynamic-inputs-showcase.component.ts
  src/playground/with-layout/timepicker/timepicker-routing.module.ts
  src/playground/with-layout/timepicker/timepicker.module.ts
Due: eslint --cache, prettier --check

release: 9.1.0-rc.7
  CHANGELOG.md
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

release: 9.1.0-rc.7 (#3122)
  CHANGELOG.md
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

FEATURE: added a new svg variable
  src/framework/eva-icons/customIcons.ts
Due: eslint --cache, prettier --check

fix(timepicker): improve placeholder rendering during initial render
  src/framework/theme/components/timepicker/timepicker.directive.ts
Due: eslint --cache, prettier --check

feat: add initial min max validation
  src/framework/theme/components/timepicker/timepicker.component.ts
  src/framework/theme/components/timepicker/timepicker.directive.ts
Due: eslint --cache, prettier --check

feat(timepicker): add disabled state
  src/framework/theme/components/timepicker/timepicker.directive.ts
Due: eslint --cache, prettier --check

docs(datepicker): move showcases with format in separate module
  src/app/playground-components.ts
  src/playground/with-layout/datepicker-with-format/date-timepicker-dynamic-inputs-showcase.component.html
  src/playground/with-layout/datepicker-with-format/date-timepicker-dynamic-inputs-showcase.component.ts
  src/playground/with-layout/datepicker-with-format/datepicker-dynamic-inputs-showcase.component.html
  src/playground/with-layout/datepicker-with-format/datepicker-dynamic-inputs-showcase.component.ts
  src/playground/with-layout/datepicker-with-format/datepicker-example.scss
  src/playground/with-layout/datepicker-with-format/datepicker-with-format-routing.module.ts
  src/playground/with-layout/datepicker-with-format/datepicker-with-format.module.ts
  src/playground/with-layout/datepicker-with-format/rangepicker-dynamic-inputs-showcase.component.html
  src/playground/with-layout/datepicker-with-format/rangepicker-dynamic-inputs-showcase.component.ts
  src/playground/with-layout/datepicker/datepicker-routing.module.ts
  src/playground/with-layout/datepicker/datepicker.module.ts
  src/playground/with-layout/with-layout-routing.module.ts
Due: eslint --cache, stylelint, prettier --check

docs(datepicker): move showcases with format in separate module (#3128)
  src/app/playground-components.ts
  src/playground/with-layout/datepicker-with-format/date-timepicker-dynamic-inputs-showcase.component.html
  src/playground/with-layout/datepicker-with-format/date-timepicker-dynamic-inputs-showcase.component.ts
  src/playground/with-layout/datepicker-with-format/datepicker-dynamic-inputs-showcase.component.html
  src/playground/with-layout/datepicker-with-format/datepicker-dynamic-inputs-showcase.component.ts
  src/playground/with-layout/datepicker-with-format/datepicker-example.scss
  src/playground/with-layout/datepicker-with-format/datepicker-with-format-routing.module.ts
  src/playground/with-layout/datepicker-with-format/datepicker-with-format.module.ts
  src/playground/with-layout/datepicker-with-format/rangepicker-dynamic-inputs-showcase.component.html
  src/playground/with-layout/datepicker-with-format/rangepicker-dynamic-inputs-showcase.component.ts
  src/playground/with-layout/datepicker/datepicker-routing.module.ts
  src/playground/with-layout/datepicker/datepicker.module.ts
  src/playground/with-layout/with-layout-routing.module.ts
Due: eslint --cache, stylelint, prettier --check

feat(timepicker): add disabled state (#3127)
  src/framework/theme/components/timepicker/timepicker.directive.ts
Due: eslint --cache, prettier --check

feat: ugrade angular to 14.1.0
  e2e/sidebar-two.e2e-spec.ts
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/bootstrap/styles/_globals.scss
  src/framework/firebase-auth/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
  src/framework/theme/schematics/ng-add/register-theme/index.ts
  src/framework/theme/schematics/ng-add/setup.ts
  src/framework/theme/schematics/util/project.ts
Due: eslint --cache, stylelint, prettier --check

chore: allow packages patch version auto bump
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
Due: none

Update oauth2-strategy.ts
  src/framework/auth/strategies/oauth2/oauth2-strategy.ts
Due: eslint --cache, prettier --check

feat: add custom icons
  src/framework/eva-icons/customIcons.ts
Due: eslint --cache, prettier --check

feat(menu): add lock option
  src/framework/theme/components/icon/icon.module.ts
  src/framework/theme/components/menu/menu-item.component.html
  src/framework/theme/components/menu/menu.component.ts
  src/framework/theme/components/menu/menu.module.ts
  src/framework/theme/components/menu/menu.service.ts
  src/playground/with-layout/menu/menu-showcase.component.html
Due: eslint --cache, prettier --check
