Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

update @schematics/angular for packages-smoke
  packages-smoke/package-lock.json
  packages-smoke/package.json
Due: none

various fixes
  eslint.config.mjs
  src/playground/without-layout/firebase/identity-proders-auth-showcase/identity-providers-auth-showcase.component.html
  src/playground/without-layout/firebase/password-auth-showcase/password-auth-showcase.component.html
Due: prettier --check

bump actions/download-artifact
  .github/workflows/pr-check.yml
Due: none

update nodejs
  .github/workflows/deploy-docs.yml
  .github/workflows/pr-check.yml
  .nvmrc
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
Due: none

fix security hotspots
  .github/workflows/pr-check.yml
Due: none

update package-lock
  package-lock.json
Due: none

fix: chat message sender truncation
  src/framework/theme/components/chat/chat-message-text.component.ts
  src/framework/theme/package.json
Due: eslint --cache, prettier --check

fix: tests
  e2e/layout-theme.e2e-spec.ts
Due: eslint --cache, prettier --check

chore: angular 19
  package-lock.json
  package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: none

chore: angular 19
  package.json
Due: none

chore: angular 19
  package-lock.json
Due: none

chore: update publish.sh for 15 version
  tools/publish.sh
Due: none

release: 16.0.0
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

release: 16.0.0 (#3295)
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

feat(NbDialogService): support passing values to input/model signals
  src/framework/theme/components/dialog/dialog-config.ts
  src/framework/theme/components/dialog/dialog.service.ts
Due: eslint --cache, prettier --check

update eslint
  package-lock.json
  package.json
Due: none

update eslint-config-prettier
  package-lock.json
  package.json
Due: none

update typescript-eslint
  package-lock.json
  package.json
Due: none

update eslint configuration
  eslint.config.mjs
Due: none

fix linting errors
  src/app/app.component.ts
  src/app/components-link.directive.ts
  src/app/components-list.service.ts
  src/framework/auth/components/register/register.component.html
  src/framework/auth/components/reset-password/reset-password.component.html
  src/playground/with-layout/autocomplete/autocomplete-active-first.component.ts
  src/playground/with-layout/autocomplete/autocomplete-custom-display.component.ts
  src/playground/with-layout/autocomplete/autocomplete-form.component.ts
  src/playground/with-layout/autocomplete/autocomplete-group.component.ts
  src/playground/with-layout/autocomplete/autocomplete-showcase.component.ts
  src/playground/with-layout/infinite-list/infinite-list-placeholders.component.ts
  src/playground/with-layout/infinite-list/infinite-news-list.component.ts
  src/playground/with-layout/infinite-list/news.service.ts
  src/playground/with-layout/menu/menu-service.component.ts
  src/playground/with-layout/oauth2-password/oauth2-password-login.component.ts
  src/playground/with-layout/oauth2/oauth2-callback.component.ts
  src/playground/with-layout/oauth2/oauth2-login.component.ts
  src/playground/without-layout/auth/api-calls/api-calls.component.ts
  src/playground/without-layout/auth/auth-guard.service.ts
  src/playground/without-layout/auth/role.provider.ts
  src/playground/without-layout/azure/azure-adb2c-auth-strategy.ts
  src/playground/without-layout/azure/azure-callback.component.ts
  src/playground/without-layout/azure/azure-login.component.ts
  src/playground/without-layout/context-menu/context-menu-click.component.ts
  src/playground/without-layout/firebase/identity-proders-auth-showcase/identity-providers-auth-showcase.component.ts
  src/playground/without-layout/firebase/password-auth-showcase/password-auth-showcase.component.ts
  src/playground/without-layout/menu/menu-test.component.ts
  src/playground/without-layout/search/search-with-input-event.component.ts
Due: eslint --cache, prettier --check

update karma
  package-lock.json
  package.json
Due: none

Remove RxJS v6 support and update dependencies and workflows
  .github/workflows/pr-check.yml
  package-lock.json
  package.json
  src/framework/auth/package.json
  src/framework/firebase-auth/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: none

Update package-lock
  package-lock.json
Due: none

fix: build docs
  .github/workflows/pr-check.yml
  docs/app/@theme/components/footer/footer.component.html
  docs/app/@theme/services/version.service.ts
  src/framework/theme/styles/_theming.scss
Due: eslint --cache, stylelint, prettier --check

fix: build cdocs
  .github/workflows/deploy-docs.yml
  angular.json
  docs/app/@theme/services/version.service.ts
  package-lock.json
  package.json
  packages-smoke/angular.json
  src/framework/theme/styles/_theming.scss
  tools/deploy-docs/build-docs.ts
  tools/deploy-docs/run-command.ts
Due: eslint --cache, stylelint, prettier --check

Angular-v21
  package-lock.json
  package.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/firebase-auth/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: none

Angular v21
  package-lock.json
  package.json
Due: none

Angular v21
  angular.json
  src/app/components-list/components-list.component.ts
  src/framework/moment/services/moment-date.service.spec.ts
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.spec.ts
  src/framework/theme/tsconfig.spec.json
  src/playground/playground-routing.module.ts
Due: eslint --cache, prettier --check

Angular v21
  src/app/components-list/components-list.component.ts
Due: eslint --cache, prettier --check

Angular v21
  packages-smoke/package.json
Due: none

Update select-with-autocomplete.spec.ts
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.spec.ts
Due: eslint --cache, prettier --check

Angular v21
  src/framework/auth/package.json
  src/framework/firebase-auth/package.json
Due: none

Update moment-date.service.spec.ts
  src/framework/moment/services/moment-date.service.spec.ts
Due: eslint --cache, prettier --check

Path conditions:
  eslint --cache: any of: *.{ts,js}
  stylelint: any of: *.{scss,css}
  prettier --check: any of: *.{ts,scss,html,md,js,css}
