Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

.lintstagedrc.json:

{
  "*.{ts,js}": "eslint --cache",
  "*.{scss,css}": "stylelint",
  "*.{ts,scss,html,md,js,css}": "prettier --check"
}

feat: update eslint to Angular 15
  angular.json
  package-lock.json
  package.json
Due: none

feat: update package-smoke to Angular 15
  packages-smoke/.browserslistrc
  packages-smoke/angular.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  packages-smoke/src/main.server.ts
  packages-smoke/src/test.ts
  packages-smoke/tsconfig.json
  packages-smoke/tsconfig.server.json
Due: eslint --cache, prettier --check

feat: update package-smoke to Angular 15
  packages-smoke/package-lock.json
  packages-smoke/package.json
Due: none

feat: update to Angular 15
  package.json
Due: none

feat: update to Angular 15
  packages-smoke/package.json
Due: none

feat: update to Angular 15
  .browserslistrc
  docs/.browserslistrc
  docs/app/app.module.ts
  docs/test.ts
  package-lock.json
  package.json
  packages-smoke/angular.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/app/app.module.ts
  src/app/playground-components.ts
  src/framework/auth/package.json
  src/framework/auth/test.ts
  src/framework/auth/tsconfig.lib.json
  src/framework/date-fns/package.json
  src/framework/date-fns/test.ts
  src/framework/date-fns/tsconfig.lib.json
  src/framework/eva-icons/package.json
  src/framework/eva-icons/test.ts
  src/framework/eva-icons/tsconfig.lib.json
  src/framework/firebase-auth/package.json
  src/framework/firebase-auth/test.ts
  src/framework/firebase-auth/tsconfig.lib.json
  src/framework/moment/test.ts
  src/framework/moment/tsconfig.lib.json
  src/framework/security/package.json
  src/framework/security/test.ts
  src/framework/security/tsconfig.lib.json
  src/framework/theme/components/actions/actions.spec.ts
  src/framework/theme/components/list/infinite-list.directive.spec.ts
  src/framework/theme/package.json
  src/framework/theme/services/ruler.service.spec.ts
  src/framework/theme/services/scroll.service.spec.ts
  src/framework/theme/test.ts
  src/framework/theme/tsconfig.lib.json
  src/test.ts
  tsconfig.json
Due: eslint --cache, prettier --check

fix(docs): remove bootstrap from docs
  angular.json
Due: none

fix(docs): remove bootstrap from docs (#3164)
  angular.json
Due: none

feat: update publish script, add tag version
  tools/publish.sh
Due: none

release: 11.0.0
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/components/tabset/tabset.component.ts
  src/framework/theme/package.json
Due: eslint --cache, prettier --check

release: 11.0.0 (#3165)
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/components/tabset/tabset.component.ts
  src/framework/theme/package.json
Due: eslint --cache, prettier --check

chore: update README.md
  README.md
Due: prettier --check

chore: update README.md (#3166)
  README.md
Due: prettier --check

docs(stepper): Replace incorrect use of nbStepperNext in disabled previous step with nbStepperPrevious in stepper examples
  src/playground/with-layout/stepper/stepper-showcase.component.html
  src/playground/with-layout/stepper/stepper-step-change-event.component.html
  src/playground/with-layout/stepper/stepper-vertical.component.html
Due: prettier --check

fix(styles): applies nb-for-theme mixin when cssCustomProperties mode is enabled (#3183)
  src/framework/theme/styles/core/theming/_install.scss
Due: stylelint, prettier --check

feat(migrate sass to 'strict-unary' + 'division'): :rocket:
  src/framework/theme/styles/core/theming/_get-value.scss
Due: stylelint, prettier --check

Updated file
  LICENSE
Due: none

Update to Angular 16
  .nvmrc
  angular.json
  package-lock.json
  package.json
  src/app/playground-components.ts
  src/framework/auth/package.json
  src/framework/firebase-auth/package.json
  src/framework/security/package.json
  src/framework/theme/components/calendar-kit/calendar-kit.module.ts
  src/framework/theme/components/calendar/calendar-range.module.ts
  src/framework/theme/components/context-menu/context-menu.module.ts
  src/framework/theme/components/datepicker/datepicker.module.ts
  src/framework/theme/components/dialog/dialog.module.ts
  src/framework/theme/components/popover/popover.module.ts
  src/framework/theme/components/search/search.module.ts
  src/framework/theme/components/spinner/spinner.module.ts
  src/framework/theme/components/toastr/toastr.module.ts
  src/framework/theme/components/tooltip/tooltip.module.ts
  src/framework/theme/components/window/window.module.ts
  src/framework/theme/package.json
  src/playground/with-layout/calendar-kit/calendar-kit-full-calendar.component.ts
  src/playground/with-layout/calendar/calendar-custom-day-cell-showcase.component.ts
  src/playground/with-layout/dialog/dialog.module.ts
  src/playground/with-layout/popover/popover.module.ts
  src/playground/with-layout/window/window.module.ts
  src/playground/without-layout/auth/auth-guard.service.ts
Due: eslint --cache, prettier --check

refactor(framework/auth): refactor to pass linter * use strict equality instead of loose equality in components template * format unformatted code with prettier
  src/framework/auth/.eslintrc.json
  src/framework/auth/UPGRADE.md
  src/framework/auth/auth.module.ts
  src/framework/auth/auth.options.ts
  src/framework/auth/components/auth-block/auth-block.component.ts
  src/framework/auth/components/auth.component.ts
  src/framework/auth/components/login/login.component.html
  src/framework/auth/components/login/login.component.ts
  src/framework/auth/components/logout/logout.component.ts
  src/framework/auth/components/register/register.component.html
  src/framework/auth/components/register/register.component.ts
  src/framework/auth/components/request-password/request-password.component.html
  src/framework/auth/components/request-password/request-password.component.ts
  src/framework/auth/components/reset-password/reset-password.component.html
  src/framework/auth/components/reset-password/reset-password.component.ts
  src/framework/auth/helpers.ts
  src/framework/auth/models/user.ts
  src/framework/auth/services/auth-result.ts
  src/framework/auth/services/auth.service.ts
  src/framework/auth/services/interceptors/jwt-interceptor.spec.ts
  src/framework/auth/services/interceptors/jwt-interceptor.ts
  src/framework/auth/services/token/token-parceler.spec.ts
  src/framework/auth/services/token/token-parceler.ts
  src/framework/auth/services/token/token-service.spec.ts
  src/framework/auth/services/token/token-storage.spec.ts
  src/framework/auth/services/token/token-storage.ts
  src/framework/auth/services/token/token.service.ts
  src/framework/auth/services/token/token.ts
  src/framework/auth/strategies/auth-strategy-options.ts
  src/framework/auth/strategies/oauth2/oauth2-strategy.options.ts
  src/framework/auth/strategies/oauth2/oauth2-strategy.spec.ts
  src/framework/auth/strategies/password/password-strategy-options.ts
  src/framework/auth/strategies/password/password-strategy.spec.ts
  src/framework/auth/tsconfig.lib.json
  src/framework/auth/tsconfig.lib.prod.json
  src/framework/auth/tsconfig.spec.json
Due: eslint --cache, prettier --check

fix(theme/styles): add a space after '+' operator fix the warning that was showing due to 'strict unary operators'
  src/framework/theme/styles/core/theming/_get-value.scss
Due: stylelint, prettier --check

fix(NbSelectWithAutocompleteComponent/spec): fix test spec * fix fakeAsync tests * fix binding properties name for 'nb-select-with-autocomplete'
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.spec.ts
Due: eslint --cache, prettier --check

build(gulp): remove incorrect 'typeRoots' from tsconfig
  tools/gulp/tsconfig.json
Due: none

fix(playground): remove AuthGuard from providers Because it has been changed to a function that implements CanActivateFn
  src/playground/without-layout/auth/auth.module.ts
Due: eslint --cache, prettier --check

feat(select-with-autocomplete): add search when multi
  src/framework/theme/components/select-with-autocomplete/_select-with-autocomplete.component.theme.scss
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.component.ts
Due: eslint --cache, stylelint, prettier --check

feat(select-with-autocomplete): add search when multi (#3204)
  src/framework/theme/components/select-with-autocomplete/_select-with-autocomplete.component.theme.scss
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.component.ts
Due: eslint --cache, stylelint, prettier --check

release: 11.0.1
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

release: 11.0.1 (#3205)
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

fix: upgrade packages
  package-lock.json
  package.json
  src/framework/firebase-auth/package.json
Due: none

fix: protractor.conf.js
  protractor.conf.js
Due: eslint --cache, prettier --check

fix: lint errors
  .lintstagedrc-fix.json
  .stylelintignore
  packages-smoke/src/app/app.component.ts
Due: eslint --cache, prettier --check

release: 12.0.0
  package.json
Due: none

Create SECURITY.md
  SECURITY.md
Due: prettier --check

Update readme
  README.md
Due: prettier --check

Update auth.service.ts
  src/framework/auth/services/auth.service.ts
Due: eslint --cache, prettier --check

Update register.component.html
  src/framework/auth/components/register/register.component.html
Due: prettier --check

fix(docs): fix docs deployment
  tools/gulp/docs/sass-export.ts
Due: eslint --cache, prettier --check
