Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

refactor(stepper): correct selector
  src/playground/with-layout/stepper/stepper-step-change-event.component.scss
Due: stylelint, prettier --check

refactor(stepper): simplify change example
  src/playground/with-layout/stepper/stepper-step-change-event.component.html
  src/playground/with-layout/stepper/stepper-step-change-event.component.scss
  src/playground/with-layout/stepper/stepper-step-change-event.component.ts
Due: eslint --cache, stylelint, prettier --check

test(stepper): correct modules imports
  src/framework/theme/components/stepper/stepper.spec.ts
Due: eslint --cache, prettier --check

test(stepper): simplify test component entities access
  src/framework/theme/components/stepper/stepper.spec.ts
Due: eslint --cache, prettier --check

test(stepper): fix selected input change test
  src/framework/theme/components/stepper/stepper.spec.ts
Due: eslint --cache, prettier --check

docs(stepper): change phrasing
  src/framework/theme/components/stepper/stepper.component.ts
Due: eslint --cache, prettier --check

feat(stepper): add step change event (#2779)
  src/app/playground-components.ts
  src/framework/theme/components/stepper/stepper.component.html
  src/framework/theme/components/stepper/stepper.component.ts
  src/framework/theme/components/stepper/stepper.spec.ts
  src/playground/with-layout/stepper/stepper-routing.module.ts
  src/playground/with-layout/stepper/stepper-step-change-event.component.html
  src/playground/with-layout/stepper/stepper-step-change-event.component.scss
  src/playground/with-layout/stepper/stepper-step-change-event.component.ts
  src/playground/with-layout/stepper/stepper.module.ts
Due: eslint --cache, stylelint, prettier --check

feat(chat): template as chat title
  schematics/dist/utils/playground.js.map
  src/framework/theme/components/chat/chat-title.directive.spec.ts
  src/framework/theme/components/chat/chat.component.ts
Due: eslint --cache, prettier --check

style(tabset):rename tab label directive
  src/framework/theme/components/tabset/tab-label.ts
  src/framework/theme/components/tabset/tab-title.ts
  src/framework/theme/components/tabset/tabset.component.ts
  src/framework/theme/components/tabset/tabset.module.ts
  src/framework/theme/public_api.ts
Due: eslint --cache, prettier --check

fix(select, autocomplete): prevent opening if no options
  src/framework/theme/components/autocomplete/autocomplete.directive.ts
  src/framework/theme/components/select/select.component.ts
Due: eslint --cache, prettier --check

fix(select): add ellipsis on selection view (#2809)
  src/framework/theme/components/select/select.component.html
Due: prettier --check

fix(select, autocomplete): prevent opening if no options
  src/framework/theme/components/autocomplete/autocomplete.directive.ts
Due: eslint --cache, prettier --check

docs: add tab title template to examples
  src/app/playground-components.ts
  src/framework/theme/components/tabset/tabset.component.ts
  src/playground/with-layout/tabset/tabset-routing.module.ts
  src/playground/with-layout/tabset/tabset-title.component.html
  src/playground/with-layout/tabset/tabset-title.component.ts
  src/playground/with-layout/tabset/tabset.module.ts
Due: eslint --cache, prettier --check

fix(select, autocomplete): prevent opening if no options
  src/framework/theme/components/select/select.spec.ts
Due: eslint --cache, prettier --check

feat: update Angular cli and core packages
  .gitignore
  docs/app/blocks/components/theme-block/theme-block.component.html
  docs/polyfills.ts
  package-lock.json
  package.json
  src/framework/auth/ng-package.json
  src/framework/date-fns/ng-package.json
  src/framework/eva-icons/ng-package.json
  src/framework/firebase-auth/ng-package.json
  src/framework/moment/ng-package.json
  src/framework/security/ng-package.json
  src/polyfills.ts
Due: eslint --cache, prettier --check

feat: update ESLint related packages
  package-lock.json
  package.json
Due: none

feat: update Angular CDK package
  package-lock.json
  package.json
  src/framework/theme/components/cdk/overlay/_overlay.theme.scss
Due: stylelint, prettier --check

feat: update schematics package
  package-lock.json
  package.json
Due: none

refactor: remove unused karma-spec-reporter package
  package-lock.json
  package.json
Due: none

refactor: update jasmine packages
  package-lock.json
  package.json
Due: none

fix: type errors from TS 4.4
  src/framework/auth/strategies/dummy/dummy-strategy.ts
  src/framework/theme/components/datepicker/datepicker.component.ts
Due: eslint --cache, prettier --check

fix(packages): use updated createComponent signature
  src/framework/theme/components/calendar-kit/components/calendar-picker/calendar-picker-row.component.ts
  src/framework/theme/components/window/window.service.ts
Due: eslint --cache, prettier --check

refactor(packages): remove tilda import fix
  package.json
  tools/build-packages/sass-import.ts
Due: eslint --cache, prettier --check

refactor(packages): up Node.js version
  .github/workflows/pr-check.yml
  .nvmrc
  package-lock.json
  package.json
Due: none

refactor(theme): migrate sass division syntax
  src/framework/theme/components/layout/_layout.component.theme.scss
  src/framework/theme/components/popover/_popover.component.theme.scss
  src/framework/theme/components/stepper/_stepper.component.theme.scss
  src/framework/theme/components/tooltip/tooltip.component.scss
  src/framework/theme/styles/core/_mixins.scss
Due: stylelint, prettier --check

feat(chat): provide custom template to title
  src/app/playground-components.ts
  src/framework/theme/components/chat/chat-title.directive.spec.ts
  src/framework/theme/components/chat/chat-title.directive.ts
  src/framework/theme/components/chat/chat.component.ts
  src/framework/theme/components/chat/chat.module.ts
  src/framework/theme/public_api.ts
  src/playground/with-layout/chat/chat-routing.module.ts
  src/playground/with-layout/chat/chat-template-title.component.html
  src/playground/with-layout/chat/chat-template-title.component.ts
  src/playground/with-layout/chat/chat.module.ts
Due: eslint --cache, prettier --check

refactor(workspace): remove ngcc compile postinstall script
  package.json
Due: none

docs: add caching into article.service.ts
  docs/app/@theme/services/article.service.ts
  docs/app/@theme/services/structure.service.ts
Due: eslint --cache, prettier --check

feat(layout): add layout-direction directives
  src/framework/theme/components/layout/direction.directive.ts
  src/framework/theme/components/layout/layout.module.ts
Due: eslint --cache, prettier --check

docs: add description to md-section.service
  docs/app/@theme/services/md-sections.service.ts
Due: eslint --cache, prettier --check

feat(packages): add support for rxjs 7
  package-lock.json
  package.json
  src/framework/auth/package.json
  src/framework/firebase-auth/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: none

feat(bootstrap): Dart Sass imports
  src/framework/bootstrap/styles/_globals.scss
Due: stylelint, prettier --check

feat(packages): up Angular version in peers
  src/framework/auth/package.json
  src/framework/firebase-auth/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: none

refactor(workspace): correct project dir of packages schematics
  package.json
Due: none

feat(packages smoke): Angular 13
  packages-smoke/angular.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  packages-smoke/src/polyfills.ts
Due: eslint --cache, prettier --check

feat(theme): remove dependency on IntersectionObserver polyfill
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  src/framework/theme/components/list/list-page-tracker.directive.ts
  src/framework/theme/ng-package.json
  src/framework/theme/package.json
Due: eslint --cache, prettier --check

ci: check packages are building with rxjs 7
  .github/workflows/pr-check.yml
Due: none

fix(theme): build errors with rxjs 7
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay.ts
  src/framework/theme/components/cdk/overlay/overlay-trigger.ts
  src/framework/theme/components/tree-grid/tree-grid-row.component.ts
  src/framework/theme/components/window/window-ref.ts
Due: eslint --cache, prettier --check

refactor(workspace): remove components css files from package
  package.json
Due: none

fix(tabset): add lazy content directive to public api
  src/framework/theme/public_api.ts
Due: eslint --cache, prettier --check

Path conditions:
  eslint --cache: any of: *.{ts,js}
  stylelint: any of: *.{scss,css}
  prettier --check: any of: *.{ts,scss,html,md,js,css}
