Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

refactor: remove unused constructor parameter
  src/framework/theme/components/cdk/overlay/overlay-position.ts
Due: eslint --cache, prettier --check

refactor: rename position to startPosition
  src/framework/theme/components/cdk/overlay/overlay-position.ts
Due: eslint --cache, prettier --check

refactor(infinite list): remove throttling by default
  src/framework/theme/components/list/infinite-list.directive.ts
Due: eslint --cache, prettier --check

fix(tooltip, popover, context menu): correct physical positions in RTL (#2819)
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay-handler.spec.ts
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay-handler.ts
  src/framework/theme/components/cdk/overlay/mapping.ts
  src/framework/theme/components/cdk/overlay/overlay-position.spec.ts
  src/framework/theme/components/cdk/overlay/overlay-position.ts
  src/framework/theme/components/cdk/overlay/position-helper.ts
Due: eslint --cache, prettier --check

docs(ligature font pack): separate section with heading
  docs/articles/guides/custom-icons.md
Due: prettier --check

feat(icon): add support for ligature icons (#2951)
  docs/articles/guides/custom-icons.md
  src/framework/theme/components/icon/icon-libraries.ts
  src/framework/theme/components/icon/icons-libraries.spec.ts
Due: eslint --cache, prettier --check

chore: bump version
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: none

refactor(theme): migrate to use
  src/framework/theme/schematics/ng-add/index.spec.ts
  src/framework/theme/schematics/ng-add/register-theme/theme-content.ts
  src/framework/theme/styles/_all.scss
  src/framework/theme/styles/_component.scss
  src/framework/theme/styles/_globals.scss
  src/framework/theme/styles/_themes.scss
  src/framework/theme/styles/_theming-variables.scss
  src/framework/theme/styles/_theming.scss
  src/framework/theme/styles/core/_functions.scss
  src/framework/theme/styles/core/_mixins.scss
  src/framework/theme/styles/core/_variants.scss
  src/framework/theme/styles/core/theming/_get-value.scss
  src/framework/theme/styles/core/theming/_install.scss
  src/framework/theme/styles/core/theming/_register.scss
  src/framework/theme/styles/global/_breakpoints.scss
  src/framework/theme/styles/global/_components.scss
  src/framework/theme/styles/global/_overrides.scss
  src/framework/theme/styles/global/tables/_smart-table.theme.scss
  src/framework/theme/styles/global/typography/_typography.scss
  src/framework/theme/styles/prebuilt/corporate.scss
  src/framework/theme/styles/prebuilt/cosmic.scss
  src/framework/theme/styles/prebuilt/dark.scss
  src/framework/theme/styles/prebuilt/default.scss
  src/framework/theme/styles/themes/_corporate.scss
  src/framework/theme/styles/themes/_cosmic.scss
  src/framework/theme/styles/themes/_dark.scss
  src/framework/theme/styles/themes/_default.scss
Due: eslint --cache, stylelint, prettier --check

chore: update changelog
  CHANGELOG.md
Due: prettier --check

fix: changelog script
  package.json
Due: none

change build docs output path
  scripts/docs/config.ts
  scripts/gulp/tasks/config.ts
Due: eslint --cache, prettier --check

fix(7.0.x): change build docs output path (#2942)
  angular.json
  scripts/docs/config.ts
  scripts/gulp/tasks/config.ts
Due: eslint --cache, prettier --check

refactor(auth): migrate styles to use syntax
  src/framework/auth/components/auth-block/_auth-block.component.theme.scss
  src/framework/auth/components/auth.component.scss
  src/framework/auth/styles/_globals.scss
  src/framework/auth/styles/global/_components.scss
  src/framework/auth/styles/prebuilt/corporate.scss
  src/framework/auth/styles/prebuilt/cosmic.scss
  src/framework/auth/styles/prebuilt/dark.scss
  src/framework/auth/styles/prebuilt/default.scss
Due: stylelint, prettier --check

refactor(bootstrap): migrate styles to use syntax
  src/framework/bootstrap/styles/_button-group.scss
  src/framework/bootstrap/styles/_buttons.scss
  src/framework/bootstrap/styles/_default-form-control.scss
  src/framework/bootstrap/styles/_dropdowns.scss
  src/framework/bootstrap/styles/_forms.scss
  src/framework/bootstrap/styles/_globals.scss
  src/framework/bootstrap/styles/_hero-buttons.scss
  src/framework/bootstrap/styles/_icon-buttons.scss
  src/framework/bootstrap/styles/_layout.scss
  src/framework/bootstrap/styles/_modals.scss
  src/framework/bootstrap/styles/_outline-buttons.scss
  src/framework/bootstrap/styles/_shape-buttons.scss
  src/framework/bootstrap/styles/_size-buttons.scss
  src/framework/bootstrap/styles/_size-form-control.scss
  src/framework/bootstrap/styles/_status-buttons.scss
  src/framework/bootstrap/styles/prebuilt/corporate.scss
  src/framework/bootstrap/styles/prebuilt/cosmic.scss
  src/framework/bootstrap/styles/prebuilt/dark.scss
  src/framework/bootstrap/styles/prebuilt/default.scss
Due: stylelint, prettier --check

refactor(theme): import global breakpoints
  src/framework/theme/components/layout/_layout.component.theme.scss
  src/framework/theme/components/sidebar/_sidebar.component.theme.scss
Due: stylelint, prettier --check

fix(theme): use global variable
  src/framework/theme/styles/core/theming/_get-value.scss
Due: stylelint, prettier --check

refactor(playground): migrate to use syntax
  src/playground/styles/example-helpers.scss
  src/playground/styles/styles.scss
  src/playground/styles/themes.scss
  src/playground/with-layout/alert/alert-example.component.scss
  src/playground/with-layout/button-group/button-group-interactive.component.scss
  src/playground/with-layout/button-group/button-group-showcase.component.scss
  src/playground/with-layout/button/button-interactive.component.scss
  src/playground/with-layout/chat/components/chat-custom-message-table.component.scss
  src/playground/with-layout/checkbox/checkbox-status.component.scss
  src/playground/with-layout/icon/icon-colors.component.scss
  src/playground/with-layout/infinite-list/news-post-placeholder.component.scss
  src/playground/with-layout/input/input-colors.component.scss
  src/playground/with-layout/progress-bar/progress-bar-status.component.scss
  src/playground/with-layout/spinner/spinner-colors.component.scss
  src/playground/without-styles/bootstrap/styles.scss
Due: stylelint, prettier --check

refactor(packages smoke): migrate to use syntax
  packages-smoke/src/styles.scss
Due: stylelint, prettier --check

refactor(playground): remove namespace from theming import
  src/playground/styles/themes.scss
Due: stylelint, prettier --check

fix(infinite-list): move throttle to getContainerDimensions
  src/framework/theme/components/list/infinite-list.directive.ts
Due: eslint --cache, prettier --check

fix(infinite-list): change docs for throttleTime
  src/framework/theme/components/list/infinite-list.directive.ts
Due: eslint --cache, prettier --check

fix(8.0.x): change build docs output path (#2962)
  angular.json
  scripts/docs/config.ts
  scripts/gulp/tasks/config.ts
Due: eslint --cache, prettier --check

refactor(docs): migrate to use syntax
  docs/app/@theme/components/components-promo/components-promo.component.scss
  docs/app/@theme/components/footer/footer.component.scss
  docs/app/@theme/components/for-business/for-business.component.scss
  docs/app/@theme/components/header/header.component.scss
  docs/app/@theme/components/hero/hero.component.scss
  docs/app/@theme/components/icon-card/icon-card.component.scss
  docs/app/@theme/components/page-tabs/page-tabs.component.scss
  docs/app/@theme/components/page-toc/page-toc.component.scss
  docs/app/@theme/components/search/search.component.scss
  docs/app/@theme/components/text-card/text-card.component.scss
  docs/app/@theme/styles/_common.scss
  docs/app/@theme/styles/hs-form.scss
  docs/app/@theme/styles/pace.theme.scss
  docs/app/@theme/styles/styles.scss
  docs/app/@theme/styles/theme-components.scss
  docs/app/@theme/styles/themes.scss
  docs/app/blocks/components/code-block/code-block.component.scss
  docs/app/blocks/components/components-overview-block/components-overview-block.component.scss
  docs/app/blocks/components/live-example-block/live-example-block.component.scss
  docs/app/blocks/components/pager-block/pager-block.component.scss
  docs/app/blocks/components/tabbed-example-block/tabbed-example-block.component.scss
  docs/app/blocks/components/theme-block/theme-block.component.scss
  docs/app/documentation/documentation.component.scss
  docs/app/documentation/page/page.component.scss
  docs/app/home/home.component.scss
  docs/themes.scss
Due: stylelint, prettier --check

refactor(docs): update imports in docs articles
  docs/articles/auth/install.md
  docs/articles/design-system/css-properties.md
  docs/articles/design-system/custom-theme.md
  docs/articles/design-system/enable-customizable-theme.md
  docs/articles/design-system/multiple-runtime-themes.md
  docs/articles/design-system/use-theme-variables.md
Due: prettier --check

chore(ci): prevent duplicate workflow run
  .github/workflows/pr-check.yml
Due: none

chore(ci): prevent duplicate workflow run (#2964)
  .github/workflows/pr-check.yml
Due: none

feat(deploy docs): Copy docs of existing version from gh-pages instead of building
  .github/workflows/deploy-docs.yml
  tools/deploy-docs/build-docs.ts
  tools/deploy-docs/versions.json
Due: eslint --cache, prettier --check

deploy docs
  tools/deploy-docs/build-docs.ts
Due: eslint --cache, prettier --check

deploy docs
  .github/workflows/deploy-docs.yml
  tools/deploy-docs/build-docs.ts
Due: eslint --cache, prettier --check

fix(docs): article links
  docs/articles/design-system/css-properties.md
  docs/articles/design-system/multiple-runtime-themes.md
Due: prettier --check

fix(docs): enable export mode
  docs/themes.scss
Due: stylelint, prettier --check

merge
  tools/deploy-docs/build-docs.ts
Due: eslint --cache, prettier --check

fix(auth, bootstrap): register themes
  src/framework/auth/styles/prebuilt/corporate.scss
  src/framework/auth/styles/prebuilt/cosmic.scss
  src/framework/auth/styles/prebuilt/dark.scss
  src/framework/auth/styles/prebuilt/default.scss
  src/framework/bootstrap/styles/prebuilt/corporate.scss
  src/framework/bootstrap/styles/prebuilt/cosmic.scss
  src/framework/bootstrap/styles/prebuilt/dark.scss
  src/framework/bootstrap/styles/prebuilt/default.scss
Due: stylelint, prettier --check

chore: apply formatting to CHNAGELOG
  .vscode/settings.json
  CHANGELOG.md
Due: prettier --check

chore: fix changelog script (#2961)
  .vscode/settings.json
  CHANGELOG.md
  package.json
Due: prettier --check

refactor(playground): align tools with flex
  src/app/layout-direction-toggle/layout-direction-toggle.component.scss
  src/app/layout-theme-toggle/layout-theme-toggle.component.scss
Due: stylelint, prettier --check

prevent closing on expand icon click
  src/framework/theme/components/context-menu/_context-menu.component.theme.scss
Due: stylelint, prettier --check

fix(playground): set color
  src/app/app.component.scss
Due: stylelint, prettier --check

Path conditions:
  eslint --cache: any of: *.{ts,js}
  stylelint: any of: *.{scss,css}
  prettier --check: any of: *.{ts,scss,html,md,js,css}
