Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

feat(icons): add new icons
  src/framework/eva-icons/customIcons.ts
Due: eslint --cache, prettier --check

feat(font): update font family
  docs/articles/design-system/typography.md
  docs/articles/guides/install.md
  src/framework/theme/styles/themes/_default.scss
Due: stylelint, prettier --check

feat(font): update font family docs
  docs/articles/guides/install.md
Due: prettier --check

feat(tokens): update design tokens
  src/framework/theme/styles/themes/_default.scss
  src/framework/theme/styles/themes/_mapping.scss
Due: stylelint, prettier --check

docs(context menu): add nbContextMenuClass description, giving visibility to users about this feature
  src/framework/theme/components/context-menu/context-menu.directive.ts
Due: eslint --cache, prettier --check

fix(pagination): fix total count
  src/framework/theme/components/pagination/pagination.component.html
Due: prettier --check

feat(pagination): new pagination logic
  src/framework/theme/components/pagination/pagination.component.html
  src/framework/theme/components/pagination/pagination.component.scss
  src/framework/theme/components/pagination/pagination.component.ts
Due: eslint --cache, stylelint, prettier --check

feat(pagination): new pagination logic
  src/framework/theme/components/pagination/pagination.component.html
  src/framework/theme/components/pagination/pagination.component.ts
  src/playground/with-layout/pagination/pagination-showcase.component.html
Due: eslint --cache, prettier --check

fix(layout): move scroll position update in constructor
  src/framework/theme/components/layout/layout.component.ts
Due: eslint --cache, prettier --check

fix(layout): move scroll position update in constructor (#3038)
  src/framework/theme/components/layout/layout.component.ts
Due: eslint --cache, prettier --check

release: 7.0.5
  CHANGELOG.md
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

release: 7.0.5 (#3039)
  CHANGELOG.md
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

feat: update design tokens
  src/framework/theme/styles/themes/_default.scss
  src/framework/theme/styles/themes/_mapping.scss
Due: stylelint, prettier --check

fix: pagination
  src/framework/theme/components/pagination/pagination.component.html
  src/playground/with-layout/pagination/pagination-showcase.component.html
Due: prettier --check

refactor: replace deprecated String.prototype.substr()
  src/framework/theme/services/color.helper.ts
Due: eslint --cache, prettier --check

feat: update pagination with changes
  src/framework/theme/components/pagination/pagination.component.ts
  src/playground/with-layout/pagination/pagination-showcase.component.html
  src/playground/with-layout/pagination/pagination-showcase.component.ts
  src/playground/with-layout/pagination/pagination.module.ts
Due: eslint --cache, prettier --check

fix(tabset): Use the init state to determine if the nb-template should be loaded
  src/framework/theme/components/tabset/tabset.component.ts
  src/playground/with-layout/tabset/tabset-test.component.ts
Due: eslint --cache, prettier --check

fix: fix initial value render in date time picker
  src/framework/theme/components/datepicker/date-timepicker.component.ts
Due: eslint --cache, prettier --check

chore: add showcase for initial value in date-time picker
  src/app/playground-components.ts
  src/playground/with-layout/datepicker/date-timepicker-with-initial-value-showcase.component.ts
  src/playground/with-layout/datepicker/datepicker-routing.module.ts
  src/playground/with-layout/datepicker/datepicker.module.ts
Due: eslint --cache, prettier --check

Revert "chore: add showcase for initial value in date-time picker"
  src/app/playground-components.ts
  src/playground/with-layout/datepicker/date-timepicker-with-initial-value-showcase.component.ts
  src/playground/with-layout/datepicker/datepicker-routing.module.ts
  src/playground/with-layout/datepicker/datepicker.module.ts
Due: eslint --cache, prettier --check

Revert "fix: fix initial value render in date time picker"
  src/framework/theme/components/datepicker/date-timepicker.component.ts
Due: eslint --cache, prettier --check

fix(datepicker): fix initial value render (#3050)
  src/framework/theme/components/datepicker/date-timepicker.component.ts
Due: eslint --cache, prettier --check

release: 9.0.2
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

fix(packages-smoke): versions1
  packages-smoke/package-lock.json
Due: none

release: 9.0.2 (#3052)
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

feat: update icons
  package-lock.json
  src/framework/eva-icons/customIcons.ts
Due: eslint --cache, prettier --check

docs: update docs
  docs/articles/guides/install.md
  docs/articles/guides/maintenance.md
Due: prettier --check

feat: add new icons and design toksn
  src/framework/eva-icons/customIcons.ts
  src/framework/theme/styles/themes/_mapping.scss
Due: eslint --cache, stylelint, prettier --check

fix(select): disable opening disabled select after clicking on content
  src/framework/theme/components/select/select.component.html
Due: prettier --check

fix(select): disable opening disabled select after clicking on content (#3068)
  src/framework/theme/components/select/select.component.html
Due: prettier --check

release: 9.0.3
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

release: 9.0.3 (#3069)
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

Revert "chore: correct path for packages to publish (#2980)"
  tools/publish.sh
Due: none

Revert "release: 9.0.0 (#2975)"
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

release: 9.0.0 (#2975)
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

fix: memory leaks (#3000)
  src/framework/theme/components/layout/layout.component.ts
  src/framework/theme/components/tabset/tabset.component.ts
Due: eslint --cache, prettier --check

ci-deploy
  .github/workflows/deploy-docs.yml
Due: none

ci-deploy
  .github/workflows/deploy-docs.yml
  package.json
Due: none

Path conditions:
  eslint --cache: any of: *.{ts,js}
  stylelint: any of: *.{scss,css}
  prettier --check: any of: *.{ts,scss,html,md,js,css}
