Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

.lintstagedrc.json:

{
  "*.{ts,js}": "eslint --cache",
  "*.{scss,css}": "stylelint",
  "*.{ts,scss,html,md,js,css}": "prettier --check"
}

chore(gulp): refactor docs related tasks
  package-lock.json
  package.json
  tools/gulp/config.ts
  tools/gulp/docs/copy-index.ts
  tools/gulp/docs/docs-utils.ts
  tools/gulp/docs/docs.ts
  tools/gulp/docs/example.ts
  tools/gulp/docs/output-json.ts
  tools/gulp/docs/prepare-docs.ts
  tools/gulp/docs/sass-export.ts
  tools/gulp/docs/sitemap.ts
  tools/gulp/gulpfile.ts
Due: eslint --cache, prettier --check

refactor(dev schematics): update tsconfig
  tools/dev-schematics/tsconfig.json
Due: none

refactor(theme): prevent circular deps warning
  src/framework/theme/components/button-group/button-group-injection-tokens.ts
  src/framework/theme/components/button-group/button-group.component.ts
  src/framework/theme/components/button-group/button-toggle.directive.ts
  src/framework/theme/public_api.ts
Due: eslint --cache, prettier --check

ci(deploy docs): correct path to script
  package.json
Due: none

refactor: move pubish script to the tools dir
  package.json
  tools/publish.sh
Due: none

chore: remove pree2e script
  package.json
Due: none

refactor(packages smoke): regenerate project
  packages-smoke/.browserslistrc
  packages-smoke/.eslintrc.json
  packages-smoke/README.md
  packages-smoke/angular.json
  packages-smoke/karma.conf.js
  packages-smoke/package-lock.json
  packages-smoke/package.json
  packages-smoke/server.ts
  packages-smoke/src/.browserslistrc
  packages-smoke/src/app/app.module.ts
  packages-smoke/src/app/app.server.module.ts
  packages-smoke/src/environments/environment.ts
  packages-smoke/src/favicon.ico
  packages-smoke/src/index.html
  packages-smoke/src/karma.conf.js
  packages-smoke/src/main.server.ts
  packages-smoke/src/main.ts
  packages-smoke/src/polyfills.ts
  packages-smoke/src/test.ts
  packages-smoke/src/tsconfig.app.es2015.json
  packages-smoke/src/tsconfig.app.json
  packages-smoke/src/tsconfig.server.json
  packages-smoke/src/tsconfig.spec.json
  packages-smoke/src/tslint.json
  packages-smoke/tsconfig.app.json
  packages-smoke/tsconfig.json
  packages-smoke/tsconfig.server.json
  packages-smoke/tsconfig.spec.json
  packages-smoke/tslint.json
  scripts/ci/packages-smoke.sh
Due: eslint --cache, prettier --check

chore(deploy docs): correct docs dist path
  tools/deploy-docs/config.ts
Due: eslint --cache, prettier --check

refactor: move deploy docs script to the tools dir
  package.json
  scripts/docs/tslint.json
  tools/deploy-docs/build-docs.ts
  tools/deploy-docs/config.ts
  tools/deploy-docs/ghspa-template.ts
  tools/deploy-docs/log.ts
  tools/deploy-docs/run-command.ts
  tools/deploy-docs/tsconfig.json
Due: eslint --cache, prettier --check

refactor: remove dev deploy and publish
  .firebaserc
  .travis.yml
  firebase.json
  package-lock.json
  package.json
  scripts/ci/deploy.sh
  scripts/ci/publish.sh
  scripts/ci/travis-script.sh
Due: none

chore(dev schematics): move to the tools directory
  .eslintrc.json
  .gitignore
  .prettierignore
  package.json
  schematics/tsconfig.json
  tools/dev-schematics/collection.json
  tools/dev-schematics/new-component/files/__path__/__name@dasherize__/__name@dasherize__.component.__styleext__
  tools/dev-schematics/new-component/files/__path__/__name@dasherize__/__name@dasherize__.component.html
  tools/dev-schematics/new-component/files/__path__/__name@dasherize__/__name@dasherize__.component.spec.ts
  tools/dev-schematics/new-component/files/__path__/__name@dasherize__/__name@dasherize__.component.theme.__styleext__
  tools/dev-schematics/new-component/files/__path__/__name@dasherize__/__name@dasherize__.component.ts
  tools/dev-schematics/new-component/files/__path__/__name@dasherize__/__name@dasherize__.module.ts
  tools/dev-schematics/new-component/index.ts
  tools/dev-schematics/new-component/index_spec.ts
  tools/dev-schematics/new-component/schema.json
  tools/dev-schematics/playground-components/index.ts
  tools/dev-schematics/playground-components/schema.json
  tools/dev-schematics/playground-module/add-to-modules.ts
  tools/dev-schematics/playground-module/files/__path__/__featureModuleFileName__
  tools/dev-schematics/playground-module/files/__path__/__routingModuleFileName__
  tools/dev-schematics/playground-module/generate-missing-modules.ts
  tools/dev-schematics/playground-module/index.ts
  tools/dev-schematics/playground-module/schema.json
  tools/dev-schematics/playground/index.ts
  tools/dev-schematics/playground/schema.json
  tools/dev-schematics/tsconfig.json
  tools/dev-schematics/utils/ast.ts
  tools/dev-schematics/utils/change.ts
  tools/dev-schematics/utils/formatting.ts
  tools/dev-schematics/utils/index.ts
  tools/dev-schematics/utils/path.ts
  tools/dev-schematics/utils/playground.ts
  tools/dev-schematics/utils/routing.ts
  tools/dev-schematics/utils/strings.ts
  tsconfig.publish.json
  tsconfig.schematics.json
Due: eslint --cache, prettier --check

refactor(docs): disable budgets errors
  angular.json
Due: none

chore: specify correct path to built packages
  DEV_DOCS.md
  tools/publish.sh
Due: prettier --check

chore(gulp): remove unnecessary tasks
  gulpfile.js
  package.json
  scripts/gulp/gulpfile.ts
  scripts/gulp/tasks/build/build.ts
  scripts/gulp/tasks/build/bundle/bundle.ts
  scripts/gulp/tasks/build/bundle/bundles-paths.ts
  scripts/gulp/tasks/build/bundle/rollup-config.ts
  scripts/gulp/tasks/build/compile/scss.ts
  scripts/gulp/tasks/build/compile/ts-configs.ts
  scripts/gulp/tasks/build/compile/typescript.ts
  scripts/gulp/tasks/build/resources.ts
  scripts/gulp/tasks/bump-versions.ts
  scripts/gulp/tasks/change-prefix.ts
  src/framework/theme/tsconfig.schematics.spec.json
  tools/gulp/bump-versions.ts
  tools/gulp/config.ts
  tools/gulp/docs/docs.ts
  tools/gulp/docs/example.ts
  tools/gulp/docs/export-themes.ts
  tools/gulp/gulpfile.ts
  tools/gulp/schematics/build-dev-schematics.ts
  tools/gulp/schematics/schematics-utils.ts
  tools/gulp/schematics/test-packages-schematics.ts
  tools/gulp/tsconfig.json
Due: eslint --cache, prettier --check

chore(package.json): remove unnecessary scripts
  package.json
Due: none

fix(context-menu): prevent closing when chevron-icon is clicked
  src/framework/theme/components/context-menu/_context-menu.component.theme.scss
Due: stylelint, prettier --check

chore(scripts): remove duplicate scripts
  package.json
Due: none

chore(scripts): remove redundant script
  package.json
Due: none

docs: fix server platform issues
  docs/app/@theme/components/hubspot-cta/akveo-services-banner.component.ts
  docs/app/@theme/components/search/search.component.ts
  docs/app/@theme/services/visibility.service.ts
  docs/app/documentation/page/page.component.ts
Due: eslint --cache, prettier --check

build: add initial pr check workflow
  .github/workflows/deploy-docs.yml
  .github/workflows/pr-check.yml
  tools/deploy-docs/config.ts
Due: eslint --cache, prettier --check

refactor: use updated script names
  .github/workflows/pr-check.yml
  package.json
Due: none

refactor: change node version
  .github/workflows/pr-check.yml
Due: none

refactor(ci): remove Sauce Labs related code
  karma.conf.js
  package-lock.json
  package.json
  protractor.conf.js
  scripts/ci/sauce/config.js
  scripts/ci/sauce/start-tunnel.sh
  scripts/ci/sauce/stop-tunnel.sh
  scripts/ci/sauce/wait-tunnel.sh
Due: eslint --cache, prettier --check

feat(sidebar): toggle triggers onCollapse and onExpand
  src/framework/theme/components/sidebar/sidebar.component.ts
Due: eslint --cache, prettier --check

feat(docs): add prerendering
  docs/app/app.component.ts
  docs/app/app.module.ts
  docs/app/app.server.module.ts
  docs/main.server.ts
  docs/server.ts
  docs/tsconfig.server.json
  src/main.ts
Due: eslint --cache, prettier --check

docs: fix server platform issue
  docs/app/@theme/components/header/header.component.ts
  docs/app/@theme/services/analytics.service.ts
  docs/app/app.component.ts
Due: eslint --cache, prettier --check

docs: change dist direction to dist/browser
  tools/deploy-docs/build-docs.ts
Due: eslint --cache, prettier --check

docs: update prerender config
  .gitignore
  angular.json
  docs/polyfills.ts
  docs/server.ts
  package-lock.json
  package.json
  tools/deploy-docs/build-docs.ts
  tools/gulp/config.ts
  tools/gulp/docs/copy-index.ts
Due: eslint --cache, prettier --check

refactor(ci): correct repo owner name
  tools/deploy-docs/config.ts
Due: eslint --cache, prettier --check

test: fix test imports
  src/framework/auth/services/token/token-parceler.spec.ts
  src/framework/auth/strategies/oauth2/oauth2-strategy.spec.ts
  src/framework/auth/strategies/password/password-strategy.spec.ts
  src/framework/date-fns/services/date-fns-date.service.spec.ts
  src/framework/moment/services/moment-date.service.spec.ts
  src/framework/security/services/access-checker.spec.ts
  src/framework/security/services/acl.spec.ts
  src/framework/theme/components/calendar-kit/components/calendar-day-picker/calendar-day-cell.component.spec.ts
  src/framework/theme/components/calendar-kit/components/calendar-days-names/calendar-days-names.component.spec.ts
  src/framework/theme/components/calendar-kit/components/calendar-month-picker/calendar-month-cell.component.spec.ts
  src/framework/theme/components/calendar-kit/components/calendar-picker/calendar-picker-row.component.spec.ts
  src/framework/theme/components/calendar-kit/components/calendar-year-picker/calendar-year-cell.component.spec.ts
  src/framework/theme/components/calendar-kit/components/calendar-year-picker/calendar-year-picker.component.spec.ts
  src/framework/theme/components/calendar-kit/services/calendar-month-model.spec.ts
  src/framework/theme/components/calendar-kit/services/calendar-time-model.service.spec.ts
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay.spec.ts
  src/framework/theme/components/cdk/overlay/overlay-trigger.spec.ts
  src/framework/theme/components/chat/chat-custom-message.directive.spec.ts
  src/framework/theme/components/chat/chat-message.component.spec.ts
  src/framework/theme/components/datepicker/datepicker-adapter.spec.ts
  src/framework/theme/components/dialog/dialog.service.spec.ts
  src/framework/theme/components/icon/icons-libraries.spec.ts
  src/framework/theme/components/input/input.spec.ts
  src/framework/theme/components/layout/restore-scroll-top.service.spec.ts
  src/framework/theme/components/list/infinite-list.directive.spec.ts
  src/framework/theme/components/list/list-pager.directive.spec.ts
  src/framework/theme/components/menu/menu.spec.ts
  src/framework/theme/components/popover/popover.spec.ts
  src/framework/theme/components/stepper/stepper.spec.ts
  src/framework/theme/components/tooltip/tooltip.spec.ts
  src/framework/theme/services/breakpoints.spec.ts
  src/framework/theme/services/js-themes-registry.spec.ts
  src/framework/theme/services/ruler.service.spec.ts
  src/framework/theme/services/scroll.service.spec.ts
  src/framework/theme/services/theme.spec.ts
  src/tsconfig.spec-wp.json
Due: eslint --cache, prettier --check

refactor(chat): update custom message service name
  src/framework/theme/components/chat/chat-custom-message.directive.spec.ts
  src/framework/theme/components/chat/chat-custom-message.directive.ts
  src/framework/theme/components/chat/chat-custom-message.service.ts
  src/framework/theme/components/chat/chat-message.component.spec.ts
  src/framework/theme/components/chat/chat-message.component.ts
  src/framework/theme/components/chat/chat.component.ts
  src/framework/theme/public_api.ts
Due: eslint --cache, prettier --check

test(auth): correct typings
  src/framework/auth/strategies/password/password-strategy.spec.ts
Due: eslint --cache, prettier --check

test(security): ignore typings
  src/framework/security/services/acl.spec.ts
Due: eslint --cache, prettier --check

ci(pr check): update test steps
  .github/workflows/pr-check.yml
  karma.conf.js
  package.json
Due: eslint --cache, prettier --check

ci: correct BrowserStack action version
  .github/workflows/pr-check.yml
Due: none

ci(unit test): download built artifacts
  .github/workflows/pr-check.yml
Due: none

ci: download built packages to the correct dir
  .github/workflows/pr-check.yml
Due: none

feat(layout): add layout-direction directives
  docs/structure.ts
  src/framework/theme/components/layout/direction.directive.ts
  src/framework/theme/components/layout/layout.module.ts
  src/framework/theme/public_api.ts
Due: eslint --cache, prettier --check
