Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

release: 14.0.2
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

release: 14.0.2 (#3272)
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

chore: move to private
  src/framework/theme/schematics/ng-add/register-theme/index.ts
  src/framework/theme/schematics/ng-add/setup.ts
  src/framework/theme/schematics/util/project.ts
  tools/publish.sh
Due: eslint --cache, prettier --check

chore: fix tests + private -> restricted
  package.json
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay-handler.spec.ts
  tools/publish.sh
Due: eslint --cache, prettier --check

chore: update date-fns
  package-lock.json
  package.json
  src/framework/auth/package.json
  src/framework/date-fns/package.json
  src/framework/date-fns/services/date-fns-date.service.ts
Due: eslint --cache, prettier --check

feat: add inbox template + toast actions
  src/app/playground-components.ts
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/theme/components/chat/chat-message-text.component.ts
  src/framework/theme/components/chat/chat-message.component.ts
  src/framework/theme/components/toastr/_toast.component.theme.scss
  src/framework/theme/components/toastr/model.ts
  src/framework/theme/components/toastr/toast.component.html
  src/framework/theme/components/toastr/toast.component.scss
  src/framework/theme/components/toastr/toast.component.ts
  src/framework/theme/components/toastr/toastr-config.ts
  src/framework/theme/components/toastr/toastr.service.spec.ts
  src/framework/theme/components/toastr/toastr.service.ts
  src/framework/theme/package.json
  src/framework/theme/styles/themes/_mapping.scss
  src/playground/playground-routing.module.ts
  src/playground/with-layout/toastr/toastr-actions.component.ts
  src/playground/with-layout/toastr/toastr-destroy-by-click.component.ts
  src/playground/with-layout/toastr/toastr-destroy-by-close-button.component.ts
  src/playground/with-layout/toastr/toastr-icon.component.ts
  src/playground/with-layout/toastr/toastr-limit.component.ts
  src/playground/with-layout/toastr/toastr-positions.component.ts
  src/playground/with-layout/toastr/toastr-prevent-duplicates-behaviour.component.ts
  src/playground/with-layout/toastr/toastr-prevent-duplicates.component.ts
  src/playground/with-layout/toastr/toastr-routing.module.ts
  src/playground/with-layout/toastr/toastr-showcase.component.ts
  src/playground/with-layout/toastr/toastr-statuses.component.ts
  src/playground/with-layout/toastr/toastr.module.ts
Due: eslint --cache, stylelint, prettier --check

FEAT: new svgs
  src/framework/eva-icons/customIcons.ts
Due: eslint --cache, prettier --check

CI: force npm install and update upload action
  .github/workflows/pr-check.yml
  package-lock.json
Due: none

add --force in workflow
  .github/workflows/pr-check.yml
Due: none

update all upload actions
  .github/workflows/pr-check.yml
Due: none

UPDATE: using --legacy-peer-deps
  .github/workflows/pr-check.yml
Due: none

UPDATE: add github-app
  .github/workflows/pr-check.yml
Due: none

CI: using pr-check from nebula
  .github/workflows/pr-check.yml
Due: none

CI: comment jobs
  .github/workflows/pr-check.yml
Due: none

CI: update rxjs to 7.4
  package-lock.json
  package.json
Due: none

CI: remove cache and split run command
  .github/workflows/pr-check.yml
Due: none

CI: remove rxjs@7.4
  .github/workflows/pr-check.yml
Due: none

chore: update angular firebase to 19 versions
  package-lock.json
  package.json
Due: none

chore: update angular eslint to 19 versions
  package-lock.json
  package.json
Due: none

chore: update angular cdk to 19 versions
  package-lock.json
  package.json
Due: none

chore: update @schematics/angular to 19 versions
  package-lock.json
  package.json
Due: none

chore: update angular to 19 versions in framework packages
  .github/workflows/deploy-docs.yml
  .github/workflows/pr-check.yml
  .nvmrc
  src/framework/auth/package.json
  src/framework/firebase-auth/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: none

chore: update angular to 19 versions packages-smoke
  packages-smoke/angular.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  packages-smoke/src/app/app.component.ts
Due: eslint --cache, prettier --check

chore: update @angular-eslint/schematics to 19 versions in packages-smoke
  packages-smoke/package-lock.json
  packages-smoke/package.json
Due: none

chore: update typescript in packages-smoke
  packages-smoke/package-lock.json
  packages-smoke/package.json
Due: none

chore: update @schematics/angular to 19v in packages-smoke
  packages-smoke/package-lock.json
  packages-smoke/package.json
Due: none

chore: update @angular/cdk to 19v in packages-smoke
  packages-smoke/package-lock.json
  packages-smoke/package.json
Due: none

chore: update app.module.ts in packages-smoke
  packages-smoke/src/app/app.module.ts
Due: eslint --cache, prettier --check

chore: update publish.sh for 14 version
  tools/publish.sh
Due: none

release: 15.0.0
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/components/route-tabset/_route-tabset.component.theme.scss
  src/framework/theme/package.json
  src/framework/theme/styles/core/_mixins.scss
Due: stylelint, prettier --check

release: 15.0.0 (#3281)
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/components/route-tabset/_route-tabset.component.theme.scss
  src/framework/theme/package.json
  src/framework/theme/styles/core/_mixins.scss
Due: stylelint, prettier --check

feat(NbDialogService): support passing values to input/model signals
  src/framework/theme/components/dialog/dialog-config.ts
  src/framework/theme/components/dialog/dialog.service.ts
Due: eslint --cache, prettier --check

feat: add support on nbInput for dev
  src/app/playground-components.ts
  src/framework/theme/components/input/input.directive.ts
  src/framework/theme/package.json
  src/playground/with-layout/input/input-div-colors.component.ts
  src/playground/with-layout/input/input-routing.module.ts
  src/playground/with-layout/input/input.module.ts
Due: eslint --cache, prettier --check

feat: 14.0.7 update select.component.ts
  src/framework/theme/components/select/select.component.ts
  src/framework/theme/components/toastr/toast.component.html
  src/framework/theme/components/toastr/toast.component.ts
  src/framework/theme/components/toastr/toastr-config.ts
  src/framework/theme/components/toastr/toastr.service.ts
  src/framework/theme/package.json
  src/playground/playground-routing.module.ts
  src/playground/with-layout/toastr/toastr-actions.component.ts
Due: eslint --cache, prettier --check

feat: 14.0.8 select position fix
  src/app/playground-components.ts
  src/framework/theme/components/select/select.component.ts
  src/framework/theme/package.json
  src/playground/playground-routing.module.ts
  src/playground/with-layout/select/select-overlay-position.component.ts
  src/playground/with-layout/select/select-routing.module.ts
  src/playground/with-layout/select/select.module.ts
Due: eslint --cache, prettier --check

Path conditions:
  eslint --cache: any of: *.{ts,js}
  stylelint: any of: *.{scss,css}
  prettier --check: any of: *.{ts,scss,html,md,js,css}
