Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

.lintstagedrc.json:

{
  "*.{ts,js}": "eslint --cache",
  "*.{scss,css}": "stylelint",
  "*.{ts,scss,html,md,js,css}": "prettier --check"
}

fix(docs): fix docs deployment (#3218)
  tools/gulp/docs/sass-export.ts
Due: eslint --cache, prettier --check

fix(tests): remove unused test select input
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.spec.ts
Due: eslint --cache, prettier --check

feat: add firstDayOfWeek to datepickers
  src/framework/theme/components/calendar-kit/components/calendar-day-picker/calendar-day-picker.component.ts
  src/framework/theme/components/calendar-kit/components/calendar-days-names/calendar-days-names.component.ts
  src/framework/theme/components/calendar-kit/services/calendar-month-model.service.ts
  src/framework/theme/components/calendar/base-calendar.component.html
  src/framework/theme/components/calendar/base-calendar.component.ts
  src/framework/theme/components/calendar/calendar-range.component.ts
  src/framework/theme/components/calendar/calendar.component.ts
  src/framework/theme/components/datepicker/calendar-with-time.component.ts
  src/framework/theme/components/datepicker/datepicker.component.ts
  src/playground/with-layout/datepicker-with-format/date-timepicker-dynamic-inputs-showcase.component.html
  src/playground/with-layout/datepicker-with-format/date-timepicker-dynamic-inputs-showcase.component.ts
  src/playground/with-layout/datepicker-with-format/datepicker-dynamic-inputs-showcase.component.html
  src/playground/with-layout/datepicker-with-format/datepicker-dynamic-inputs-showcase.component.ts
  src/playground/with-layout/datepicker-with-format/datepicker-with-format.module.ts
  src/playground/with-layout/datepicker-with-format/rangepicker-dynamic-inputs-showcase.component.html
  src/playground/with-layout/datepicker-with-format/rangepicker-dynamic-inputs-showcase.component.ts
Due: eslint --cache, prettier --check

feat(angular): update to angular 16 core modules
  angular.json
  docs/app/app.module.ts
  package-lock.json
  package.json
  src/framework/theme/components/calendar-kit/calendar-kit.module.ts
  src/framework/theme/components/calendar/calendar-range.module.ts
  src/framework/theme/components/cdk/overlay/overlay-container.spec.ts
  src/framework/theme/components/cdk/overlay/overlay-position.spec.ts
  src/framework/theme/components/context-menu/context-menu.module.ts
  src/framework/theme/components/datepicker/datepicker.module.ts
  src/framework/theme/components/dialog/dialog.module.ts
  src/framework/theme/components/dialog/dialog.service.spec.ts
  src/framework/theme/components/popover/popover.module.ts
  src/framework/theme/components/popover/popover.spec.ts
  src/framework/theme/components/search/search.module.ts
  src/framework/theme/components/spinner/spinner.module.ts
  src/framework/theme/components/toastr/toastr.module.ts
  src/framework/theme/components/tooltip/tooltip.module.ts
  src/framework/theme/components/window/window.module.ts
  src/framework/theme/components/window/window.service.spec.ts
  src/playground/with-layout/calendar-kit/calendar-kit-full-calendar.component.ts
  src/playground/with-layout/calendar/calendar-custom-day-cell-showcase.component.ts
  src/playground/with-layout/dialog/dialog.module.ts
  src/playground/with-layout/popover/popover.module.ts
  src/playground/with-layout/window/window.module.ts
  src/playground/without-layout/auth/auth-guard.service.ts
Due: eslint --cache, prettier --check

feat(angular): update to angular eslint to v16
  .eslintrc.json
  package-lock.json
  package.json
  src/framework/auth/package.json
  src/framework/firebase-auth/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: none

feat(angular): update to angular to v16 in package smoke
  .nvmrc
  packages-smoke/package-lock.json
Due: none

feat(angular): update angular to v16 in package smoke
  packages-smoke/angular.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
Due: none

feat(angular): update angular to v16 in package smoke
  packages-smoke/package-lock.json
  packages-smoke/package.json
Due: none

feat(angular): update angular to v16 in package smoke
  packages-smoke/package.json
Due: none

feat(angular): update angular to v16 in package smoke
  packages-smoke/package-lock.json
Due: none

feat(angular): update angular to v16 in package smoke
  packages-smoke/package-lock.json
  packages-smoke/package.json
  packages-smoke/src/main.server.ts
  src/framework/theme/schematics/util/ast.ts
Due: eslint --cache, prettier --check

feat(angular): update node versions for deployment yml files
  .github/workflows/deploy-docs.yml
  .github/workflows/pr-check.yml
Due: none

feat: add firstDayOfWeek to datepickers (#3220)
  src/framework/theme/components/calendar-kit/components/calendar-day-picker/calendar-day-picker.component.ts
  src/framework/theme/components/calendar-kit/components/calendar-days-names/calendar-days-names.component.ts
  src/framework/theme/components/calendar-kit/services/calendar-month-model.service.ts
  src/framework/theme/components/calendar/base-calendar.component.html
  src/framework/theme/components/calendar/base-calendar.component.ts
  src/framework/theme/components/calendar/calendar-range.component.ts
  src/framework/theme/components/calendar/calendar.component.ts
  src/framework/theme/components/datepicker/calendar-with-time.component.ts
  src/framework/theme/components/datepicker/datepicker.component.ts
  src/playground/with-layout/datepicker-with-format/date-timepicker-dynamic-inputs-showcase.component.html
  src/playground/with-layout/datepicker-with-format/date-timepicker-dynamic-inputs-showcase.component.ts
  src/playground/with-layout/datepicker-with-format/datepicker-dynamic-inputs-showcase.component.html
  src/playground/with-layout/datepicker-with-format/datepicker-dynamic-inputs-showcase.component.ts
  src/playground/with-layout/datepicker-with-format/datepicker-with-format.module.ts
  src/playground/with-layout/datepicker-with-format/rangepicker-dynamic-inputs-showcase.component.html
  src/playground/with-layout/datepicker-with-format/rangepicker-dynamic-inputs-showcase.component.ts
Due: eslint --cache, prettier --check

feat(angular): update to Angular 16 (#3222)
  .eslintrc.json
  .github/workflows/deploy-docs.yml
  .github/workflows/pr-check.yml
  .nvmrc
  angular.json
  docs/app/app.module.ts
  package-lock.json
  package.json
  packages-smoke/angular.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  packages-smoke/src/main.server.ts
  src/framework/auth/package.json
  src/framework/firebase-auth/package.json
  src/framework/security/package.json
  src/framework/theme/components/calendar-kit/calendar-kit.module.ts
  src/framework/theme/components/calendar/calendar-range.module.ts
  src/framework/theme/components/cdk/overlay/overlay-container.spec.ts
  src/framework/theme/components/cdk/overlay/overlay-position.spec.ts
  src/framework/theme/components/context-menu/context-menu.module.ts
  src/framework/theme/components/datepicker/datepicker.module.ts
  src/framework/theme/components/dialog/dialog.module.ts
  src/framework/theme/components/dialog/dialog.service.spec.ts
  src/framework/theme/components/popover/popover.module.ts
  src/framework/theme/components/popover/popover.spec.ts
  src/framework/theme/components/search/search.module.ts
  src/framework/theme/components/spinner/spinner.module.ts
  src/framework/theme/components/toastr/toastr.module.ts
  src/framework/theme/components/tooltip/tooltip.module.ts
  src/framework/theme/components/window/window.module.ts
  src/framework/theme/components/window/window.service.spec.ts
  src/framework/theme/package.json
  src/framework/theme/schematics/util/ast.ts
  src/playground/with-layout/calendar-kit/calendar-kit-full-calendar.component.ts
  src/playground/with-layout/calendar/calendar-custom-day-cell-showcase.component.ts
  src/playground/with-layout/dialog/dialog.module.ts
  src/playground/with-layout/popover/popover.module.ts
  src/playground/with-layout/window/window.module.ts
  src/playground/without-layout/auth/auth-guard.service.ts
Due: eslint --cache, prettier --check

feat: update publish script, add tag version
  tools/publish.sh
Due: none

release: 12.0.0
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

release: 12.0.0 (#3223)
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

fix: fixes
  package.json
  src/app/playground-components.ts
  src/framework/auth/package.json
  src/playground/playground-routing.module.ts
Due: eslint --cache, prettier --check

feat: option to provide own avatar template
  src/framework/theme/components/chat/chat-avatar.component.ts
  src/framework/theme/components/chat/chat-message.component.ts
  src/framework/theme/package.json
Due: eslint --cache, prettier --check

fix: extend avatar template
  src/framework/theme/components/chat/chat-message.component.ts
Due: eslint --cache, prettier --check

chore: bump theme version
  src/framework/theme/package.json
Due: none

chore: pre angular upgrade
  package-lock.json
  package.json
  tools/gulp/docs/example.ts
  tools/gulp/tsconfig.json
Due: eslint --cache, prettier --check

chore: pre angular upgrade 2
  package.json
Due: none

chore: pre angular upgrade 3
  package-lock.json
Due: none

chore: post angular upgrade
  angular.json
  docs/app/@theme/components/footer/footer.component.html
  package-lock.json
  package.json
Due: prettier --check

chore: fix npm i
  package-lock.json
  package.json
  src/framework/firebase-auth/package.json
Due: none

chore: update angular/fire
  src/app/playground-components.ts
  src/framework/firebase-auth/package.json
  src/playground/playground-routing.module.ts
Due: eslint --cache, prettier --check

chore: update packages to 13.0.0
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: none

Update README.md
  README.md
Due: prettier --check

chore: update angular to 17, zone.js and typescript
  package-lock.json
  package.json
Due: none

chore: update @angular-eslint/schematics
  package-lock.json
  package.json
Due: none

chore: update schematics
  package-lock.json
  package.json
Due: none

chore: update angular cdk
  package-lock.json
  package.json
Due: none

chore: update angular cdk
  package-lock.json
Due: none

chore: update vulnerable dependencies
  .nvmrc
  package-lock.json
  package.json
  tools/dev-schematics/new-component/index_spec.ts
Due: eslint --cache, prettier --check

chore: update angular to 17 in framework folder
  package-lock.json
  package.json
  src/framework/auth/package.json
  src/framework/firebase-auth/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: none

chore: update node version for github actions
  .github/workflows/deploy-docs.yml
  .github/workflows/pr-check.yml
Due: none
