Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

test(dialog): mock ruler service method
  src/framework/theme/components/dialog/dialog.service.spec.ts
Due: eslint --cache, prettier --check

docs: add prerender config to angular.json
  angular.json
Due: none

feat(chat): template as chat title
  schematics/dist/utils/playground.js.map
  src/app/playground-components.ts
  src/framework/theme/components/chat/chat-title.directive.spec.ts
  src/framework/theme/components/chat/chat-title.directive.ts
  src/framework/theme/components/chat/chat.component.ts
  src/framework/theme/components/chat/chat.module.ts
  src/framework/theme/public_api.ts
  src/playground/with-layout/chat/chat-routing.module.ts
  src/playground/with-layout/chat/chat-template-title.component.html
  src/playground/with-layout/chat/chat-template-title.component.ts
  src/playground/with-layout/chat/chat.module.ts
Due: eslint --cache, prettier --check

docs: remove gulp task which adds index.html to all subdirs
  package.json
  tools/gulp/docs/copy-index.ts
Due: eslint --cache, prettier --check

style(docs akveo-services-banner): fix platform check
  docs/app/@theme/components/hubspot-cta/akveo-services-banner.component.ts
  docs/app/@theme/theme.module.ts
Due: eslint --cache, prettier --check

style(docs search): fix platform check
  docs/app/@theme/components/search/search.component.ts
Due: eslint --cache, prettier --check

style(docs analytics): fix platform check
  docs/app/@theme/services/analytics.service.ts
Due: eslint --cache, prettier --check

style(docs visibility): fix platform check
  docs/app/@theme/services/visibility.service.ts
Due: eslint --cache, prettier --check

style(docs page): fix platform check
  docs/app/documentation/page/page.component.ts
Due: eslint --cache, prettier --check

docs: remove localize package
  docs/main.server.ts
  docs/polyfills.ts
  package-lock.json
  package.json
Due: eslint --cache, prettier --check

docs: fix conf name
  package.json
Due: none

ci: disable lint check
  .github/workflows/pr-check.yml
Due: none

ci(e2e): correct e2e config and command
  .github/workflows/pr-check.yml
  angular.json
  package.json
Due: none

ci(e2e): download build artifacts
  .github/workflows/pr-check.yml
Due: none

ci(e2e): correct e2e command
  .github/workflows/pr-check.yml
Due: none

ci: install packages with ci command
  .github/workflows/pr-check.yml
Due: none

config(playground): correct path in wp config
  src/tsconfig.wp.json
Due: none

ci(e2e): run tests in BrowserStack
  .github/workflows/pr-check.yml
  protractor.conf.ci.js
  protractor.conf.js
Due: eslint --cache, prettier --check

ci(unit test): test schematics
  .github/workflows/pr-check.yml
Due: none

ci: build playground
  .github/workflows/pr-check.yml
Due: none

ci(e2e): change e2e command
  .github/workflows/pr-check.yml
Due: none

ci: correct typo
  .github/workflows/pr-check.yml
Due: none

ci: add packages smoke check
  .github/workflows/pr-check.yml
  packages-smoke/README.md
  packages-smoke/package.json
  scripts/ci/packages-smoke.sh
  tools/ci/packages-smoke.sh
Due: prettier --check

ci(smoke): wait for build step
  .github/workflows/pr-check.yml
Due: none

ci(build playground): wait for build step
  .github/workflows/pr-check.yml
Due: none

feat(docs): add wp build configuration
  angular.json
  docs/tsconfig.wp.json
  package.json
Due: none

refactor: remove redundant ci scripts
  package.json
Due: none

refactor(ci): remove setup step
  .github/workflows/pr-check.yml
Due: none

fix(packages smoke): correct path for packages
  packages-smoke/package-lock.json
Due: none

refactor(ci): move packages smoke script to workflow file
  .github/workflows/pr-check.yml
  tools/ci/packages-smoke.sh
Due: none

refactor(ci): remove Travis scripts
  scripts/ci/browserstack/config.js
  scripts/ci/browserstack/start-tunnel.sh
  scripts/ci/browserstack/stop-tunnel.sh
  scripts/ci/browserstack/wait-tunnel.sh
  scripts/ci/deploy-docs.sh
  scripts/ci/retry-call.sh
  scripts/ci/travis-script.sh
  scripts/ci/tunnel.sh
Due: eslint --cache, prettier --check

fix(packages smoke): correct paths
  packages-smoke/tsconfig.json
Due: none

fix(select, autocomplete): prevent opening if no options
  src/framework/theme/components/autocomplete/autocomplete.directive.ts
  src/framework/theme/components/select/select.component.ts
Due: eslint --cache, prettier --check

ci(build playground): add missing download artifact step
  .github/workflows/pr-check.yml
Due: none

ci(packages smoke): revert to previous packages directory
  .github/workflows/pr-check.yml
  packages-smoke/README.md
  packages-smoke/package-lock.json
  packages-smoke/package.json
  packages-smoke/tsconfig.json
Due: prettier --check

fix(packages smoke): add missing date-fns dependency
  packages-smoke/package-lock.json
  packages-smoke/package.json
Due: none

fix(packages smoke): e2e tests
  packages-smoke/e2e/src/app.e2e-spec.ts
  packages-smoke/package-lock.json
  packages-smoke/package.json
Due: eslint --cache, prettier --check

ci: remove deploy docs workflow
  .github/workflows/deploy-docs.yml
Due: none

ci: remove travis.yml
  .travis.yml
Due: none

fix(theme): use calc function to generate negative values of css properties
  src/framework/theme/components/sidebar/_sidebar.component.theme.scss
  src/framework/theme/components/timepicker/_timepicker.component.theme.scss
Due: stylelint, prettier --check

Path conditions:
  eslint --cache: any of: *.{ts,js}
  stylelint: any of: *.{scss,css}
  prettier --check: any of: *.{ts,scss,html,md,js,css}
