Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

.lintstagedrc.json:

{
  "*.{ts,js}": "eslint --cache",
  "*.{scss,css}": "stylelint",
  "*.{ts,scss,html,md,js,css}": "prettier --check"
}

fix(theme typography): apply styles to body
  src/framework/theme/styles/global/typography/_typography.scss
Due: stylelint, prettier --check

fix(theme): use calc for math operations with custom props
  src/framework/theme/components/layout/_layout.component.theme.scss
  src/framework/theme/components/popover/_popover.component.theme.scss
  src/framework/theme/components/stepper/_stepper.component.theme.scss
  src/framework/theme/styles/core/_mixins.scss
Due: stylelint, prettier --check

fix(theme): prevent use of custom properties in media queries
  src/framework/theme/components/layout/_layout.component.theme.scss
  src/framework/theme/components/layout/layout.component.ts
  src/framework/theme/components/route-tabset/_route-tabset.component.theme.scss
  src/framework/theme/components/route-tabset/route-tabset.component.ts
  src/framework/theme/components/tabset/_tabset.component.theme.scss
  src/framework/theme/components/tabset/tabset.component.ts
  src/framework/theme/styles/_theming-variables.scss
  src/framework/theme/styles/_theming.scss
  src/framework/theme/styles/themes/_mapping.scss
Due: eslint --cache, stylelint, prettier --check

refactor(theme): enable CSS custom properties mode by default
  src/framework/theme/styles/_theming-variables.scss
  src/playground/styles/themes.scss
Due: stylelint, prettier --check

fix(context menu): prevent close on expand icon click (#2923)
  src/framework/theme/components/context-menu/_context-menu.component.theme.scss
Due: stylelint, prettier --check

docs: update browser support
  README.md
  docs/articles/getting-started/what-is-nebular.md
Due: prettier --check

fix(infinite-list): element scroll throttling
  src/framework/theme/components/list/infinite-list.directive.ts
Due: eslint --cache, prettier --check

feat(infinite-list): add throttleTime specs
  src/framework/theme/components/list/infinite-list.directive.spec.ts
Due: eslint --cache, prettier --check

refactor(toastr): Minor issue with position argument
  src/framework/theme/components/cdk/overlay/position-helper.ts
  src/playground/with-layout/toastr/toastr-positions.component.ts
  src/playground/with-layout/toastr/toastr-showcase.component.ts
Due: eslint --cache, prettier --check

chore(ci): add deploy docs workflow
  .github/workflows/deploy-docs.yml
  tools/deploy-docs/build-docs.ts
  tools/deploy-docs/get-stdout.ts
  tools/deploy-docs/versions.json
Due: eslint --cache, prettier --check

chore(ci): add deploy docs workflow
  docs/versions.json
Due: none

docs: update browser support (#2966)
  README.md
  docs/articles/getting-started/what-is-nebular.md
Due: prettier --check

fix(sidebar): not toggle submenu when expanding sidebar
  src/framework/theme/components/sidebar/sidebar.component.ts
Due: eslint --cache, prettier --check

fix(flip card): prevent extra whitespace (#2854)
  src/framework/theme/components/card/flip-card/flip-card.component.scss
Due: stylelint, prettier --check

docs(window): remove example component selector
  src/playground/with-layout/window/window-result.component.ts
Due: eslint --cache, prettier --check

refactor(window): add return value generic
  src/framework/theme/components/window/window-ref.ts
Due: eslint --cache, prettier --check

docs(window): remove parameter type
  src/playground/with-layout/window/window-result.component.ts
Due: eslint --cache, prettier --check

docs(window): remove example component selector
  src/playground/with-layout/window/components/visitors-form.component.ts
Due: eslint --cache, prettier --check

docs(window): update return value description
  src/framework/theme/components/window/window.service.ts
Due: eslint --cache, prettier --check

fix(rangepiker): emit value when picker's range is set
  src/framework/theme/components/datepicker/datepicker.component.ts
Due: eslint --cache, prettier --check

docs(toastr): remove example component selector
  src/playground/with-layout/toastr/toastr-positions.component.ts
  src/playground/with-layout/toastr/toastr-showcase.component.ts
Due: eslint --cache, prettier --check

docs(toastr): remove unused method
  src/playground/with-layout/toastr/toastr-positions.component.ts
Due: eslint --cache, prettier --check

docs(toastr): rename positions property
  src/playground/with-layout/toastr/toastr-showcase.component.ts
Due: eslint --cache, prettier --check

feat(window): window may return result (#2869)
  src/app/playground-components.ts
  src/framework/theme/components/window/window-ref.ts
  src/framework/theme/components/window/window.service.ts
  src/playground/with-layout/window/components/visitors-form.component.ts
  src/playground/with-layout/window/window-result.component.ts
  src/playground/with-layout/window/window-routing.module.ts
  src/playground/with-layout/window/window.module.ts
  src/playground/with-layout/window/window.scss
Due: eslint --cache, stylelint, prettier --check

docs(toastr): use positions enum (#2956)
  src/playground/with-layout/toastr/toastr-positions.component.ts
  src/playground/with-layout/toastr/toastr-showcase.component.ts
Due: eslint --cache, prettier --check

fix(infinite-list): change throttle specs
  src/framework/theme/components/list/infinite-list.directive.spec.ts
  src/framework/theme/components/list/infinite-list.directive.ts
Due: eslint --cache, prettier --check

style(infinite-list): remove extra import
  src/framework/theme/components/list/infinite-list.directive.spec.ts
Due: eslint --cache, prettier --check

refactor: add theme suffix to theming mixins imports
  src/framework/theme/components/tree-grid/_tree-grid.component.theme.scss
  src/framework/theme/styles/global/_components.scss
Due: stylelint, prettier --check

fix(auth): edit forms.validation.email.regex auth module
  docs/articles/auth/ui.md
  src/framework/auth/auth.options.ts
  src/framework/auth/components/login/login.component.html
  src/framework/auth/components/register/register.component.html
  src/framework/auth/components/request-password/request-password.component.html
Due: eslint --cache, prettier --check

refactor(theme): re-export component theme mixins
  docs/app/@theme/styles/styles.scss
  docs/app/@theme/styles/theme-components.scss
  src/framework/theme/styles/global/_components.scss
Due: stylelint, prettier --check

refactor(theme schematics): correct ng-add theming styles
  src/framework/theme/schematics/ng-add/index.spec.ts
  src/framework/theme/schematics/ng-add/register-theme/theme-content.ts
Due: eslint --cache, prettier --check

fix(rangepiker): emit value when picker's range is set
  src/framework/theme/components/datepicker/date-timepicker.component.ts
  src/framework/theme/components/datepicker/datepicker.component.ts
  src/framework/theme/components/datepicker/datepicker.directive.ts
Due: eslint --cache, prettier --check

build: add separate file for prebuilt themes with custom props
  src/framework/auth/styles/prebuilt/corporate-custom-properties.scss
  src/framework/auth/styles/prebuilt/cosmic-custom-properties.scss
  src/framework/auth/styles/prebuilt/cosmic.scss
  src/framework/auth/styles/prebuilt/dark-custom-properties.scss
  src/framework/auth/styles/prebuilt/dark.scss
  src/framework/auth/styles/prebuilt/default-custom-properties.scss
  src/framework/auth/styles/prebuilt/default.scss
  src/framework/bootstrap/styles/prebuilt/corporate-custom-properties.scss
  src/framework/bootstrap/styles/prebuilt/cosmic-custom-properties.scss
  src/framework/bootstrap/styles/prebuilt/cosmic.scss
  src/framework/bootstrap/styles/prebuilt/dark-custom-properties.scss
  src/framework/bootstrap/styles/prebuilt/dark.scss
  src/framework/bootstrap/styles/prebuilt/default-custom-properties.scss
  src/framework/bootstrap/styles/prebuilt/default.scss
  src/framework/theme/styles/prebuilt/corporate-custom-properties.scss
  src/framework/theme/styles/prebuilt/corporate.scss
  src/framework/theme/styles/prebuilt/cosmic-custom-properties.scss
  src/framework/theme/styles/prebuilt/cosmic.scss
  src/framework/theme/styles/prebuilt/dark-custom-properties.scss
  src/framework/theme/styles/prebuilt/dark.scss
  src/framework/theme/styles/prebuilt/default-custom-properties.scss
  src/framework/theme/styles/prebuilt/default.scss
Due: stylelint, prettier --check

refactor: revert chat title spec changes
  src/framework/theme/components/chat/chat-title.directive.spec.ts
Due: eslint --cache, prettier --check

test(infinite list): remove redundant variable
  src/framework/theme/components/list/infinite-list.directive.spec.ts
Due: eslint --cache, prettier --check

docs(chat): refine template title example (#2938)
  src/framework/theme/components/chat/chat.component.ts
  src/playground/with-layout/chat/chat-template-title.component.html
  src/playground/with-layout/chat/chat-template-title.component.ts
Due: eslint --cache, prettier --check

style(test): fix type
  src/framework/theme/components/list/infinite-list.directive.spec.ts
Due: eslint --cache, prettier --check

refactor(infinite list): emit window scroll only when we listen for window scroll
  src/framework/theme/components/list/infinite-list.directive.ts
Due: eslint --cache, prettier --check

test(infinite list): move first cd run into fakeAsync
  src/framework/theme/components/list/infinite-list.directive.spec.ts
Due: eslint --cache, prettier --check
