Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

.lintstagedrc.json:

{
  "*.{ts,js}": "eslint --cache",
  "*.{scss,css}": "stylelint",
  "*.{ts,scss,html,md,js,css}": "prettier --check"
}

Update deploy-docs.yml
  .github/workflows/deploy-docs.yml
Due: none

feat: update security menu
  docs/structure.ts
Due: eslint --cache, prettier --check

feat: test for update design token
  docs/app/@theme/components/hero/hero.component.ts
  docs/app/@theme/components/index.ts
  src/framework/theme/styles/themes/_default.scss
Due: eslint --cache, stylelint, prettier --check

chore: test new env var
  .github/workflows/deploy-docs.yml
Due: none

chore: deploy docs test
  .github/workflows/deploy-docs.yml
Due: none

feat: remove nebular from components
  docs/app/@theme/components/page-tabs/page-tabs.component.ts
  src/framework/theme/components/chat/chat.component.ts
  src/framework/theme/components/datepicker/datepicker.directive.ts
  src/framework/theme/components/icon/icon.component.ts
  src/framework/theme/components/layout/layout.component.ts
  src/framework/theme/components/radio/radio.component.ts
  src/playground/with-layout/chat/chat-colors.component.ts
  src/playground/with-layout/chat/chat-custom-message.component.html
  src/playground/with-layout/chat/chat-showcase.component.html
  src/playground/with-layout/chat/chat-sizes.component.ts
Due: eslint --cache, prettier --check

feat: register dadosfera icons on default pack
  src/framework/eva-icons/customIcons.ts
  src/framework/eva-icons/eva-icons.module.ts
Due: eslint --cache, prettier --check

chore: update package name
  docs/versions.json
  package.json
Due: none

chore: update package names
  package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
  tools/publish.sh
Due: none

feat: add new docs page
  docs/404.html
  docs/app/@theme/components/search/search.component.ts
  docs/articles/guides/install.md
  docs/articles/guides/maintenance.md
  docs/structure.ts
  docs/versions.json
  package.json
  tools/deploy-docs/config.ts
Due: eslint --cache, prettier --check

feat: update docs
  docs/articles/guides/install.md
  docs/articles/guides/multiple-runtime-themes.md
Due: prettier --check

chore: add code artificats logout
  package.json
Due: none

feat: update runtime themes article
  docs/articles/guides/multiple-runtime-themes.md
Due: prettier --check

update logo
  docs/app/@theme/components/header/header.component.ts
  docs/assets/img/beast-logo-1.png
Due: eslint --cache, prettier --check

feat(pagination): new pagination logic
  src/framework/theme/components/pagination/pagination.component.html
  src/framework/theme/components/pagination/pagination.component.ts
  src/playground/with-layout/pagination/pagination-showcase.component.html
Due: eslint --cache, prettier --check

feat(pagination): update some responsive styles
  src/framework/theme/components/pagination/pagination.component.html
  src/framework/theme/components/pagination/pagination.component.scss
  src/framework/theme/components/pagination/pagination.component.spec.ts
  src/playground/with-layout/pagination/pagination-showcase.component.html
Due: eslint --cache, stylelint, prettier --check

feat(pagination): fix pagination width
  src/framework/theme/components/pagination/pagination.component.html
  src/framework/theme/components/pagination/pagination.component.scss
  src/framework/theme/components/pagination/pagination.component.ts
Due: eslint --cache, stylelint, prettier --check

feat: add new icon
  src/framework/eva-icons/customIcons.ts
Due: eslint --cache, prettier --check

update design tokens
  src/framework/theme/styles/themes/_default.scss
  src/framework/theme/styles/themes/_mapping.scss
Due: stylelint, prettier --check

feat(pagination): update pagination spacemente
  src/framework/theme/components/pagination/pagination.component.scss
Due: stylelint, prettier --check

feat(pagination): init pagination component
  docs/app/@theme/styles/styles.scss
  docs/articles/guides/create-page.md
  docs/articles/guides/maintenance.md
  src/app/playground-components.ts
  src/framework/theme/components/button/button.component.ts
  src/framework/theme/components/pagination/pagination.component.html
  src/framework/theme/components/pagination/pagination.component.scss
  src/framework/theme/components/pagination/pagination.component.spec.ts
  src/framework/theme/components/pagination/pagination.component.theme.scss
  src/framework/theme/components/pagination/pagination.component.ts
  src/framework/theme/components/pagination/pagination.module.ts
  src/framework/theme/public_api.ts
  src/framework/theme/styles/global/_components.scss
  src/playground/with-layout/pagination/pagination-routing.module.ts
  src/playground/with-layout/pagination/pagination-showcase.component.html
  src/playground/with-layout/pagination/pagination-showcase.component.scss
  src/playground/with-layout/pagination/pagination-showcase.component.spec.ts
  src/playground/with-layout/pagination/pagination-showcase.component.ts
  src/playground/with-layout/pagination/pagination.module.ts
  src/playground/with-layout/with-layout-routing.module.ts
Due: eslint --cache, stylelint, prettier --check

feat(pagination): remove console
  src/framework/theme/components/pagination/pagination.component.ts
Due: eslint --cache, prettier --check

feat(pagination): update public_api
  docs/articles/guides/maintenance.md
  src/framework/theme/components/pagination/pagination.module.ts
  src/framework/theme/public_api.ts
Due: eslint --cache, prettier --check

feat(icons): add new icons
  src/framework/eva-icons/customIcons.ts
Due: eslint --cache, prettier --check

feat(tokens): update design tokens
  src/framework/theme/styles/themes/_default.scss
  src/framework/theme/styles/themes/_mapping.scss
Due: stylelint, prettier --check

feat(font): update font family docs
  docs/articles/guides/install.md
Due: prettier --check

feat: add beast logo on initial page
  docs/app/@theme/components/header/header.component.ts
Due: eslint --cache, prettier --check

feat(pagination): fix render test
  src/framework/theme/components/pagination/pagination.component.spec.ts
  src/framework/theme/components/pagination/pagination.component.ts
Due: eslint --cache, prettier --check

feat: add beast logo on initial page
  docs/app/@theme/components/header/header.component.scss
  docs/app/@theme/components/header/header.component.ts
  docs/app/home/home.component.scss
  docs/articles/design-system/resources.md
  docs/assets/img/beast-logo.png
Due: eslint --cache, stylelint, prettier --check

feat(pagination): set documentation
  docs/app/@theme/styles/styles.scss
  docs/articles/guides/maintenance.md
  docs/structure.ts
  src/framework/theme/components/pagination/pagination.component.html
  src/framework/theme/components/pagination/pagination.component.theme.scss
  src/framework/theme/components/pagination/pagination.component.ts
  src/framework/theme/styles/global/_components.scss
  src/playground/with-layout/pagination/pagination-showcase.component.html
Due: eslint --cache, stylelint, prettier --check

feat: update design tokens
  src/framework/theme/styles/themes/_default.scss
  src/framework/theme/styles/themes/_mapping.scss
Due: stylelint, prettier --check

feat(font): update font family
  docs/articles/design-system/typography.md
  docs/articles/guides/install.md
  src/framework/theme/styles/themes/_default.scss
Due: stylelint, prettier --check

change design tokens
  src/framework/theme/styles/themes/_default.scss
  src/framework/theme/styles/themes/_mapping.scss
Due: stylelint, prettier --check

feat(pagination): add disabled option
  src/framework/theme/components/pagination/pagination.component.html
  src/framework/theme/components/pagination/pagination.component.ts
  src/playground/with-layout/pagination/pagination-showcase.component.html
Due: eslint --cache, prettier --check

change paragraph design tokens
  src/framework/eva-icons/customIcons.ts
  src/framework/theme/styles/themes/_default.scss
Due: eslint --cache, stylelint, prettier --check

feat(pagination): fix pagination next button
  src/framework/theme/components/pagination/pagination.component.html
  src/framework/theme/components/pagination/pagination.component.ts
Due: eslint --cache, prettier --check

fix: pagination
  src/framework/theme/components/pagination/pagination.component.html
  src/playground/with-layout/pagination/pagination-showcase.component.html
Due: prettier --check
