Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

.lintstagedrc.json:

{
  "*.{ts,js}": "eslint --cache",
  "*.{scss,css}": "stylelint",
  "*.{ts,scss,html,md,js,css}": "prettier --check"
}

fix(7.0.x): change build docs output path
  angular.json
  scripts/docs/config.ts
  scripts/gulp/tasks/config.ts
Due: eslint --cache, prettier --check

fix(8.0.x): change build docs output path
  angular.json
  scripts/docs/config.ts
  scripts/gulp/tasks/config.ts
Due: eslint --cache, prettier --check

fix(oauth2-strategy): change headers access to getOptions method
  src/framework/auth/strategies/oauth2/oauth2-strategy.ts
Due: eslint --cache, prettier --check

fix(password-strategy): change headers access to getOptions method
  src/framework/auth/strategies/password/password-strategy.ts
Due: eslint --cache, prettier --check

refactor(packages): specify styles exports in package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/theme/package.json
Due: none

fix(scrollbars): fix scrollbars mixin corner bg color
  src/framework/theme/styles/core/_mixins.scss
Due: stylelint, prettier --check

docs(theme): correct sass imports
  docs/articles/auth/install.md
  docs/articles/design-system/css-properties.md
  docs/articles/design-system/custom-theme.md
  docs/articles/design-system/enable-customizable-theme.md
  docs/articles/design-system/multiple-runtime-themes.md
Due: prettier --check

fix(packages smoke): correct sass imports
  packages-smoke/src/styles.scss
Due: stylelint, prettier --check

fix(schematics): correct sass imports
  src/framework/theme/schematics/ng-add/index.spec.ts
  src/framework/theme/schematics/ng-add/register-theme/theme-content.ts
Due: eslint --cache, prettier --check

fix(scrollbars): change bg-color to bg
  src/framework/theme/styles/core/_mixins.scss
Due: stylelint, prettier --check

fix(playground): correct sass imports
  src/playground/without-styles/bootstrap/styles.scss
Due: stylelint, prettier --check

feat(firebase auth): update AngularFire
  package-lock.json
  package.json
  src/framework/firebase-auth/package.json
  src/framework/firebase-auth/strategies/base/firebase-base.strategy.ts
  src/framework/firebase-auth/strategies/facebook/firebase-facebook.strategy.ts
  src/framework/firebase-auth/strategies/google/firebase-google.strategy.ts
  src/framework/firebase-auth/strategies/password/firebase-password.strategy.ts
  src/framework/firebase-auth/strategies/twitter/firebase-twitter.strategy.ts
  src/playground/without-layout/firebase/firebase-api.service.ts
  src/playground/without-layout/firebase/firebase.module.ts
Due: eslint --cache, prettier --check

ci: add note to remove temporary job
  .github/workflows/pr-check.yml
Due: none

build: rewrite build:packages-sass script
  package.json
Due: none

build(packages smoke): add webpack-sources dependency
  packages-smoke/package-lock.json
  packages-smoke/package.json
Due: none

chore(packages smoke): ignore Angular cache directory
  .gitignore
Due: none

fix(oauth2-strategy): move setting headers logic to method
  src/framework/auth/strategies/oauth2/oauth2-strategy.ts
Due: eslint --cache, prettier --check

fix(oauth2-strategy): change method to get
  src/framework/auth/strategies/oauth2/oauth2-strategy.ts
Due: eslint --cache, prettier --check

fix(password-strategy): move setting headers logic to method
  src/framework/auth/strategies/password/password-strategy.ts
Due: eslint --cache, prettier --check

fix(theme): set scrollbars corner color (#2943)
  src/framework/theme/styles/core/_mixins.scss
Due: stylelint, prettier --check

refactor(tabset): rename lazy content directive
  src/framework/theme/components/tabset/lazy-content.ts
  src/framework/theme/components/tabset/tab-content.directive.ts
  src/framework/theme/components/tabset/tabset.component.ts
  src/framework/theme/components/tabset/tabset.module.ts
  src/framework/theme/public_api.ts
Due: eslint --cache, prettier --check

style(tabset): remove redundant comment
  src/framework/theme/components/tabset/tabset.component.ts
Due: eslint --cache, prettier --check

style(tabset): update deprecation comments
  src/framework/theme/components/tabset/tabset.component.ts
Due: eslint --cache, prettier --check

refactor(tabset): remove redundant accessors
  src/framework/theme/components/tabset/tab-content.directive.ts
  src/framework/theme/components/tabset/tabset.component.ts
Due: eslint --cache, prettier --check

refactor(tabset): use a single ng-container
  src/framework/theme/components/tabset/tabset.component.ts
Due: eslint --cache, prettier --check

docs(tabset): hide deprecated properties
  src/framework/theme/components/tabset/tabset.component.ts
Due: eslint --cache, prettier --check

docs(tabset): add nbTabContent usage example
  src/framework/theme/components/tabset/tabset.component.ts
Due: eslint --cache, prettier --check

chore(dev schematics): don't split declarations under 120 ch
  tools/dev-schematics/playground-module/add-to-modules.ts
Due: eslint --cache, prettier --check

fix(tabset): lazy loading (#2827)
  src/framework/theme/components/tabset/tab-content.directive.ts
  src/framework/theme/components/tabset/tabset.component.ts
  src/framework/theme/components/tabset/tabset.module.ts
  src/framework/theme/public_api.ts
Due: eslint --cache, prettier --check

feat(auth-strategy): move get headers to the base class
  src/framework/auth/strategies/auth-strategy.ts
Due: eslint --cache, prettier --check

feat(oauth2-strategy): move common logic to base class
  src/framework/auth/strategies/oauth2/oauth2-strategy.ts
Due: eslint --cache, prettier --check

feat(password-strategy): move common logic to base class
  src/framework/auth/strategies/password/password-strategy.ts
Due: eslint --cache, prettier --check

style(oauth2-strategy): use nullish coalescing operator instead OR operator
  src/framework/auth/strategies/oauth2/oauth2-strategy.ts
Due: eslint --cache, prettier --check

fix(autocomplete): input focus behavior on value change
  src/framework/theme/components/autocomplete/autocomplete.directive.ts
Due: eslint --cache, prettier --check

style(auth-strategy): change method name
  src/framework/auth/strategies/auth-strategy.ts
  src/framework/auth/strategies/oauth2/oauth2-strategy.ts
  src/framework/auth/strategies/password/password-strategy.ts
Due: eslint --cache, prettier --check

fix(auth-strategy): change set headers implementation
  src/framework/auth/strategies/auth-strategy.ts
Due: eslint --cache, prettier --check

chore(dev schematics): don't split declarations under 120 ch (#2946)
  tools/dev-schematics/playground-module/add-to-modules.ts
Due: eslint --cache, prettier --check

feat(mapping): add NbDirection type
  src/framework/theme/components/cdk/overlay/mapping.ts
Due: eslint --cache, prettier --check

feat(overlay-position): use nebular entities
  src/framework/theme/components/cdk/overlay/overlay-position.ts
Due: eslint --cache, prettier --check
