Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

feat(infinite list): threshold emissions throttling (#2948)
  src/framework/theme/components/list/infinite-list.directive.spec.ts
  src/framework/theme/components/list/infinite-list.directive.ts
Due: eslint --cache, prettier --check

docs(route tabset): remove example component selector
  src/playground/with-layout/tabset/route-tabset-showcase.component.ts
Due: eslint --cache, prettier --check

docs(route tabset): remove always highlighted tab
  src/playground/with-layout/tabset/route-tabset-showcase.component.ts
Due: eslint --cache, prettier --check

refactor(merge configs pipe): add nb prefix
  src/framework/theme/components/route-tabset/merge-configs.pipe.ts
  src/framework/theme/components/route-tabset/route-tabset.component.ts
  src/framework/theme/components/route-tabset/route-tabset.module.ts
Due: eslint --cache, prettier --check

feat(router tabset): ability to configure routerLinkActiveOptions per tab (#2907)
  src/framework/theme/components/route-tabset/merge-configs.pipe.ts
  src/framework/theme/components/route-tabset/route-tabset.component.ts
  src/framework/theme/components/route-tabset/route-tabset.module.ts
  src/playground/with-layout/tabset/route-tabset-showcase.component.ts
Due: eslint --cache, prettier --check

refactor(route tabset): remove tabindex from li
  src/framework/theme/components/route-tabset/route-tabset.component.ts
Due: eslint --cache, prettier --check

refactor(route tabset): move router directives to anchor element (#2906)
  src/framework/theme/components/route-tabset/_route-tabset.component.theme.scss
  src/framework/theme/components/route-tabset/route-tabset.component.ts
Due: eslint --cache, stylelint, prettier --check

refactor(sidebar): remove deprecated properties
  src/framework/theme/components/sidebar/sidebar.component.ts
Due: eslint --cache, prettier --check

refactor(sidebar): remove deprecated properties (#2973)
  src/framework/theme/components/sidebar/sidebar.component.ts
Due: eslint --cache, prettier --check

refactor(overlay trigger): accept element instead event
  src/framework/theme/components/cdk/overlay/overlay-trigger.ts
Due: eslint --cache, prettier --check

refactor(overlay trigger): accept element instead event (#2974)
  src/framework/theme/components/cdk/overlay/overlay-trigger.ts
Due: eslint --cache, prettier --check

feat: add prebuilt custom properties theme
  src/framework/auth/styles/prebuilt/components-custom-properties.scss
  src/framework/auth/styles/prebuilt/corporate-custom-properties.scss
  src/framework/auth/styles/prebuilt/cosmic-custom-properties.scss
  src/framework/auth/styles/prebuilt/dark-custom-properties.scss
  src/framework/auth/styles/prebuilt/default-custom-properties.scss
  src/framework/bootstrap/styles/prebuilt/components-custom-properties.scss
  src/framework/bootstrap/styles/prebuilt/corporate-custom-properties.scss
  src/framework/bootstrap/styles/prebuilt/cosmic-custom-properties.scss
  src/framework/bootstrap/styles/prebuilt/dark-custom-properties.scss
  src/framework/bootstrap/styles/prebuilt/default-custom-properties.scss
  src/framework/theme/styles/_theming-variables.scss
  src/framework/theme/styles/core/theming/_install.scss
  src/framework/theme/styles/prebuilt/components-custom-properties.scss
  src/framework/theme/styles/prebuilt/corporate-custom-properties.scss
  src/framework/theme/styles/prebuilt/cosmic-custom-properties.scss
  src/framework/theme/styles/prebuilt/dark-custom-properties.scss
  src/framework/theme/styles/prebuilt/default-custom-properties.scss
Due: stylelint, prettier --check

feat: add prebuilt custom properties theme (#2977)
  src/framework/auth/styles/prebuilt/components-custom-properties.scss
  src/framework/auth/styles/prebuilt/corporate-custom-properties.scss
  src/framework/auth/styles/prebuilt/cosmic-custom-properties.scss
  src/framework/auth/styles/prebuilt/dark-custom-properties.scss
  src/framework/auth/styles/prebuilt/default-custom-properties.scss
  src/framework/bootstrap/styles/prebuilt/components-custom-properties.scss
  src/framework/bootstrap/styles/prebuilt/corporate-custom-properties.scss
  src/framework/bootstrap/styles/prebuilt/cosmic-custom-properties.scss
  src/framework/bootstrap/styles/prebuilt/dark-custom-properties.scss
  src/framework/bootstrap/styles/prebuilt/default-custom-properties.scss
  src/framework/theme/styles/_theming-variables.scss
  src/framework/theme/styles/core/theming/_install.scss
  src/framework/theme/styles/prebuilt/components-custom-properties.scss
  src/framework/theme/styles/prebuilt/corporate-custom-properties.scss
  src/framework/theme/styles/prebuilt/cosmic-custom-properties.scss
  src/framework/theme/styles/prebuilt/dark-custom-properties.scss
  src/framework/theme/styles/prebuilt/default-custom-properties.scss
Due: stylelint, prettier --check

docs: add missing tag icon
  docs/assets/images/components/tag.svg
  docs/structure.ts
Due: eslint --cache, prettier --check

docs: add missing tag icon (#2978)
  docs/assets/images/components/tag.svg
  docs/structure.ts
Due: eslint --cache, prettier --check

docs: update versions config
  docs/versions.json
Due: none

feat: bump version to 9.0.0
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: none

chore: add changelog
  CHANGELOG.md
Due: prettier --check

feat(packages smoke): bump Nebular versions
  packages-smoke/package-lock.json
Due: none

release: 9.0.0 (#2975)
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

chore(publish): add lts tag
  scripts/publish.sh
Due: none

chore: correct path for packages to publish
  tools/publish.sh
Due: none

chore: correct path for packages to publish (#2980)
  tools/publish.sh
Due: none

chore(ci): add deploy docs workflow (#2950)
  .github/workflows/deploy-docs.yml
  tools/deploy-docs/build-docs.ts
  tools/deploy-docs/get-stdout.ts
Due: eslint --cache, prettier --check

chore(lint): bump Angular ESLint to 13 stable
  package-lock.json
  package.json
Due: none

chore(lint): bump Angular ESLint to 13 stable (#2981)
  package-lock.json
  package.json
Due: none

deploy docs
  tools/deploy-docs/build-docs.ts
Due: eslint --cache, prettier --check

chore(ci): add deploy docs workflow
  docs/versions.json
Due: none

merge
  tools/deploy-docs/build-docs.ts
Due: eslint --cache, prettier --check

deploy docs
  .github/workflows/deploy-docs.yml
  tools/deploy-docs/build-docs.ts
Due: eslint --cache, prettier --check

chore(ci): add deploy docs workflow
  .github/workflows/deploy-docs.yml
  tools/deploy-docs/build-docs.ts
  tools/deploy-docs/get-stdout.ts
  tools/deploy-docs/versions.json
Due: eslint --cache, prettier --check

feat(deploy docs): Copy docs of existing version from gh-pages instead of building
  .github/workflows/deploy-docs.yml
  tools/deploy-docs/build-docs.ts
  tools/deploy-docs/versions.json
Due: eslint --cache, prettier --check

deploy-docs
  .github/workflows/deploy-docs.yml
  tools/deploy-docs/build-docs.ts
Due: eslint --cache, prettier --check

deploy-docs
  .github/workflows/deploy-docs.yml
Due: none

build: revrite bump version script from gulp to node
  package.json
  tools/bump-version/bump-version.ts
  tools/gulp/bump-versions.ts
  tools/gulp/gulpfile.ts
Due: eslint --cache, prettier --check

feat: add eva 2 mapping switcher
  src/framework/theme/components/button/_button.component.theme.scss
  src/framework/theme/styles/_theming-variables.scss
  src/framework/theme/styles/themes/_corporate.scss
  src/framework/theme/styles/themes/_cosmic.scss
  src/framework/theme/styles/themes/_dark.scss
  src/framework/theme/styles/themes/_default.scss
  src/framework/theme/styles/themes/_mapping.scss
  src/playground/styles/styles.scss
Due: stylelint, prettier --check

Path conditions:
  eslint --cache: any of: *.{ts,js}
  stylelint: any of: *.{scss,css}
  prettier --check: any of: *.{ts,scss,html,md,js,css}
