Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

fix(packages smoke): add missing ts-node dep
  packages-smoke/package-lock.json
  packages-smoke/package.json
Due: none

ci: disable e2e job
  .github/workflows/pr-check.yml
Due: none

ci: enable pr trigger
  .github/workflows/pr-check.yml
Due: none

chore(ci): move tokens to environment variables
  .github/workflows/pr-check.yml
Due: none

chore(ci): move tokens to environment variables (#2934)
  .github/workflows/pr-check.yml
Due: none

chore(ci): correct env variables access
  .github/workflows/pr-check.yml
Due: none

chore(ci): correct env variables access (#2935)
  .github/workflows/pr-check.yml
Due: none

fix(theme): correct custom properties subtraction (#2932)
  src/framework/theme/components/sidebar/_sidebar.component.theme.scss
  src/framework/theme/components/timepicker/_timepicker.component.theme.scss
Due: stylelint, prettier --check

docs: fix runtime theme change link (#2911)
  docs/articles/design-system/multiple-runtime-themes.md
Due: prettier --check

docs(examples): add window template title example (#2922)
  src/app/playground-components.ts
  src/playground/with-layout/window/window-routing.module.ts
  src/playground/with-layout/window/window-template-title.component.ts
  src/playground/with-layout/window/window.module.ts
Due: eslint --cache, prettier --check

docs: clarify units
  src/framework/theme/components/autocomplete/autocomplete.component.ts
  src/framework/theme/components/select/select.component.ts
Due: eslint --cache, prettier --check

feat(select, autocomplete): ability to override options width (#2874)
  src/framework/theme/components/autocomplete/autocomplete.component.html
  src/framework/theme/components/autocomplete/autocomplete.component.ts
  src/framework/theme/components/select/select.component.html
  src/framework/theme/components/select/select.component.ts
Due: eslint --cache, prettier --check

refactor(helpers): remove redundant functions
  src/framework/theme/components/helpers.ts
Due: eslint --cache, prettier --check

refactor: update imports order
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay-handler.ts
Due: eslint --cache, prettier --check

refactor(dynamic overlay handler): rename method to disabled
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay-handler.ts
  src/framework/theme/components/popover/popover.directive.ts
  src/framework/theme/components/tooltip/tooltip.directive.ts
Due: eslint --cache, prettier --check

refactor: move disabled logic to dynamic overlay
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay-handler.ts
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay.ts
Due: eslint --cache, prettier --check

fix(select): scroll into selected option on open (#2859)
  src/framework/theme/components/select/select.component.ts
Due: eslint --cache, prettier --check

refactor: update only if value changed
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay-handler.ts
Due: eslint --cache, prettier --check

feat(date-time picker): ability to remove now button (#2848)
  src/framework/theme/components/calendar-kit/components/calendar-actions/calendar-actions.component.scss
  src/framework/theme/components/calendar-kit/components/calendar-actions/calendar-actions.component.ts
  src/framework/theme/components/datepicker/calendar-with-time.component.ts
  src/framework/theme/components/datepicker/date-timepicker.component.ts
Due: eslint --cache, stylelint, prettier --check

fix(tag-list): fix tag list ssr issue
  src/framework/theme/components/tag/tag-list.component.ts
Due: eslint --cache, prettier --check

fix(tag list): prevent initialisation error in Universal (#2937)
  src/framework/theme/components/tag/tag-list.component.ts
Due: eslint --cache, prettier --check

fix(button): prevent expression changed error on icon button (#2846)
  src/framework/theme/components/button/base-button.ts
  src/framework/theme/components/helpers.ts
Due: eslint --cache, prettier --check

test(tooltip): add disabled property to mock
  src/framework/theme/components/popover/popover.spec.ts
  src/framework/theme/components/tooltip/tooltip.spec.ts
Due: eslint --cache, prettier --check

fix(tabset): remove nbPortalModule
  src/framework/theme/components/cdk/portal/index.ts
  src/framework/theme/components/cdk/portal/portal.module.ts
  src/framework/theme/components/cdk/portal/portal.ts
  src/framework/theme/components/tabset/tabset.module.ts
Due: eslint --cache, prettier --check

fix(tabset): remove NB_TAB_LABEL injection token
  src/framework/theme/components/tabset/tab-label.ts
Due: eslint --cache, prettier --check

fix(tabset): use ngTemplateOutlet instead portal directive
  src/framework/theme/components/tabset/tabset.component.ts
Due: eslint --cache, prettier --check

feat(tooltip, popover): add disabled property (#2841)
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay-handler.ts
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay.ts
  src/framework/theme/components/popover/popover.directive.ts
  src/framework/theme/components/popover/popover.spec.ts
  src/framework/theme/components/tooltip/tooltip.directive.ts
  src/framework/theme/components/tooltip/tooltip.spec.ts
Due: eslint --cache, prettier --check

refactor(toastr): put takeUntil last
  src/framework/theme/components/toastr/toastr.service.ts
Due: eslint --cache, prettier --check

fix(tabset): read directive as a template
  src/framework/theme/components/tabset/tab-label.ts
  src/framework/theme/components/tabset/tabset.component.ts
Due: eslint --cache, prettier --check

fix(public-api): add tab label directive
  src/framework/theme/public_api.ts
Due: eslint --cache, prettier --check

refactor(toastr): remove new constructor parameter
  src/framework/theme/components/toastr/toastr.service.ts
Due: eslint --cache, prettier --check

feat(toastr): add onclick, onclose events (#2821)
  src/framework/theme/components/toastr/toast.component.ts
  src/framework/theme/components/toastr/toastr.service.ts
Due: eslint --cache, prettier --check

refactor(chat form): specify event type
  src/framework/theme/components/chat/chat-form.component.ts
Due: eslint --cache, prettier --check

fix(tabset): remove comments
  src/framework/theme/components/tabset/tabset.component.ts
Due: eslint --cache, prettier --check

style(tabset):rename content variable
  src/framework/theme/components/tabset/tabset.component.ts
Due: eslint --cache, prettier --check

fix(chat): file drop in firefox (#2776)
  src/framework/theme/components/chat/chat-form.component.ts
Due: eslint --cache, prettier --check

refactor(stepper): remove duplicate condition
  src/framework/theme/components/stepper/stepper.component.ts
Due: eslint --cache, prettier --check

refactor(stepper): rename output according to guide
  src/framework/theme/components/stepper/stepper.component.ts
  src/framework/theme/components/stepper/stepper.spec.ts
  src/playground/with-layout/stepper/stepper-step-change-event.component.html
  src/playground/with-layout/stepper/stepper-step-change-event.component.ts
Due: eslint --cache, prettier --check

refactor(stepper): emit previous when resetting
  src/framework/theme/components/stepper/stepper.component.ts
Due: eslint --cache, prettier --check

Path conditions:
  eslint --cache: any of: *.{ts,js}
  stylelint: any of: *.{scss,css}
  prettier --check: any of: *.{ts,scss,html,md,js,css}
