Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

.lintstagedrc.json:

{
  "*.{ts,js}": "eslint --cache",
  "*.{scss,css}": "stylelint",
  "*.{ts,scss,html,md,js,css}": "prettier --check"
}

chore: update angular to 17 in package-smoke
  packages-smoke/package-lock.json
  packages-smoke/package.json
Due: none

chore: update schematics in package-smoke
  packages-smoke/package-lock.json
  packages-smoke/package.json
Due: none

chore: add adjustments after updates
  docs/app/app.module.ts
  packages-smoke/package-lock.json
  packages-smoke/package.json
  packages-smoke/src/app/app.module.ts
  src/app/app.module.ts
Due: eslint --cache, prettier --check

chore: update package-lock for packages-smoke
  packages-smoke/package-lock.json
Due: none

feat: update to Angular 17 (#3236)
  .github/workflows/deploy-docs.yml
  .github/workflows/pr-check.yml
  .nvmrc
  docs/app/app.module.ts
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  packages-smoke/src/app/app.module.ts
  src/app/app.module.ts
  src/framework/auth/package.json
  src/framework/firebase-auth/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
  tools/dev-schematics/new-component/index_spec.ts
Due: eslint --cache, prettier --check

chore: update publish.sh for 12 version
  tools/publish.sh
Due: none

release: 13.0.0
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: none

chore: update angular/cdk to 17 in package-smoke
  packages-smoke/package-lock.json
  packages-smoke/package.json
Due: none

chore: update angular/cdk to 17 in package-smoke (#3237)
  packages-smoke/package-lock.json
  packages-smoke/package.json
Due: none

chore: CHANGELOG.md
  CHANGELOG.md
Due: prettier --check

chore: 13.0.0 (#3238)
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

Allow force updating the position of NbPopoverDirective so it recalculates potential overflow of the window.
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay.ts
  src/framework/theme/components/popover/popover.directive.ts
  src/framework/theme/package.json
Due: eslint --cache, prettier --check

allow multilines textarea input
  src/framework/theme/components/chat/_chat.component.theme.scss
  src/framework/theme/components/chat/chat-form.component.ts
Due: eslint --cache, stylelint, prettier --check

set multiline by default to false
  src/framework/theme/components/chat/chat-form.component.ts
Due: eslint --cache, prettier --check

docs: fix formatting and errors
  docs/articles/.gitkeep
  docs/articles/auth/custom-ui.md
  docs/articles/auth/firebase-authentication.md
  docs/articles/auth/install.md
  docs/articles/auth/oauth2.md
  docs/articles/auth/strategy.md
  docs/articles/auth/token.md
  docs/articles/auth/ui.md
  docs/articles/design-system/enable-customizable-theme.md
  docs/articles/design-system/theme.md
  docs/articles/getting-started/where-to-start.md
  docs/articles/guides/create-page.md
  docs/articles/guides/install-starter-kit.md
  docs/articles/guides/install.md
  docs/articles/migration/200rc8-200rc9-auth.md
  docs/articles/security/acl-configuration.md
  docs/articles/security/install.md
  docs/articles/security/multiple-roles.md
  docs/articles/usability/rtl.md
  src/framework/theme/components/stepper/stepper.component.ts
Due: eslint --cache, prettier --check

fix(theme): fix scss warning and future error
  src/framework/theme/styles/core/theming/_get-value.scss
Due: stylelint, prettier --check

13.0.2-theme
  src/framework/theme/components/menu/menu.component.ts
  src/framework/theme/components/menu/menu.spec.ts
  src/framework/theme/package.json
Due: eslint --cache, prettier --check

fix(styles): applies nb-for-theme mixin when cssCustomProperties is enabled
  src/framework/theme/styles/core/theming/_install.scss
Due: stylelint, prettier --check

chore: update angular packages to 18 versions
  package-lock.json
  package.json
Due: none

chore: update angular eslint packages to 18 versions
  package-lock.json
  package.json
Due: none

chore: update angular fire and firebase
  package.json
Due: none

chore: update angular cdk to 18
  package-lock.json
  package.json
  tools/gulp/tsconfig.json
Due: none

chore: update angular to 18 in framework folder
  .github/workflows/deploy-docs.yml
  .github/workflows/pr-check.yml
  .nvmrc
  src/framework/auth/package.json
  src/framework/firebase-auth/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: none

chore: update angular to 18 in packages-smoke
  packages-smoke/package-lock.json
  packages-smoke/package.json
Due: none

chore: update angular eslint packages to 18 versions in package smoke
  packages-smoke/package-lock.json
  packages-smoke/package.json
Due: none

chore: update @schematics/angular and @angular/cdk to 18 versions in package smoke
  packages-smoke/package-lock.json
  packages-smoke/package.json
Due: none

chore: update npm packages; update lint config(use 9.*.*), fix build after angular 18 updates
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  src/framework/theme/components/cdk/table/cell.ts
  src/framework/theme/components/cdk/table/row.ts
Due: eslint --cache, prettier --check

chore: update angular to 18 (#3262)
  .eslintrc.json
  .github/workflows/deploy-docs.yml
  .github/workflows/pr-check.yml
  .nvmrc
  eslint.config.mjs
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/firebase-auth/package.json
  src/framework/security/package.json
  src/framework/theme/components/cdk/table/cell.ts
  src/framework/theme/components/cdk/table/row.ts
  src/framework/theme/package.json
  tools/gulp/tsconfig.json
Due: eslint --cache, prettier --check

chore: update publish.sh for 13 version
  tools/publish.sh
Due: none

release: 14.0.0
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: none

release: update CHANGELOG.md
  CHANGELOG.md
Due: prettier --check

Release/14.0.0 (#3263)
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

fix(NbTreeGrid): Add a provide for CDK_TABLE
  src/framework/theme/components/tree-grid/tree-grid.component.ts
Due: eslint --cache, prettier --check

fix(NbTreeGrid): Add a provide for CDK_TABLE (#3265)
  src/framework/theme/components/tree-grid/tree-grid.component.ts
Due: eslint --cache, prettier --check

release: 14.0.1
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

release: 14.0.1 (#3268)
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

fix(theme): sass deprecation warning of strict unary operations
  src/framework/theme/styles/core/theming/_get-value.scss
Due: stylelint, prettier --check

fix(theme): sass deprecation warning of strict unary operations (#3271)
  src/framework/theme/styles/core/theming/_get-value.scss
Due: stylelint, prettier --check
