Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

feat: update services, security and fonts on docs
  docs/articles/design-system/resources.md
Due: prettier --check

feat: remove nebular from components
  docs/app/@theme/components/page-tabs/page-tabs.component.ts
  src/framework/theme/components/chat/chat.component.ts
  src/framework/theme/components/datepicker/datepicker.directive.ts
  src/framework/theme/components/icon/icon.component.ts
  src/framework/theme/components/layout/layout.component.ts
  src/framework/theme/components/radio/radio.component.ts
  src/playground/with-layout/chat/chat-colors.component.ts
  src/playground/with-layout/chat/chat-custom-message.component.html
  src/playground/with-layout/chat/chat-showcase.component.html
  src/playground/with-layout/chat/chat-sizes.component.ts
Due: eslint --cache, prettier --check

feat: update security menu
  docs/structure.ts
Due: eslint --cache, prettier --check

feat: register dadosfera icons on default pack
  src/framework/eva-icons/customIcons.ts
  src/framework/eva-icons/eva-icons.module.ts
Due: eslint --cache, prettier --check

chore: update package name
  package.json
Due: none

chore: update package names
  package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
  tools/publish.sh
Due: none

feat: add new docs page
  docs/404.html
  docs/app/@theme/components/search/search.component.ts
  docs/articles/guides/install.md
  docs/articles/guides/maintenance.md
  docs/structure.ts
  docs/versions.json
  package.json
  tools/deploy-docs/config.ts
Due: eslint --cache, prettier --check

chore: add code artificats logout
  package.json
Due: none

feat: update docs
  docs/articles/guides/install.md
  docs/articles/guides/multiple-runtime-themes.md
Due: prettier --check

feat: update runtime themes article
  docs/articles/guides/multiple-runtime-themes.md
Due: prettier --check

feat: add new icon
  src/framework/eva-icons/customIcons.ts
Due: eslint --cache, prettier --check

feat: update design token
  src/framework/theme/styles/themes/_default.scss
Due: stylelint, prettier --check

feat(select): add class to <ul> inside nb-option-list
  src/framework/theme/components/option/option-list.component.ts
Due: eslint --cache, prettier --check

feat(pagination): init pagination component
  docs/app/@theme/styles/styles.scss
  docs/articles/guides/create-page.md
  docs/articles/guides/maintenance.md
  src/app/playground-components.ts
  src/framework/theme/components/button/button.component.ts
  src/framework/theme/components/pagination/pagination.component.html
  src/framework/theme/components/pagination/pagination.component.scss
  src/framework/theme/components/pagination/pagination.component.spec.ts
  src/framework/theme/components/pagination/pagination.component.theme.scss
  src/framework/theme/components/pagination/pagination.component.ts
  src/framework/theme/components/pagination/pagination.module.ts
  src/framework/theme/public_api.ts
  src/framework/theme/styles/global/_components.scss
  src/playground/with-layout/pagination/pagination-routing.module.ts
  src/playground/with-layout/pagination/pagination-showcase.component.html
  src/playground/with-layout/pagination/pagination-showcase.component.scss
  src/playground/with-layout/pagination/pagination-showcase.component.spec.ts
  src/playground/with-layout/pagination/pagination-showcase.component.ts
  src/playground/with-layout/pagination/pagination.module.ts
  src/playground/with-layout/with-layout-routing.module.ts
Due: eslint --cache, stylelint, prettier --check

feat(pagination): fix pagination width
  src/framework/theme/components/pagination/pagination.component.html
  src/framework/theme/components/pagination/pagination.component.scss
  src/framework/theme/components/pagination/pagination.component.ts
Due: eslint --cache, stylelint, prettier --check

feat(pagination): set documentation
  docs/app/@theme/styles/styles.scss
  docs/articles/guides/maintenance.md
  docs/structure.ts
  src/framework/theme/components/pagination/pagination.component.html
  src/framework/theme/components/pagination/pagination.component.theme.scss
  src/framework/theme/components/pagination/pagination.component.ts
  src/framework/theme/styles/global/_components.scss
  src/playground/with-layout/pagination/pagination-showcase.component.html
Due: eslint --cache, stylelint, prettier --check

feat(pagination): update some responsive styles
  src/framework/theme/components/pagination/pagination.component.html
  src/framework/theme/components/pagination/pagination.component.scss
  src/framework/theme/components/pagination/pagination.component.spec.ts
  src/playground/with-layout/pagination/pagination-showcase.component.html
Due: eslint --cache, stylelint, prettier --check

feat(pagination): add disabled option
  src/framework/theme/components/pagination/pagination.component.html
  src/framework/theme/components/pagination/pagination.component.ts
  src/playground/with-layout/pagination/pagination-showcase.component.html
Due: eslint --cache, prettier --check

feat(pagination): fix render test
  src/framework/theme/components/pagination/pagination.component.spec.ts
  src/framework/theme/components/pagination/pagination.component.ts
Due: eslint --cache, prettier --check

feat(pagination): update public_api
  docs/articles/guides/maintenance.md
  src/framework/theme/components/pagination/pagination.module.ts
  src/framework/theme/public_api.ts
Due: eslint --cache, prettier --check

fix(overlay): take 1 on stable event
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay.ts
Due: eslint --cache, prettier --check

fix(cdk): tests
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay.spec.ts
Due: eslint --cache, prettier --check

fix(overlay): take 1 on stable event (#3013)
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay.spec.ts
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay.ts
Due: eslint --cache, prettier --check

release: 9.0.1
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

release: 9.0.1 (#3014)
  CHANGELOG.md
  docs/versions.json
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

feat(pagination): update pagination spacemente
  src/framework/theme/components/pagination/pagination.component.scss
Due: stylelint, prettier --check

fix(menu): prevent `menu-submenu-text-color` from being overridden by `menu-text-color` in custom theme
  src/framework/theme/components/menu/_menu.component.theme.scss
Due: stylelint, prettier --check

feat: add beast logo on initial page
  docs/app/@theme/components/header/header.component.scss
  docs/app/@theme/components/header/header.component.ts
  docs/app/home/home.component.scss
  docs/articles/design-system/resources.md
  docs/assets/img/beast-logo.png
Due: eslint --cache, stylelint, prettier --check

feat: add beast logo on initial page
  docs/app/@theme/components/header/header.component.ts
Due: eslint --cache, prettier --check

docs: update akveo logo
  docs/assets/img/akveo-logo.png
Due: none

fix: select with multiple option NgModel don't fill the component
  src/framework/theme/components/select/select.component.ts
Due: eslint --cache, prettier --check

update logo
  docs/app/@theme/components/header/header.component.ts
  docs/assets/img/beast-logo-1.png
Due: eslint --cache, prettier --check

change paragraph design tokens
  src/framework/eva-icons/customIcons.ts
  src/framework/theme/styles/themes/_default.scss
Due: eslint --cache, stylelint, prettier --check

change design tokens
  src/framework/theme/styles/themes/_default.scss
  src/framework/theme/styles/themes/_mapping.scss
Due: stylelint, prettier --check

feat(login,register): added icon pack option
  src/framework/auth/auth.options.ts
  src/framework/auth/components/login/login.component.html
  src/framework/auth/components/register/register.component.html
Due: eslint --cache, prettier --check

feat(auth): added firebase apple strategy
  docs/articles/auth/firebase-authentication.md
  src/framework/firebase-auth/firebase-auth.module.ts
  src/framework/firebase-auth/public_api.ts
  src/framework/firebase-auth/strategies/apple/firebase-apple.strategy.ts
Due: eslint --cache, prettier --check

update design tokens
  src/framework/theme/styles/themes/_default.scss
  src/framework/theme/styles/themes/_mapping.scss
Due: stylelint, prettier --check

feat(pagination): fix pagination next button
  src/framework/theme/components/pagination/pagination.component.html
  src/framework/theme/components/pagination/pagination.component.ts
Due: eslint --cache, prettier --check

feat(pagination): remove console
  src/framework/theme/components/pagination/pagination.component.ts
Due: eslint --cache, prettier --check

Path conditions:
  eslint --cache: any of: *.{ts,js}
  stylelint: any of: *.{scss,css}
  prettier --check: any of: *.{ts,scss,html,md,js,css}
