Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

.lintstagedrc.json:

{
  "*.{ts,js}": "eslint --cache",
  "*.{scss,css}": "stylelint",
  "*.{ts,scss,html,md,js,css}": "prettier --check"
}

bugfix in version.service.ts
  .github/workflows/deploy-docs.yml
  docs/app/@theme/services/version.service.ts
  package.json
  tools/deploy-docs/build-docs.ts
Due: eslint --cache, prettier --check

release: v7.0.4
  CHANGELOG.md
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay.ts
  src/framework/theme/package.json
Due: eslint --cache, prettier --check

release: v7.0.4 (#3003)
  CHANGELOG.md
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/components/cdk/overlay/dynamic/dynamic-overlay.ts
  src/framework/theme/package.json
Due: eslint --cache, prettier --check

fix(timepicker): correct date parsing
  src/framework/theme/components/timepicker/timepicker.directive.ts
Due: eslint --cache, prettier --check

feat(date-time picker): add dateTime input property
  src/framework/theme/components/datepicker/date-timepicker.component.ts
Due: eslint --cache, prettier --check

fix(piker): emitting value when range-picker range is set or datepicker date is set
  src/framework/theme/components/datepicker/datepicker.component.ts
  src/framework/theme/components/datepicker/datepicker.directive.ts
Due: eslint --cache, prettier --check

Update README.md
  README.md
Due: prettier --check

chore: update config to deploy docs
  docs/index.html
  tools/deploy-docs/config.ts
Due: eslint --cache, prettier --check

chore: update 404 path
  docs/404.html
  docs/index.html
Due: prettier --check

chore: update build docs command
  package.json
Due: none

chore: update versions
  docs/versions.json
Due: none

chore: update versions json
  docs/versions.json
Due: none

feat: update versions path
  docs/versions.json
Due: none

feat: update docs
  docs/articles/getting-started/what-is-nebular.md
Due: prettier --check

chore: add gh token on config
  .github/workflows/deploy-docs.yml
Due: none

feat: change icognita to beast
  README.md
  docs/articles/getting-started/what-is-nebular.md
  docs/index.html
Due: prettier --check

feat: remove some references from nebular
  docs/app/@theme/components/for-business/for-business.component.scss
  docs/app/@theme/components/for-business/for-business.component.ts
  docs/app/@theme/components/header/header.component.ts
  docs/app/@theme/components/hubspot-cta/akveo-services-banner.component.scss
  docs/app/@theme/components/hubspot-cta/akveo-services-banner.component.ts
  docs/app/@theme/components/hubspot-form-dialog/hubspot-form-dialog.component.scss
  docs/app/@theme/components/hubspot-form-dialog/hubspot-form-dialog.component.ts
  docs/app/@theme/components/index.ts
  docs/app/@theme/components/page-toc/page-toc.component.ts
  docs/app/@theme/theme.module.ts
  docs/app/documentation/page/page.component.html
  docs/app/home/home.component.html
  docs/articles/auth/azure.md
  docs/articles/auth/backend-api.md
  docs/articles/auth/custom-ui.md
  docs/articles/auth/firebase-authentication.md
  docs/articles/auth/guard.md
  docs/articles/auth/install.md
  docs/articles/auth/intro.md
  docs/articles/auth/oauth2.md
  docs/articles/auth/redirect.md
  docs/articles/auth/strategy.md
  docs/articles/auth/token.md
  docs/articles/auth/ui.md
  docs/articles/getting-started/about.md
  docs/articles/getting-started/professional-services.md
  docs/articles/getting-started/what-is-beast.md
  docs/articles/guides/backend-integration.md
  docs/articles/guides/server-deployment.md
  docs/articles/migration/200rc8-200rc9-auth.md
  docs/articles/migration/350-400.md
  docs/articles/migration/instructions.md
  docs/structure.ts
Due: eslint --cache, stylelint, prettier --check

feat: test for update design token
  docs/app/@theme/components/hero/hero.component.ts
  docs/app/@theme/components/index.ts
  src/framework/theme/styles/themes/_default.scss
Due: eslint --cache, stylelint, prettier --check

feat: remove some nebular references; fix components overview
  docs/app/@theme/components/header/header.component.ts
  docs/app/blocks/components/components-overview-block/components-overview-block.component.html
  docs/app/blocks/components/components-overview-block/components-overview-block.component.ts
  docs/app/blocks/components/pager-block/pager-block.component.ts
  docs/app/documentation/page/page.component.ts
  docs/app/home/home.component.ts
  docs/articles/guides/install.md
  docs/structure.ts
Due: eslint --cache, prettier --check

chore: deploy docs test
  .github/workflows/deploy-docs.yml
Due: none

chore: show more logs on deploy
  tools/deploy-docs/build-docs.ts
Due: eslint --cache, prettier --check

chore: test new env var
  .github/workflows/deploy-docs.yml
Due: none

chore: test new env var
  tools/deploy-docs/build-docs.ts
Due: eslint --cache, prettier --check

feat: update initial page
  docs/app/@theme/components/footer/footer.component.html
  docs/app/@theme/components/footer/footer.component.scss
  docs/app/@theme/components/hero/hero.component.ts
  docs/app/@theme/components/icon-card/icon-card.component.scss
  docs/app/documentation/documentation.component.html
  docs/app/home/home.component.scss
  docs/app/home/home.component.ts
  docs/assets/img/dadosfera-somente-d.svg
  docs/favicon.ico
Due: eslint --cache, stylelint, prettier --check

chore: update deploy docs
  .github/workflows/deploy-docs.yml
  docs/app/documentation/documentation.component.html
Due: prettier --check

chore: update deploy docs
  tools/deploy-docs/build-docs.ts
Due: eslint --cache, prettier --check

feat: update docs
  docs/app/@theme/components/components-promo/components-promo.component.scss
  docs/app/@theme/components/components-promo/components-promo.component.ts
  docs/app/@theme/components/eva/eva.component.html
  docs/app/@theme/components/eva/eva.component.ts
  docs/app/@theme/components/eva/eva.components.scss
  docs/app/@theme/components/footer/footer.component.html
  docs/app/@theme/components/hero/hero.component.scss
  docs/app/@theme/components/hero/hero.component.ts
  docs/app/@theme/components/index.ts
  docs/app/@theme/theme.module.ts
  docs/app/documentation/documentation.component.scss
  docs/app/home/home.component.html
  docs/app/home/home.component.scss
  docs/app/home/home.component.ts
  docs/articles/design-system/colors.md
  docs/articles/design-system/css-properties.md
  docs/articles/design-system/custom-theme.md
  docs/articles/design-system/enable-customizable-theme.md
  docs/articles/design-system/intro.md
  docs/articles/design-system/multiple-runtime-themes.md
  docs/articles/design-system/resources.md
  docs/articles/design-system/theme-change.md
  docs/articles/design-system/theme.md
  docs/articles/design-system/typography.md
  docs/articles/getting-started/about.md
  docs/articles/getting-started/angular-lib.md
  docs/articles/getting-started/what-is-beast.md
  docs/articles/getting-started/where-to-start.md
  docs/articles/guides/create-page.md
  docs/articles/guides/custom-icons.md
  docs/articles/guides/install-starter-kit.md
  docs/articles/guides/install.md
  docs/articles/guides/multiple-runtime-themes.md
  docs/articles/guides/theme-change.md
  docs/articles/guides/use-theme-variables.md
  docs/articles/security/install.md
  docs/articles/security/intro.md
  docs/structure.ts
Due: eslint --cache, stylelint, prettier --check

feat: update menu top
  docs/app/@theme/components/header/header.component.ts
  docs/app/home/home.component.ts
Due: eslint --cache, prettier --check

feat: update docs
  docs/articles/guides/create-page.md
  docs/articles/guides/install.md
  docs/articles/guides/multiple-runtime-themes.md
  docs/articles/guides/use-theme-variables.md
  docs/articles/usability/rtl.md
Due: prettier --check

feat: update theme-block
  docs/app/blocks/components/theme-block/theme-block.component.html
Due: prettier --check

feat: update docs
  docs/articles/guides/install.md
Due: prettier --check

Update deploy-docs.yml
  .github/workflows/deploy-docs.yml
Due: none

chore: remove no silent mode
  tools/deploy-docs/build-docs.ts
Due: eslint --cache, prettier --check

feat: update services, security and fonts on docs
  docs/articles/design-system/resources.md
  docs/articles/security/acl-configuration.md
  docs/articles/security/install.md
  docs/articles/security/intro.md
  docs/articles/security/multiple-roles.md
  src/framework/theme/services/scroll.service.ts
  src/framework/theme/services/theme.service.ts
Due: eslint --cache, prettier --check
