Repository akveo/nebular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --check

feat(pagination): new pagination logic
  src/framework/theme/components/pagination/pagination.component.html
  src/framework/theme/components/pagination/pagination.component.scss
  src/framework/theme/components/pagination/pagination.component.ts
Due: eslint --cache, stylelint, prettier --check

feat: update design token
  src/framework/theme/styles/themes/_default.scss
Due: stylelint, prettier --check

fix(pagination): fix total count
  src/framework/theme/components/pagination/pagination.component.html
Due: prettier --check

feat: update pagination with changes
  src/framework/theme/components/pagination/pagination.component.ts
  src/playground/with-layout/pagination/pagination-showcase.component.html
  src/playground/with-layout/pagination/pagination-showcase.component.ts
  src/playground/with-layout/pagination/pagination.module.ts
Due: eslint --cache, prettier --check

feat: update icons
  package-lock.json
  src/framework/eva-icons/customIcons.ts
Due: eslint --cache, prettier --check

docs: update install and maintenance docs
  docs/articles/guides/install.md
  docs/articles/guides/maintenance.md
  src/framework/eva-icons/customIcons.ts
Due: eslint --cache, prettier --check

feat: add new icons and design toksn
  src/framework/eva-icons/customIcons.ts
  src/framework/theme/styles/themes/_mapping.scss
Due: eslint --cache, stylelint, prettier --check

docs: update docs
  docs/articles/guides/install.md
  docs/articles/guides/maintenance.md
Due: prettier --check

feat: update real icon
  src/framework/eva-icons/customIcons.ts
Due: eslint --cache, prettier --check

feat: update button text transform
  src/framework/theme/styles/themes/_mapping.scss
Due: stylelint, prettier --check

docs: update install
  docs/articles/guides/install.md
Due: prettier --check

feat(icons): update custom icons
  package-lock.json
  src/framework/eva-icons/customIcons.ts
Due: eslint --cache, prettier --check

docs: update docs
  docs/articles/guides/create-page.md
  docs/articles/guides/multiple-runtime-themes.md
  docs/articles/security/acl-configuration.md
  packages-smoke/src/styles.scss
Due: stylelint, prettier --check

fix(select): multiselect first dynamic render
  src/framework/theme/components/select/select.component.ts
Due: eslint --cache, prettier --check

feat: add possibility to know if option hidden
  src/framework/theme/components/option/option.component.ts
Due: eslint --cache, prettier --check

feat: add keyboard navigation
  src/framework/theme/components/select/select.component.html
  src/framework/theme/components/select/select.component.ts
  src/framework/theme/components/select/select.spec.ts
Due: eslint --cache, prettier --check

fix: fix opening select when multiple and search enabled
  src/framework/theme/components/select/select.component.ts
Due: eslint --cache, prettier --check

feat: add select on enter
  src/framework/theme/components/select/select.component.ts
Due: eslint --cache, prettier --check

refactor: remove unused import
  src/framework/theme/components/select/select.component.ts
Due: eslint --cache, prettier --check

refactor: move select autocomplete feature to separate component
  src/framework/theme/components/select-with-autocomplete/_select-with-autocomplete-filled.scss
  src/framework/theme/components/select-with-autocomplete/_select-with-autocomplete-hero.scss
  src/framework/theme/components/select-with-autocomplete/_select-with-autocomplete-outline.scss
  src/framework/theme/components/select-with-autocomplete/_select-with-autocomplete.component.theme.scss
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.component.html
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.component.scss
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.component.ts
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.module.ts
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.spec.ts
  src/framework/theme/components/select/select.module.ts
  src/framework/theme/public_api.ts
  src/framework/theme/styles/global/_components.scss
  src/playground/with-layout/select/select-search-showcase.component.html
  src/playground/with-layout/select/select.module.ts
Due: eslint --cache, stylelint, prettier --check

refactor: rename search to autocomplete
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.component.html
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.component.ts
  src/playground/with-layout/select/select-search-showcase.component.html
Due: eslint --cache, prettier --check

fix: layout component theme
  src/framework/theme/components/layout/_layout.component.theme.scss
Due: stylelint, prettier --check

refactor: rename autocomplete show case
  src/app/playground-components.ts
  src/playground/with-layout/select/select-autocomplete-showcase.component.html
  src/playground/with-layout/select/select-autocomplete-showcase.component.ts
  src/playground/with-layout/select/select-routing.module.ts
  src/playground/with-layout/select/select.module.ts
Due: eslint --cache, prettier --check

fix: fix dynamic change of withOptionsAutocomplete
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.component.ts
Due: eslint --cache, prettier --check

feat: add to showcase possibility to enable/disable autocomplete
  src/playground/with-layout/select/select-autocomplete-showcase.component.html
  src/playground/with-layout/select/select-autocomplete-showcase.component.ts
Due: eslint --cache, prettier --check

fix: fix button focus after closing options
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.component.ts
Due: eslint --cache, prettier --check

feat: add keyboad navigation to select with autocomplete (#3097)
  src/app/playground-components.ts
  src/framework/theme/components/option/option.component.ts
  src/framework/theme/components/select-with-autocomplete/_select-with-autocomplete-filled.scss
  src/framework/theme/components/select-with-autocomplete/_select-with-autocomplete-hero.scss
  src/framework/theme/components/select-with-autocomplete/_select-with-autocomplete-outline.scss
  src/framework/theme/components/select-with-autocomplete/_select-with-autocomplete.component.theme.scss
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.component.html
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.component.scss
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.component.ts
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.module.ts
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.spec.ts
  src/framework/theme/components/select/select.module.ts
  src/framework/theme/public_api.ts
  src/framework/theme/styles/global/_components.scss
  src/playground/with-layout/select/select-autocomplete-showcase.component.html
  src/playground/with-layout/select/select-autocomplete-showcase.component.ts
  src/playground/with-layout/select/select-routing.module.ts
  src/playground/with-layout/select/select.module.ts
Due: eslint --cache, stylelint, prettier --check

release: 9.1.0-rc.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

release: 9.1.0-rc.2 (#3101)
  CHANGELOG.md
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

fix(select-with-autocomplete): fix first render with disabled autocomplete
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.component.ts
Due: eslint --cache, prettier --check

fix(select-with-autocomplete): fix first render with disabled autocomplete (#3104)
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.component.ts
Due: eslint --cache, prettier --check

release: 9.1.0-rc.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

release: 9.1.0-rc.3 (#3106)
  CHANGELOG.md
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

feat(input): add more input color options
  src/framework/theme/components/input/_input-statuses.scss
  src/framework/theme/components/select-with-autocomplete/_select-with-autocomplete-filled.scss
  src/framework/theme/components/select-with-autocomplete/_select-with-autocomplete-hero.scss
  src/framework/theme/components/select-with-autocomplete/_select-with-autocomplete-outline.scss
  src/framework/theme/components/select/_select-filled.scss
  src/framework/theme/components/select/_select-hero.scss
  src/framework/theme/components/select/_select-outline.scss
  src/framework/theme/styles/themes/_mapping.scss
Due: stylelint, prettier --check

feat(input): add more input color options (#3108)
  src/framework/theme/components/input/_input-statuses.scss
  src/framework/theme/components/select-with-autocomplete/_select-with-autocomplete-filled.scss
  src/framework/theme/components/select-with-autocomplete/_select-with-autocomplete-hero.scss
  src/framework/theme/components/select-with-autocomplete/_select-with-autocomplete-outline.scss
  src/framework/theme/components/select/_select-filled.scss
  src/framework/theme/components/select/_select-hero.scss
  src/framework/theme/components/select/_select-outline.scss
  src/framework/theme/styles/themes/_mapping.scss
Due: stylelint, prettier --check

release: 9.1.0-rc.4
  CHANGELOG.md
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

release: 9.1.0-rc.4 (#3109)
  CHANGELOG.md
  package-lock.json
  package.json
  packages-smoke/package-lock.json
  packages-smoke/package.json
  src/framework/auth/package.json
  src/framework/bootstrap/package.json
  src/framework/date-fns/package.json
  src/framework/eva-icons/package.json
  src/framework/firebase-auth/package.json
  src/framework/moment/package.json
  src/framework/security/package.json
  src/framework/theme/package.json
Due: prettier --check

fix: add to boolean convert
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.component.ts
Due: eslint --cache, prettier --check

fix: fix double click in some scenarios
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.component.html
Due: prettier --check

fix: fix multiple input toggling
  src/framework/theme/components/select-with-autocomplete/select-with-autocomplete.component.ts
Due: eslint --cache, prettier --check

Path conditions:
  eslint --cache: any of: *.{ts,js}
  stylelint: any of: *.{scss,css}
  prettier --check: any of: *.{ts,scss,html,md,js,css}
